/* Dashboasrd Buttons */
.btn {
  border-radius:0px;
  font-weight:lighter;
}

button, input {
  outline:none !important;
}

.btn-default {
  color:#333333 !important;
  	&:hover {
		background-color: #ecf0f1 !important;
		border-color: #ecf0f1 !important;
	}
}

.dashboard-default, .dashboard-primary, .dashboard-success, .dashboard-info, .dashboard-warning, .dashboard-danger {
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}