//Select2 customized
.select2 {
  border-radius: 0px !important;
  border: none !important;
  padding-left: 0px !important;
  width: 100% !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;

  .select2-selection {
    border-radius: 0px !important;
    border: none !important;

    &:focus {
      outline: none;
    }

    .select2-selection__rendered {
      color: #9e9e9e !important;
    }

  }

}

.select2-container.select2-container--open {
  .select2-dropdown--below,
  .select2-dropdown--above {
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.07);

    .select2-results__option--highlighted[aria-selected] {
      background-color: #f5f5f5 !important;
      color: #9A9A9A !important;
      font-size: 13px !important;
      text-decoration: none !important;
    }

    .select2-results__option[role=group] {
      padding: 0px !important;
    }

    .select2-results__option {
      color: #9A9A9A !important;
      font-size: 13px !important;
      padding: 14px 16px !important;
    }

    .select2-results>.select2-results__options {
      max-height: none !important;
      overflow-y: visible !important;
    }

    .select2-results__option {
      color: #9A9A9A !important;
      font-size: 13px !important;
    }

    .select2-search__field {
      border: 1px solid rgba(0, 0, 0, 0.07) !important;

      &:focus {
        border: 1px solid #67b2e4 !important;
      }

    }

  }

}

// Input fields customized
.input-field {
  margin-top: 1rem;
  position: relative;

  input:not([type]),
  input[type=text]:not(#flat_email):not(.normal-text):not(.input-mini),
  input[type=password],
  input[type=email]:not(#searchTB):not(#flat_email) {
    background-color: transparent;
    border-radius: 0;
    border: none;
    box-shadow: none;
    box-sizing: content-box;
    font-size: 13px;
    height: 3rem;
    margin: 0 0 0 0;
    outline: none;
    padding: 0;
    transition: all 0.3s;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    line-height: normal;
  }

  input {
    &:not(#searchTB) {
      not(.select2-search__field) {
        focus {
          border-bottom: 1px solid #67b2e4 !important;
        }

      }

    }

  }

  .has-feedback.has-success>input {
    &:not(#searchTB) {
      &:focus {
        border-bottom: 1px solid #3c763d !important;
      }

    }

  }

  .prefix ~ input,
  .prefix ~ label {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
  }

  .prefix {
    position: absolute;
    width: 3rem;
    transition: color .2s;
  }

  .material-icons.prefix.active {
    color: #67b2e4;
  }

  #user_prefix {
    margin-left: 2em !important;
    width: 85% !important;
  }

  #pass_prefix {
    margin-left: 2em !important;
    width: 85% !important;
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  label {
    color: #9e9e9e;
    cursor: text;
    font-size: 13px;
    left: 0;
    position: absolute;
    font-weight: 400;
    top: 0.8rem;
    transition: .2s ease-out;
  }

  label.active {
    -webkit-transform: translateY(-140%);
    color: #67b2e4;
    font-size: 10px;
    transform: translateY(-140%);
  }

}

.has-error>input {
  border-bottom: 1px solid #a94442 !important;
}

//Slide toggles
.toggleswitch {
  margin-top: 10px;
  margin-bottom: 8px;
  display: inline-block;

  .ch-toggle {
    position: absolute;
    visibility: hidden;

    & + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      padding: 2px;
      width: 50px;
      height: 30px;
      background-color: #dddddd;
      border-radius: 60px;

      &:before {
        right: 1px;
        background-color: #f1f1f1;
        border-radius: 60px;
        transition: background 0.1s;
        bottom: 1px;
        content: "";
        display: inline;
        left: 1px;
        position: absolute;
        top: 1px;
      }

      &:after {
        width: 30px;
        background-color: #fff;
        border-radius: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        transition: margin 0.1s;
        bottom: 1px;
        content: "";
        display: inline;
        left: 1px;
        position: absolute;
        top: 1px;
      }

    }

    &:checked {
      +label {
        &:after {
          margin-left: 20px;
        }

      }

    }

    &-green {
      &:checked+label {
        &:before {
          background-color: #2ecc71;
        }

      }

    }

    &-blue {
      &:checked+label {
        &:before {
          background-color: #3498db;
        }

      }

    }

    &-red {
      &:checked+label {
        &:before {
          background-color: #e74c3c;
        }

      }

    }

    &-navy {
      &:checked+label {
        &:before {
          background-color: #34495e;
        }

      }

    }

    &-white {
      &:checked+label {
        &:before {
          background-color: #ffffff;
        }

      }

    }

  }

}

//Checkboxes
.checkbox {
  padding-left: 25px;

  input[type="checkbox"] {
    opacity: 0;

    &:checked +label {
      &:after {
        font-family: 'FontAwesome';
        content: "\f00c";
      }

    }

  }

  label {
    display: inline-block;
    position: relative;
    padding-left: 0px;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px;

    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -25px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }

    &:after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-left: -25px;
      left: 0;
      top: 0;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555;
    }

  }

  &-primary {
    input[type="checkbox"] {
      &:checked+label {
        &:before {
          background-color: #67b2e4;
          border-color: #67b2e4;
        }

        &:after {
          color: #fff
        }

      }

    }

  }

  &-success {
    input[type="checkbox"] {
      &:checked+label {
        &:before {
          background-color: #62d995;
          border-color: #62d995;
        }

        &:after {
          color: #fff
        }

      }

    }

  }

  &-info {
    input[type="checkbox"] {
      &:checked+label {
        &:before {
          background-color: #99cbed;
          border-color: #99cbed;
        }

        &:after {
          color: #fff
        }

      }

    }

  }

  &-warning {
    input[type="checkbox"] {
      &:checked+label {
        &:before {
          background-color: #f5d34b;
          border-color: #f5d34b;
        }

        &:after {
          color: #fff
        }

      }

    }

  }

  &-danger {
    input[type="checkbox"] {
      &:checked+label {
        &:before {
          background-color: #ed796d;
          border-color: #ed796d;
        }

        &:after {
          color: #fff
        }

      }

    }

  }

}

//Circle checkboxes
.checkbox-circle {
  label {
    &:before {
      border-radius: 50%;
    }

  }

}

//Yes-No checkboxes
.yes-no-check {
  margin-left: 15px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 2em;
  text-align: justify;

  .btn {
    padding: 6px 12px 6px 12px;

    .active.btn-success {
      background-color: #62d995;
      border-color: #62d995;
    }

  }

}