.modal {
    .modal-dialog {
        .modal-content {
            border-radius: @no-radius;

            .modal-body {
                input {
                    padding: 1px 0px;
                }

                #email-label {
                    font-size: 10px;
                    color: #67b2e4;
                    -webkit-transform: translateY(-140%);
                    transform: translateY(-140%);
                }

                #password-label {
                    font-size: 10px;
                    color: #67b2e4;
                    -webkit-transform: translateY(-140%);
                    transform: translateY(-140%);
                }

                .right-modal-content {
                    text-align: center;
                }

                .right-button {
                    width: 50%;
                    margin-bottom: 10px;
                }

                .jumbotron {
                    .padding(5px);
                    border-radius: @no-radius;

                    .glyphicon-search {
                        font-size: 26px;
                        margin-top: 10px;
                        cursor: pointer;
                        color: @default-dark;
                    }

                    #flat_email {
                        border-radius: @no-radius;
                        height: 50px;
                        font-size: 16px;
                        border: none;
                        box-shadow: none;
                        background-color: @gray-eee;
                        padding-left: 10px;
                        width: 92%;
                        display: inline;
                    }

                }

            }

            .custome-margin {
                margin-top: 40%;
            }

            .modal-footer {
                .modal-close {
                    float: left
                }

            }

        }

    }

    .middle-dialog {
        margin-top: 15%;
    }

}


