.modal {
    .modal-content {
        border-radius: @no-radius;
        input {
            padding: 1px 0px;
        }
    }
    .modal-dialog {
        .custome-margin {
            margin-top: 40%;
        }
        .modal-body {
            .right-modal-content {
                text-align: center;
            }
            .right-button {
                width: 50%;
                margin-bottom: 10px;
            }
            .jumbotron {
            	.padding(5px);
                border-radius: @no-radius;
                .glyphicon-search {
                    font-size: 26px;
                    margin-top: 10px;
                    cursor: pointer;
                    color: @default-dark;
                }
                #flat_email {
                    border-radius:  @no-radius;
                    height: 50px;
                    font-size: 16px;
                    border: none;
                    box-shadow: none;
                    background-color: @gray-eee;
                    padding-left: 10px;
                    width: 92%;
                    display: inline;
                }
            }
        }
    }
    .middle-dialog {
        top: 15%;
    }
    .modal-footer {
        .modal-close {
            float: left
        }
    }
}

// move to main
p {
    font-size: @paragraph;
}

button,
input {
    outline: none !important;
}

//move to animation
.padding(@paddingvalue) {
    padding: @paddingvalue !important;
}

//move to variables
@gray-eee:#eee;
