.users-table,
.dashed-table,
.colored-table {
  .table-head {
    .basic-th {
      color: rgba(0, 0, 0, 0.7);
      border-bottom-width: 1px !important;
      font-weight: normal;
    }

    &.colord-table-head {
      font-weight: normal;

      .dashboard-th {
        h5 {
          color: @white-color;
          padding: 0px !important;
          margin: 0px !important;
        }

      }

    }

  }

  .users-table-body {
    tr {
      .css-effect(all 0.5s ease);

      td {
        img {
          width: 6em;
          height: auto;
          float: left;
          margin-right: 0.6em;
        }

      }

      .active-user-row {
        color: @info-mid-color !important;
      }

    }

    .active-user-acount {
      img {
        border-left: 4px solid @info-mid-color !important;
      }

    }

    .not-active-user-acount {
      img {
        border-left: 4px solid #c6cccc !important;
        filter: grayscale(100%);
      }

    }

  }

  td,
  th {
    .padding(20px);
    border-bottom: @tables-border;
    border-top: 0pc !important;
    font-weight: 100;
    font-size: 13px;
    color: @paragraph-color !important;
    vertical-align: top !important;
    padding-left: 10px !important;
  }

  &.dashed-row-style {
    td {
      border-left: 15px solid @white-color !important;

      &.done-task {
        text-decoration: line-through;
        color: @success-mid-color !important;
      }

      &.inprogress-task {
        color: @warning-mid-color !important;
      }

      &.hold-task {
        color: @danger-mid-color !important;
      }

    }

  }

}
