.table.table-hover {
    margin-top: 8px;
}

.table-head {
    color: #3B97D2;
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    border-bottom: 1px solid #ddd !important;
    border-top: 0 !important;
}

.active-user-acount,
.not-active-user-acount {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.content-padding {
    padding: 20px !important;
    padding-left: 10px !important;
    font-weight: 100;
    font-size: 13px;
    color: #707A7A;
    vertical-align: top !important;
}

.users-table-format tr td img {
    width: 6em;
    height: auto;
    float: left;
    margin-right: 0.6em;
}

.active-user-acount td img {
    border-left: 4px solid #67b2e4 !important;
}

.not-active-user-acount td img {
    border-left: 4px solid #C6CCCC !important;
    filter: grayscale(100%);
}

.active-user-row {
    color: #67b2e4 !important;
}

.not-active-user-row {
    color: #C6CCCC !important;
}

.dashed-row-style tr td {
    border-left: 15px solid #fff !important;
}

.basic-th {
    color: rgba(0, 0, 0, 0.7);
    border-bottom-width: 1px !important;
    font-weight: normal;
}

.done-task {
    text-decoration: line-through;
}

.done-task {
    color: #62d995 !important;
}

.inprogress-task {
    color: #f5d34b !important;
}

.hold-task {
    color: #ed796d !important;
}

.dashboard-th {
    color: #fff;
}

.colored-table-head {
    font-weight: normal;
}


/*move to main*/

.no-left-right-padding {
    padding-left: 0em !important;
    padding-right: 0em !important;
}

.info-mid {
    background-color: #67b2e4 !important;
}
