    .statistics {
        .col-md-12 {
            .statistics-taps {
                margin: 0px auto;
                width: 100%;
                ul {
                    list-style: none;
                    height: auto;
                    display: table;
                    text-align: center;
                    padding-left: 0px;
                    margin: 0px auto;
                    li.active {
                        a {
                            color: @head-background;
                            border-bottom: 4px solid @head-background;
                        }
                    }
                    li {
                        float: left;
                        margin: 0em 1em;
                        a {
                            .padding-diffrent-values(0em, 1em, 1em, 1em);
                            font-size: 1.2em;
                            color: @title-color;
                            text-shadow: none;
                            .padding-diffrent-values(1.4em, 1em, 1em, 1em);
                            display: inline-block;
                            position: relative;
                            text-decoration: none;
                            font-weight: bold;
                            .css-effect(all 0.5s ease);
                        }
                        &:hover,
                        &:focus {
                            a {
                                color: @head-background;
                                border-bottom: 4px solid @head-background;
                            }
                        }
                    }
                }
            }
            .col-contint {
                .statistics-item {
                    width: 100%;
                    background-color: @white;
                    padding: 1.5em 0em;
                    border-radius: 3px;
                    .row {
                        .col-sm-12 {
                            .tabs-head-title {
                                margin-top: 0px;
                                font-weight: lighter;
                                color: rgba(0, 0, 0, 0.7);
                            }
                        }
                    }
                }
            }
        }
    }
    
    #bordered-tab {
        border: 0px !important;
        background: none;
        border-radius: 0 !important;
        .nav-style {
            li {
                width: 25%;
                text-align: center;
                a {
                    color: @paragraph-color;
                }
                .active {
                    a {
                        border-right: 0 !important;
                        border-left: 0 !important;
                        border-top: 5px solid @info-mid;
                        border-top-right-radius: 0 !important;
                        border-top-left-radius: 0 !important;
                    }
                }
            }
        }
        .active {
            a {
                border-top: 5px solid @info-mid;
            }
        }
    }
    
    .tab-content {
        background-color: @white;
        padding: 1em 0.5em;
        overflow: hidden;
        .tabs-head-title {
            margin-top: 0px;
            font-weight: lighter;
            color: rgba(0, 0, 0, 0.7);
        }
    }
    
    div.bhoechie-tab-menu3 {
        float: right;
        padding: 0px !important;
        div.list-group {
            a.active {
                &:after {
                    content: '';
                    position: absolute;
                    left: -0.6em;
                    top: 50%;
                    margin-top: -13px;
                    border-left: 0;
                    border-top: 13px solid transparent;
                    border-bottom: 13px solid transparent;
                    border-right: 10px solid @head-background;
                }
            }
        }
    }
    
    div.bhoechie-tab-menu,
    div.bhoechie-tab-menu3,
    div.bhoechie-tab-menu2 {
        div.list-group {
            margin-bottom: 0;
            a {
                margin-bottom: 0;
            }
            .list-group-item {
                border: 0 !important;
                &:first-child, &:last-child {
                    border-top-left-radius: 0px !important;
                    border-top-right-radius: 0px !important;
                }
            }
            .list-group-item.active.text-center {
                background-color: @info-mid !important;
                border-color: @info-mid;
            }
            a.active {
                background-color: @info-mid;
                color: @white;
                .glyphicon,
                .fa {
                    background: none !important;
                    background-color: @head-background;
                    background-image: @head-background;
                    color: @white;
                }
            }
        }
    }
    
    .bhoechie-tab,
    .bhoechie-tab2,
    .bhoechie-tab3 {
        .bhoechie-tab-content {
            background-color: @white;
            &:not(.active) {
                display: none;
            }
            h1 {
                color: @head-background;
                font-size: 5em;
                text-align: center !important;
            }
            h3 {
                margin-top: 0;
                font-weight: lighter;
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
    
    .single-tap {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 1em;
        cursor: pointer;
        .single-tap-title {
          .css-effect(all .3s ease-in-out);
            padding: 1em;
            font-size: 1.2em;
            font-weight: lighter;
            color: @head-background;
            width: 100%;
            background: @white;
            text-align: left;
            border: @nav-link-border;
            border-radius: 3px;
            &:hover {
                background: #FAFAFA;
            }
            .toggle-icon1 {
                float: right;
            }
            p {
                text-align: left;
                font-size: 0.8em;
                color: #8c8c8c;
            }
        }
    }
    
    div.bhoechie-tab-menu2 {
        padding: 0px !important;
        margin-bottom: 1em;
        div.list-group {
            margin-bottom: 0;
            a {
                margin-bottom: 0;
            }
            .icon-tap-width {
                width: 20%;
                float: left;
            }
        }
    }
    
    @media(max-width:1028px) {
        .statistics {
            .statistics-taps {
                li {
                    a {
                        text-align: center;
                    }
                }
            }
        }
    }
    /*move to main*/
    
    .col-contint-taps {
        min-height: 10em;
        overflow: hidden;
    }
    
    //move to animation
    .padding-diffrent-values(@value1 , @value2, @value3, @value4) {
        padding: @value1 @value2, @value3, @value4;
    }
