.statistics .statistics-taps {
    width: 100%;
    margin: 0 auto;
}

.statistics .statistics-taps ul {
    list-style: none;
    height: auto;
    display: table;
    text-align: center;
    padding-left: 0;
    margin: 0 auto;
}

.statistics .statistics-taps li {
    float: left;
    margin: 0em 1em;
}

.statistics .statistics-taps li.active a,
.statistics .statistics-taps li:hover > a {
    color: #3B97D2;
    border-bottom: 4px solid #3B97D2;
}

.statistics .statistics-taps li.active > a::after {
    height: 1em;
    width: .8em;
    border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    border-bottom: 5px solid #e1e4d9;
    display: block;
    padding-bottom: .2em;
    margin: 0 auto;
    position: absolute;
}

.statistics .statistics-taps li a {
    padding: 0em 1em 1em 1em !important;
}

.statistics .statistics-taps li a {
    font-size: 1.2em;
    color: #34495E;
    text-shadow: none;
    padding: 1.4em 1em 1em 1em;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.statistics-item {
    width: 100%;
    background-color: #fff;
    padding: 1.5em 0em;
    border-radius: 3px;
}

.statistics-item .row .col-sm-2 {
    text-align: center;
    width: 20% !important;
}

.statistics-item .row .col-sm-2 img {
    margin: 0 auto;
}

.statistics-item .row .col-sm-2 h4 {
    line-height: 1.5em;
}

.tabs-head-title {
    margin-top: 0;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.7);
}
.nav-tabs {
  border: 0px !important;
}

.nav-style {
background: none;
border-radius: 0 !important;
}
.nav-style li {
  width: 25%;
  text-align: center;
}
#bordered-tab > .active > a {
  border-top: 5px solid #67b2e4;
}
#bordered-tab > li > a {
  color: #707A7A;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-right: 0 !important;
  border-left: 0 !important;
  border-top: 5px solid #67b2e4;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.tab-content {
background-color: #fff;
padding: 1em 0.5em;
overflow: hidden;
}

div.bhoechie-tab-menu div.list-group > a.active .glyphicon {
  background: none !important;
}

div.bhoechie-tab-menu div.list-group > a.active,
div.bhoechie-tab-menu div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu div.list-group > a.active .fa {
  background-color: #3B97D2;
  background-image: #3B97D2;
  color: #ffffff;
}

.bhoechie-tab h1 {
  color: #67b2e4 !important;
}

.bhoechie-tab h1 {
  color: #3B97D2;
  font-size: 5em;
  text-align: center !important;
}
.list-group-item.active.text-center {
  background-color: #67b2e4 !important;
  border-color: #67b2e4;
}
.list-group-item {
  border: 0 !important;
}

div.bhoechie-tab-menu3 div.list-group > a .glyphicon, div.bhoechie-tab-menu3 div.list-group > a .fa {
    color: #67b2e4;
}

.list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

div.bhoechie-tab-menu3 {
  padding: 0px !important;
  float: right;
}
div.bhoechie-tab-menu3 div.list-group {
  margin-bottom: 0;
}

div.bhoechie-tab-menu3 div.list-group > a {
  margin-bottom: 0;
}
div.bhoechie-tab-menu3 div.list-group > a.active,
div.bhoechie-tab-menu3 div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu3 div.list-group > a.active .fa {
  background-color: #3B97D2;
  background-image: #3B97D2;
  color: #ffffff;
}

.single-tap .single-tap-title {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  padding: 1em;
  font-size: 1.2em;
  font-weight: lighter;
  color: #3B97D2;
  width: 100%;
  background: #fff;
  text-align: left;
  border: 1px solid #E4E5E7;
  border-radius: 3px;
}

div.bhoechie-tab-content {
  background-color: #ffffff;
}
div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
  display: none;
}
div.bhoechie-tab3 div.bhoechie-tab-content:not(.active) {
  display: none;
}
div.bhoechie-tab-menu3 div.list-group > a.active:after {
  content: '';
  position: absolute;
  left: -0.6em;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-right: 10px solid #3B97D2;
}
.single-tap {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  cursor: pointer;
}

.toggle-icon1 {
  float: right;
}
.single-tap-title p {
  text-align: left;
  font-size: 0.8em;
  color: #8c8c8c;
}
.single-tap .single-tap-title:hover {
  background: #FAFAFA;
}

.col-contint-taps {
  min-height: 10em;
  overflow: hidden;
}

div.bhoechie-tab-menu2 {
  padding: 0px !important;
  margin-bottom: 1em;
}

div.bhoechie-tab-menu2 div.list-group {
  margin-bottom: 0;
}

div.bhoechie-tab-menu2 div.list-group > a {
  margin-bottom: 0;
}

div.bhoechie-tab-menu2 div.list-group > a .glyphicon,
div.bhoechie-tab-menu2 div.list-group > a .fa {
  color: #3B97D2;
}

div.bhoechie-tab-menu2 div.list-group > a:first-child {
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu2 div.list-group > a:last-child {
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu2 div.list-group > a.active,
div.bhoechie-tab-menu2 div.list-group > a.active .glyphicon,
div.bhoechie-tab-menu2 div.list-group > a.active .fa {
  background-color: #3B97D2;
  background-image: #3B97D2;
  color: #ffffff;
}

div.bhoechie-tab-menu2 div.list-group > a.active:after {
  content: '';
  position: absolute;
  left: 100%;
  top: 100%;
  left: 37%;
  margin-top: 0px;
  border-left: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 10px solid #3B97D2;
}

.icon-tap-width {
  width: 20%;
  float: left;
}

div.bhoechie-tab2 div.bhoechie-tab-content:not(.active) {
  display: none;
}
.bhoechie-tab2 h1 {
  color: #3B97D2;
  font-size: 5em;
  text-align: center !important;
}
@media(max-width:1028px) {
    .statistics .statistics-taps li a {
        text-align: center;
    }
}

@media(max-width:768px) {
    .statistics .statistics-taps li a {
        text-align: center;
    }
}
