.tabs-container {
    .tabs-header {
        .statistics-taps {
            width: 100%;
            margin: 0 auto;
            ul {
                list-style: none;
                height: auto;
                display: table;
                text-align: center;
                padding-left: 0;
                margin: 0 auto;
                li.active {}
                li {
                    float: left;
                    margin: 0em 1em;
                    &:hover>a {
                        border-bottom: 4px solid #3B97D2;
                        color: #3B97D2;
                    }
                    a {
                        padding: 0em 1em 1em 1em !important;
                        -moz-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        color: #34495E;
                        display: inline-block;
                        font-size: 1.2em;
                        font-weight: bold;
                        padding: 0em 1em 1em 1em !important;
                        padding: 1.4em 1em 1em 1em;
                        position: relative;
                        text-decoration: none;
                        text-shadow: none;
                        transition: all 0.5s ease;
                    }
                    &.active {
                        float: left;
                        margin: 0em 1em;
                        a {
                            color: #3B97D2;
                            border-bottom: 4px solid #3B97D2;
                        }
                    }
                }
            }
        }
        .nav-tabs {
            border: 0px !important;
            &>li.active>a {
                border-left: 0 !important;
                border-right: 0 !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
                &:focus {
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }
                &:hover {
                    border-top-left-radius: 0 !important;
                    border-top-right-radius: 0 !important;
                }
            }
            &.list-group {
                margin-bottom: 0px;
                .list-group-item {
                    &.active {
                        &.text-center {
                            background-color: #67b2e4 !important;
                            border-color: #67b2e4;
                        }
                    }
                }
            }
            &.left-tab-arrow {
                li {
                    padding: 0px;
                    width: 100%;
                    text-align: center;
                    border: none;
                    a {
                        border: none;
                        background: none;
                        color: #555;
                        h4 {
                            color: #67b2e4;
                        }
                    }
                    &.active {
                        &>a {
                            background-color: #67b2e4;
                            color: #ffffff;
                            border: none;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            left: 100%;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-bottom: 13px solid transparent;
                            border-top: 13px solid transparent;
                            border-left: 10px solid #67b2e4;
                        }
                        h4 {
                            color: #ffffff;
                        }
                    }
                }
            }
            &.right-tab-arrow {
                li {
                    padding: 0px;
                    width: 100%;
                    text-align: center;
                    border: none;
                    a {
                        border: none;
                        background: none;
                        color: #67b2e4;
                    }
                    &.active {
                        &>a {
                            background-color: #67b2e4;
                            color: #fff;
                            border: none;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            left: -0.6em;
                            top: 50%;
                            margin-top: -13px;
                            border-left: 0;
                            border-top: 13px solid transparent;
                            border-bottom: 13px solid transparent;
                            border-right: 10px solid #67b2e4;
                        }
                    }
                }
            }
        }
        .nav-pills {
            &>li {
                a {
                    border-radius: 0px;
                    color: #707A7A;
                }
                &.active > a {
                    color: #fff;
                    background: #67b2e4;
                }
                &+li {
                    margin: 0px !important;
                }
            }
        }
        .bordered-tab {
            &> .active > a {
                border-top: 5px solid #67b2e4;
            }
            li {
                &> a {
                    color: #707A7A;
                }
                &:not(.active)>a {
                    border-top: 5px solid #ffffff;
                }
            }
        }
        &.left-tabs-header {
            width: 20%;
            float: left;
        }
        &.right-tabs-header {
            width: 20%;
            float: right;
        }
        .top-tab-arrow {
            .active {
                a {
                    background-color: #67b2e4 !important;
                    color: #fff;
                    border-top: 0px;
                    &:after {
                        content: '';
                        position: absolute;
                        left: 100%;
                        top: 100%;
                        left: 37%;
                        margin-top: 0px;
                        border-left: 0;
                        border-left: 13px solid transparent;
                        border-right: 13px solid transparent;
                        border-top: 10px solid #67b2e4;
                    }
                }
            }
        }
    }
    .tab-content {
        background-color: #fff;
        padding: 1em 0.5em;
        overflow: hidden;
        .statistics-item {
            width: 100%;
            background-color: #fff;
            padding: 1.5em 0em;
            border-radius: 3px;
        }
        .tabs-head-title {
            margin-top: 0;
            font-weight: lighter;
            color: rgba(0, 0, 0, 0.7);
        }
        &.tabs-content-left {
            width: 75%;
            display: inline;
            float: right;
            &.bhoechie-tab {
                h1 {
                    color: #67b2e4 !important;
                    font-size: 5em;
                    text-align: center !important;
                }
                .bhoechie-tab-content:not(.active) {
                    display: none;
                }
            }
        }
        &.tabs-content-right {
            width: 75%;
            display: inline;
            float: left;
        }
    }
    .nav-col-contint {
        padding-top: 0px;
    }
    .simple-border {
        border: none;
        border-bottom: @simple-border;
    }
}

.single-tap-title {
    .fa {
        float: right;
    }
}
