<div class="right-side-section-toggle" data-toggle="modal" data-toggle="modal" data-target="#colors-modal">
    <i class="fa fa-pencil-square-o"></i>
</div>
<div class="modal right fade colors-modal" id="colors-modal" tabindex="-1" role="dialog" aria-labelledby="right-side-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title" id="right-side-modal-label">Color Options</h5>
            </div>
            <div class="modal-body custome-margin">
                <div class="row">
                    <div class="col-md-12">
                        <p>Color makes it different Customize and Preview your dashboard.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="title">Recommended</h5>
                    </div>
                </div>
                <div class="row p-15">
                    <div class="col-md-6 single-menue-color-box no-padding-righ">
                        <div id="default-color-btn" class="single-menue-color pointer-hover">
                            <div class="col-sm-12 default-menue-color">
                                <p>
                                    Header
                                    <br /> #3b97d2
                                </p>
                                <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-12 simple-border">
                                <p>
                                    Sidebar Nav
                                    <br /> #fffff
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 single-menue-color-box no-padding-righ">
                        <div id="orang-color-btn" class="single-menue-color pointer-hover">
                            <div class="col-sm-12 orange-menue-color">
                                <p>
                                    Header
                                    <br /> #f5d34b
                                </p>
                                <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                            </div>
                            <div class="col-sm-12 simple-border">
                                <p>
                                    Sidebar Nav
                                    <br /> #ffffff
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row p-15">
                        <div class="col-md-6 single-menue-color-box no-padding-righ">
                            <div id="dark2-color-btn" class="single-menue-color pointer-hover">
                                <div class="col-sm-12 dark-menue-color2">
                                    <p>
                                        Header
                                        <br /> #262930
                                    </p>
                                    <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-12 dark-nav-color2">
                                    <p>
                                        Sidebar Nav
                                        <br /> #2a2e35
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 single-menue-color-box no-padding-righ">
                            <div id="dark1-color-btn" class="single-menue-color pointer-hover">
                                <div class="col-sm-12 dark-menue-color">
                                    <p>
                                        Header
                                        <br /> #2b3643
                                    </p>
                                    <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-12 dark-nav-color">
                                    <p>
                                        Sidebar Nav
                                        <br /> #364150
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row p-15">
                        <div class="col-md-6 single-menue-color-box no-padding-righ">
                            <div id="whit-color-btn" class="single-menue-color pointer-hover">
                                <div class="col-sm-12 simple-border wight-head">
                                    <p>
                                        Header
                                        <br /> #ffffff
                                    </p>
                                    <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-12 simple-border wight-head">
                                    <p>
                                        Sidebar Nav
                                        <br /> #ffffff
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 single-menue-color-box no-padding-righ">
                            <div id="green-color-btn" class="single-menue-color pointer-hover">
                                <div class="col-sm-12 green-menue-color">
                                    <p>
                                        Header
                                        <br /> #62d995
                                    </p>
                                    <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-12 simple-border">
                                    <p>
                                        Sidebar Nav
                                        <br /> #ffffff
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
</div>