<!-- header -->
<div class="main-dashboard-header" id="head">
    <div class="container-fluid header-container">
        <a href="#menu-toggle" id="menu-toggle"><i class="fa fa-bars menu-toggle" aria-hidden="true"></i></a>
        
        <div class="header-left pull-left">
            <div class="left-side-items logo">
                <a href="index.html">
                    <img src="assets/images/logo/logo_d.png" class="center-block" alt="company-logo" title="company-logo">
                </a>
            </div>
            <div class="left-side-items notifecations">
                <button id="notifications" class="notifications btn btn-default btn-lg btn-link">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                </button>
                <span id="not-badg" class="badge badge-notify">2</span>


                <div class="notifecations-box">
                    <div class="arrow-up"></div>
                    <h5>Notifications</h5>
                    <div class="single-content-row">
                        <a href="#">
                            <img alt="user name" src="assets/images/user_01_54.jpg" />
                            <p><b>Mohammad Meshaal</b>wants your confirmation on his Leave Request on 12 Mar 2017</p>
                        </a>
                    </div>
                    <div class="single-content-row">
                        <a href="#">
                            <img alt="user name" src="assets/images/user_04_54.jpg" />
                            <p><b>Nasir ahmad</b>sent a payment on 11 Mar 2017</p>
                        </a>
                    </div>
                    <div class="veiw-all-not">
                        <a href="#">View All</a>
                    </div>
                </div>

            </div>
            <div class="left-side-items email">
                <button id="messages" class="messages btn btn-default btn-lg btn-link">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </button>
                <span id="message-badg" class="badge badge-notify">4</span>

                <div class="messages-box">
                    <div class="arrow-up"></div>
                    <h5>Messages <a class="send-message-link" href="#">Send New Message</a></h5>
                    <div class="single-content-row">
                        <a href="#">
                            <img alt="user name" src="assets/images/user_02_54.jpg" />
                            <p><b>Layla smith</b>
                                <br /> Job offer</p>
                        </a>
                    </div>
                    <div class="single-content-row">
                        <a href="#">
                            <img alt="user name" src="assets/images/user_01_54.jpg" />
                            <p><b>Mohammad Meshaal</b>
                                <br />Please send me the work templates</p>
                        </a>
                    </div>
                    <div class="single-content-row">
                        <a href="#">
                            <img alt="user name" src="assets/images/user_03_54.jpg" />
                            <p><b>Dana khalid</b>
                                <br />Do you wanna hang out today?</p>
                        </a>
                    </div>
                    <div class="single-content-row">
                        <a href="#">
                            <img alt="user name" src="assets/images/user_04_54.jpg" />
                            <p><b>Nasir ahmad</b>
                                <br />Are we going to the match today?</p>
                        </a>
                    </div>
                    <div class="veiw-all-not">
                        <a href="#">View All</a>
                    </div>
                </div>
            </div>
            <div class="left-side-items form-group hidden-xs">
                <div class="icon-addon addon-md">
                    <input type="text" placeholder="Type anywhere to search" class="form-control main-dashboard-search search-text-box">
                    <i class="fa fa-search glyphicon glyphicon-search search-header" aria-hidden="true"></i>
                </div>
            </div>

        </div>


        <div class="header-right pull-right">
            <div class="right-side-head">
                <div id="user-box" class="user-box right-side-items">
                    <p> Mr.Sami</p>
                    <img src="assets/images/user_01_36.jpg" alt="Mr.Sami" title="Mr.Sami"/>
                </div>

                <div class="right-panel-btn">
                    <a href="javascript:void(0)" data-toggle="quickview" data-toggle-element="#quickview"><i class="fa fa-cog" aria-hidden="true"></i></a>
                </div>
            </div>

            <div class="user-info-box">
                <div class="arrow-up"></div>
                <a href="#">
                    <div class="user-info-content">
                        <i class="fa fa-user" aria-hidden="true"></i> Proﬁle
                    </div>
                </a>
                <a href="#">
                    <div class="user-info-content">
                        <i class="fa fa-cog" aria-hidden="true"></i> Settings
                    </div>
                </a>
                <a href="#">
                    <div class="user-info-content">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> Help
                    </div>
                </a>
                <a href="#">
                    <div class="user-info-content logout">
                        Log Out
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </div>
                </a>
            </div>


        </div>
        
    </div>
    
</div>
<!--/header-->