<div id="quickview" class="quickview-wrapper" data-pages="quickview">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#quickview-notes" data-toggle="tab">Notes</a>
        </li>
        <li>
            <a href="#quickview-alerts" data-toggle="tab">Alerts</a>
        </li>
        <li >
            <a href="#quickview-chat" data-toggle="tab">Chat</a>
        </li>
    </ul>
    <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="fa fa-times" aria-hidden="true"></i></a>
    <div class="tab-content">
        <div class="tab-pane fade in active no-padding" id="quickview-notes">
            <div class="view-port clearfix quickview-notes" id="note-views">
                <div class="view list" id="quick-note-list">
                    <div class="toolbar clearfix">
                        <ul class="pull-right ">
                            <li>
                                <a href="#" class="delete-note-link"><i class="fa fa-trash-o"></i></a>
                            </li>
                            <li>
                                <a href="#" class="new-note-link" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-plus"></i></a>
                            </li>
                        </ul>
                        <button class="btn-remove-notes btn btn-xs btn-block hide"><i class="fa fa-times"></i> Delete</button>
                    </div>
                    <ul>
                        <li data-noteid="1">
                            <div class="left">
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox1" type="checkbox" value="1">
                                    <label for="qncheckbox1"></label>
                                </div>
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="right pull-right">
                                <span class="date">12/12/14</span>
                                <a href="#" data-navigate="view" data-view-port="#note-views" data-view-animation="push"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </li>
                        <li data-noteid="2">
                            <div class="left">
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox2" type="checkbox" value="1">
                                    <label for="qncheckbox2"></label>
                                </div>
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="right pull-right">
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </li>
                        <li data-noteid="2">
                            <div class="left">
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox3" type="checkbox" value="1">
                                    <label for="qncheckbox3"></label>
                                </div>
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="right pull-right">
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </li>
                        <li data-noteid="3">
                            <div class="left">
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox4" type="checkbox" value="1">
                                    <label for="qncheckbox4"></label>
                                </div>
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="right pull-right">
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </li>
                        <li data-noteid="4">
                            <div class="left">
                                <div class="checkbox check-warning no-margin">
                                    <input id="qncheckbox5" type="checkbox" value="1">
                                    <label for="qncheckbox5"></label>
                                </div>
                                <p class="note-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            </div>
                            <div class="right pull-right">
                                <span class="date">12/12/14</span>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="view note" id="quick-note">
                    <div>
                        <ul class="toolbar">
                            <li><a href="#" class="close-note-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                            </li>
                            <li><a href="#" data-action="Bold"><i class="fa fa-bold"></i></a>
                            </li>
                            <li><a href="#" data-action="Italic"><i class="fa fa-italic"></i></a>
                            </li>
                            <li><a href="#" class=""><i class="fa fa-link"></i></a>
                            </li>
                        </ul>
                        <div class="body">
                            <div>
                                <div class="top">
                                    <span>21st april 2014 2:13am</span>
                                </div>
                                <div class="content">
                                    <div class="quick-note-editor full-width full-height js-input" contenteditable="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade no-padding" id="quickview-alerts">
            <div class="view-port clearfix" id="alerts">
                <div class="view">
                    <div class="view-heading text-center pd-15">Notications</div>
                    <div data-init-list-view="ioslist" class="list-view">
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">
                                Calendar
                            </div>
                            <ul>
                                <li class="alert-list">
                                    <a href="javascript:;" class="row">
                                        <p class="col-sm-2">
                                            <span class="text-warning"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col-sm-6 no-padding">
                                            <span>David Nester Birthday</span>
                                        </p>
                                        <p class="col-sm-4 text-right">
                                            <span class="text-warning">Today</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="alert-list">
                                    <a href="#" class="row">
                                        <p class="col-sm-2">
                                            <span class="text-warning"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col-sm-6 no-padding">
                                            <span>Meeting at 2:30</span>
                                        </p>
                                        <p class="col-sm-4 text-right">
                                            <span class="text-warning">Today</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">
                                Social
                            </div>
                            <ul>
                                <li class="alert-list">
                                    <a href="javascript:;" class="row">
                                        <p class="col-sm-2">
                                            <span class="text-complete"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col-sm-10">
                                            <span>Jame Smith commented<br></span>
                                            <span>“Perfection - Company Revox"</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="alert-list">
                                    <a href="javascript:;" class="row">
                                        <p class="col-sm-2">
                                            <span class="text-complete"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col-sm-10">
                                            <span>Jame Smith commented<br></span>
                                            <span>“Perfection - Company Revox"</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">
                                Sever Status
                            </div>
                            <ul>
                                <li class="alert-list">
                                    <a href="#" class="row">
                                        <p class="col-sm-2">
                                            <span class="text-danger"><i class="fa fa-circle"></i></span>
                                        </p>
                                        <p class="col-sm-10">
                                            <span>12:13AM GTM, 10230, ID:WR174s<br></span>
                                            <span>Server Load Exceeted. Take action</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade no-padding" id="quickview-chat">
            <div class="view-port clearfix" id="chat">
                <div class="view">
                    <div class="view-heading text-center">Chat List</div>
                    <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">a</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#" data-view-animation="push-parrallax" data-view-port="#chat" data-navigate="view">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_01.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>ava flores</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">b</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_02.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>bella mccoy</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_03.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>bob stephens</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">e</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_05.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>earl hamilton</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">f</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_01.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>floara ahuja</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">j</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_02.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>jackie chan</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">k</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_05.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>kim cehan</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">l</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_03.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>lawrance roawnd</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_02.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>leroy crain</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">m</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_01.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>may beauty</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">n</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_05.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>nuah chan</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="list-view-group-container">
                            <div class="list-view-group-header text-uppercase">p</div>
                            <ul>
                                <li class="chat-user-list clearfix">
                                    <a class="row" href="#">
                                        <div class="col-sm-3">
                                          <img width="34" height="34" alt="" src="assets/images/user_image_01.jpg" class="col-top">
                                        </div>
                                        <p class="col-sm-9 no-padding">
                                            <span>phillips jackie</span>
                                            <span>Hello there</span>
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="view chat-view bg-white clearfix">
                    <div class="navbar navbar-default">
                        <div class="navbar-inner">
                            <a href="javascript:;" class="link text-master inline action p-l-10 p-r-10" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                            <i class="pg-arrow_left"></i>
                            </a>
                            <div class="view-heading">
                                John Smith
                                <div class="fs-11 hint-text">Online</div>
                            </div>
                            <a href="#" class="link text-master inline action p-r-10 pull-right ">
                            <i class="pg-more"></i>
                            </a>
                        </div>
                    </div>
                    <div class="chat-inner" id="my-conversation">
                        <div class="message clearfix">
                            <div class="chat-bubble from-me">
                                Hello there
                            </div>
                        </div>
                        <div class="message clearfix">
                            <div class="profile-img-wrapper m-t-5 inline">
                                <img class="col-top" width="30" height="30" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
                            </div>
                            <div class="chat-bubble from-them">
                                Hey
                            </div>
                        </div>
                        <div class="message clearfix">
                            <div class="chat-bubble from-me">
                                Did you check out Pages framework ?
                            </div>
                        </div>
                        <div class="message clearfix">
                            <div class="chat-bubble from-me">
                                Its an awesome chat
                            </div>
                        </div>
                        <div class="message clearfix">
                            <div class="profile-img-wrapper m-t-5 inline">
                                <img class="col-top" width="30" height="30" src="assets/img/profiles/avatar_small.jpg" alt="" data-src="assets/img/profiles/avatar_small.jpg" data-src-retina="assets/img/profiles/avatar_small2x.jpg">
                            </div>
                            <div class="chat-bubble from-them">
                                Yea
                            </div>
                        </div>
                    </div>
                    <div class="b-t b-grey bg-white clearfix p-l-10 p-r-10">
                        <div class="row">
                            <div class="col-xs-1 p-t-15">
                                <a href="#" class="link text-master"><i class="fa fa-plus-circle"></i></a>
                            </div>
                            <div class="col-xs-8 no-padding">
                                <input type="text" class="form-control chat-input" data-chat-input="" data-chat-conversation="#my-conversation" placeholder="Say something">
                            </div>
                            <div class="col-xs-2 link text-master m-l-10 m-t-15 p-l-10 b-l b-grey col-top">
                                <a href="#" class="link text-master"><i class="pg-camera"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>