.main-dashboard-header {
    background-color: #2b3643;
}

.search-text-box {
    background-color: #2b3643;
}

.sidebar-brand {
    background-color: #303b49;
}

.sidebar-wrapper {
    background-color: #364150;
}

.sidebar-nav li a {
    border-bottom: 1px solid #3d4957;
    border-right: 1px solid #3d4957;
    color: #b0b4c4;
}

.nav-icon {
    color: #667287;
}

.user-box p {
    color: #ffffff;
}

.head-box i {
    color: #ffffff;
}

.sidebar-brand {
    color: #ffffff;
    opacity: 1;
}

.body-header {
    border-left: 5px solid #2b3643;
}

.sidebar-nav .selected a {
    border-left: 4px solid #2b3643;
}

.sidebar-nav .selected a .nav-icon {
    color: #2b3643;
}
