.main-dashboard-header {
    background-color: #262930;
}

.search-text-box {
    background-color: #262930;
}

.sidebar-brand {
    background-color: #282b32;
}

.sidebar-wrapper {
    background-color: #2a2e35;
}

.sidebar-nav li a {
    border-bottom: 1px solid #262930;
    border-right: 1px solid #262930;
    color: #5b616d;
}

.nav-icon {
    color: #767d8a;
}

.user-box p {
    color: #ffffff;
}

.head-box i {
    color: #ffffff;
}

.sidebar-brand {
    color: #ffffff;
    opacity: 1;
}

.body-header {
    border-left: 5px solid #262930;
}

.sidebar-nav .selected a {
    border-left: 4px solid #262930;
}

.sidebar-nav .selected a .nav-icon {
    color: #262930;
}
