/* Map View */
.map-container {
	padding-left: 0px;
	padding-right: 0px;

	.mapael .mapTooltip {
		position: absolute;
		background-color: #fff;
		moz-opacity: 0.70;
		opacity: 0.70;
		filter: alpha(opacity=70);
		border-radius: 10px;
		padding: 10px;
		z-index: 1000;
		max-width: 200px;
		display: none;
		color: #343434;
	}

}

.map-layout {
	width: 100%;
	height: 100vh;
}

.VectorMap {
	padding-top: 10em
}