body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #f1f3f6;

  & .landing-page-container {
    background-color: #ffffff !important;
  }

}

button,
input {
  outline: none !important;
}

p {
  font-size: @paragraph;
  color: @paragraph-color;
}
