#wrapper{
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease;
}


#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  #company-name {
    color: #fff;
    border-bottom: 1px solid #F1F3F6;
    background-color:#2980B9;
  }

  .sidebar-brand {
    font-weight: bold;
    font-size: 17px;
    line-height: 50px;
    position: fixed;
    z-index: 9999;
    width: 250px;
    color: #fff;
    padding-left: 1.2em;
    margin-top: -2.9em;
  }

  .sidebar-brand:hover {
    background-color: #2980B9;
  }

  .sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    .selected {
      a {
        .nav-icon {
          color:  #3B97D2;
        }
      }
    }
    li {
      text-indent: 20px;
      line-height: 40px;
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      .Submenue {
        display: none;
        font-size: 0.9em;
        background-color: #fbfbfb;
        list-style: none;
        color: #9E9E9E;

        .selected>.Submenue>li>.inner-selected {
          color: #111111 !important;
          margin-left: 50px !important;
          &:before {
            color: #000000;
            content: "\f105";
            font-family: FontAwesome;
            font-size: 15px;
            font-style: normal;
            font-weight: normal;
            left: 30px;
            padding-right: 0.5em;
            position: absolute;
            text-decoration: inherit;
            top: 1px;
            }
          }
      }

      a {
        display: block;
        text-decoration: none;
        font-weight: lighter;
        font-size: 14px;
        border-bottom:1px solid '#E4E5E7';
        border-right:1px solid '#E4E5E7';
        color:'#34495E';

        .nav-icon {
          float: left;
          margin-top: 1em;
          color: #C6C4DB;
        }

        .LeftArrow {
          color: #9E9E9E;
          float: right;
          margin-right: 1em;
          margin-top: 1em;
        }

      }

      &:active {
        text-decoration: none;
      }

      &:focus {
        text-decoration: none;
      }
    }
    .selected a {
      background-color: #F1F3F6 !important;
      border-right: none !important;
      border-left:4px solid #3B97D2 !important;
    }
  }

  .sidebar-nav li:hover {
    background-color: #fbfbfb;
  }
  .selected {
    .Submenue {
      .submenu-li {
        a {
          background-color: #fbfbfb !important;
          border-left: none !important;
        }
      }
    }
  }
}

.nav-lbl {
  position: absolute;
  text-indent: 0px;
  right: 3em;
  top: 1.25em;
  width: auto !important;
  text-align: center;
}

@media (min-width : 768px){
  #sidebar-wrapper{
    background-color: #ffffff;
    margin-top: 3.5em;
    width: 250px;
  }
}
// //////////////////head

// #head {
//   width: 100%;
//   padding-top: 0.5em;
//   height: 3.55em;
//   color: #fff;
//   position: fixed;
//   z-index: 999;
//   -webkit-transition: all 0.5s ease;
//   -moz-transition: all 0.5s ease;
//   -o-transition: all 0.5s ease;
//   transition: all 0.5s ease;
//   background-color: #3B97D2;
//   overflow: hidden;

//   #menu-toggle {
//     display: none;
//   }
//   .form-group {
//     width: 20%;
//     float: left;
//     margin-left: 0.5em;

//     .icon-addon {
//       position: relative;
//       color: #555;
//       display: block;
//       &:after {
//         content: " ";
//         display: table;
//       }
//       &:before {
//         content: " ";
//         display: table;
//       }
//       #searchTB {
//         border: none;
//         box-shadow: none;
//         color: #fff;
//         -webkit-transition: all 0.5s ease;
//         -moz-transition: all 0.5s ease;
//         -o-transition: all 0.5s ease;
//         transition: all 0.5s ease;
//         background-color: #3B97D2;
//       }
//     }
//   }
//   .right-side-head {
//     float: right;
//     margin-right: 19.4em;
//     .notifecations {
//       .head-box {
//         .btn-default {
//           &:hover {
//             background-color: none !important;
//             border: none !important;
//           }
//         }
//       }
//       #notifications {
//         background: none !important;
//         border: none !important;
//       }
//       .badge-notify {
//         background: #F1F3F6;
//         position: absolute;
//         top: 0em;
//         right: 0.6em;
//         border-radius: 2px;
//         font-weight: normal;
//         padding: 0.3em 0.5em;
//         font-size: 10px;
//         color: #a5a5a5;
//       }
//     }
//     .user-box {
//       -moz-transition: all 0.5s ease;
//       -o-transition: all 0.5s ease;
//       -webkit-transition: all 0.5s ease;
//       color: #ffffff;
//       cursor: pointer;
//       font-size: 14px;
//       font-weight: lighter;
//       transition: all 0.5s ease;
//       &:hover {
//         color: #E4E5E7;
//       }
//       img {
//         border-radius: 180px;
//         border: 1px solid #ffffff;
//         float: left;
//         height: 35px;
//         margin-right: 0.5em;
//         width: 35px;
//       }
//       p {
//         color:#ffffff;
//         float: right;
//         margin-top: 0.5em;
//         }
//       }
//       .head-box {
//         float: left;
//         margin-left: 1.5em;
//         position: relative;
//       }
//     }
//   }
/////////////////////////////////////////




