.all-base-colors {
  .col-sm-4 {
    .single-color-box {
      padding: 0.2em 0.5em 0.2em 0;
    }
  }
}

.colors-page {
  .single-menue-color-box {
    .preview {
      right: auto;
      left: 0;
    }
  }
}

.colors-page {
  .colors-library {
    .col-sm-12 {
      .col-sm-3 {
        text-align: left;
      }
    }
  }
}