/*! Lists utility */
.list-group {
  padding-left: 0px;
  margin-bottom: 20px;

  .list-group-item {
    .list-badge {
      float: right;
    }

    &.event-list-item {
      border-left: 4px solid $info-mid-color;
      margin-bottom: 1em;

      h3 {
        line-height: 0px;
      }

      p {
        padding-top: 13px;
      }

    }

    &:first-child {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .blog-img {
      width: 108px;
      padding-left: 0px;
      margin-left: 0px;
      border-left: 4px solid $info-mid-color;
    }

    .list-date {
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 0px;
    }

    .bootstrap-switch {
      border-radius: $no-radius;

      .bootstrap-switch-primary {
        background-color: $info-mid-color;
        border-radius: 0px;
      }

    }

    .bootstrap-switch.bootstrap-switch-wrapper {
      float: right;

      &.bootstrap-switch-focused {
        box-shadow: none;
        border: 1px solid #cccccc;
      }

    }

    .title-border {
      border-bottom: 2px solid $info-mid-color;
      padding-bottom: 5px;
    }

    .icon-list-border {
      border: 2px solid $info-mid-color;
      padding: 7px;
      border-radius: 50%;
      position: relative;
      top: 15px;
      margin-bottom: 15px;
    }

    .box-size {
      width: 90%;
    }

  }

  &.glyph-color {
    .glyphicon {
      margin-right: 10px;
      color: $primary-light-color;
    }

  }

  .info-mid {
    color: $white-color;

    .glyphicon {
      color: $white-color;
    }

  }

}



/*------------------------------------------------------------------
[18. List]
*/
.list-view-wrapper{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  width: 100%;
    -webkit-overflow-scrolling: touch;
}

.list-view-container{
    position: relative;
    .list-quickscroll{
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            position: absolute;
            top:0;
            right: 10px;
            z-index: 120;
            padding-top: 10px;
            padding-bottom: 10px;
            li a{
                font-size: 0.7em;
                vertical-align: baseline;
            }
        }

    }
}

.list-view-group-container {
  margin: 0;
  min-height: 1px;
  overflow: hidden;
  padding: 0;
  position: relative;
    &:last-child{
        ul{
            border: 0;
        }
    }
}
.list-view-group-header, .list-view-fake-header {
  background: #fafafa;
  padding: 6px 0 5px 15px;
}
.list-view-group-header {

}
.list-view-fake-header {
  width: 100%;
  z-index: 100;
    font-size: 11px !important;
    line-height: 14px !important;
}

.list-view-fake-header.list-view-hidden {
  visibility: hidden;
}
.list-view-group-container.list-view-animated .list-view-group-header {
  bottom: 0;
  top: auto;
}


input.list-view-search{
    font-size: 15px;
    color: #232830;
}

.no-top-border{
    .list-view-fake-header {
        border-top: 0;
    }
}

.list-view {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    }
    li{
        padding:0 15px;
        cursor: pointer;
        width: 100%;
        display: block;
        &:hover {
            background-color: #daeffd;
        }
        &.active{
            background-color: #daeffd;
        }
        p{
            margin: 0;
            line-height: 19px;
            white-space: normal;
            span {
              display: block;
            }
        }
        & > a{
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.07);
            img {
              border-radius: 50%;
            }
        }
        &:last-child {
          & > a{
            border: none;
          } 
        }
    }
    &.boreded{
        li{
            & > a {
                border-bottom: 1px solid rgba(0, 0, 0, 0.07);
            }
            &:last-child > a{
                border-bottom: 0;
            }
        }
    }
    
}


.list-view.boreded li + li {
  border-top: 0;
}

[data-ios="true"] .list-view-group-header,
[data-ios="true"] .list-view-fake-header {
  width: 288px; /*scrollbars aren't visible in iOS devices, so make the headers wider */
}

//Bootstrap-List
.list-group-item{
    border: 1px solid #daeffd;
    &.active, &.active:hover, &.active:focus{
        background-color:#daeffd;
        border-color:#daeffd;
    }
}

.list-group-item:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.list-group-item:last-child{
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}