/*! Modals utility */
.modal {
  .modal-content {
    border-radius: $no-radius;

    input {
      padding: 1px 0px;
    }

    label {
      &.small-size {
        font-size: 10px;
        color: $info-mid-color;
        -webkit-transform: translateY(-140%);
        transform: translateY(-140%);
      }

    }

    .right-modal-content {
      text-align: center;
    }

    .right-button {
      width: 50%;
      margin-bottom: 10px;
    }

    .jumbotron {
      @include padding(5px);
      border-radius: 0px;

      .glyphicon-search {
        font-size: 26px;
        margin-top: 10px;
        cursor: pointer;
        color: #9b9b9b;
      }

    }

    .modal-footer {
      .modal-close {
        float: left;
      }

    }

  }

  .middle-dialog {
    margin-top: 15%;
  }

  .jumbotron {
    @include padding(5px);
    border-radius: $no-radius;

    .glyphicon-search {
      font-size: 26px;
      margin-top: 10px;
      cursor: pointer;
      color: $default-color;
    }

    .flat_email {
      border-radius: $no-radius;
      height: 50px;
      font-size: 16px;
      border: 0px;
      box-shadow: none;
      background-color: $light-grey-color;
      padding-left: 10px;
      width: 89%;
      display: inline;
    }

  }
/*! Right side modal */
  &.right {
    .modal-dialog {
      position: fixed;
      margin: auto;
      width: 320px;
      height: 150%;
    }

    .modal-content {
      height: 100%;
      border-top: 0px;
    }

    &.fade {
      .modal-dialog {
        right: -320px;
        @include css-effect(opacity 0.3s linear);
      }

      &.in {
        .modal-dialog {
          right: 0px;
        }

      }

    }

  }

}
