/*! Datatable utility */
@import "../global/variables.less";
@import "mixins.less";

.dataTables_wrapper {
  color: @paragraph-color;
  font-weight: lighter;
  position: relative;
  clear: both;
  zoom: 1;

  .table,
  .table.dataTable {
    th.dt-center,
    td.dataTables_empty {
      text-align: center;
      border-collapse: separate;
    }

    thead {
      .sorting,
      .sorting_asc,
      .sorting_desc,
      .sorting_asc_disabled,
      .sorting_desc_disabled {
        cursor: hand;
        background-repeat: no-repeat;
        background-position: center left;
      }

      .sorting {
        background-image: url('../images/sort_both.png');
      }

      .sorting_asc {
        background-image: url('../images/sort_asc.png');
      }

      .sorting_desc {
        background-image: url('../images/sort_desc.png');
      }

      .sorting_asc_disabled {
        background-image: url('../images/sort_asc_disabled.png');
      }

      .sorting_desc_disabled {
        background-image: url('../images/sort_desc_disabled.png');
      }

      th {
        font-weight: lighter;
        padding: 10px 18px;
        color: #000000;
        border-bottom-width: 1px;

        &:active {
          outline: none;
        }

      }

      td {
        padding: 10px 18px;

        &:active {
          outline: none;
        }

      }

    }

    tbody {
      td {
        padding: 20px 0em;
        font-weight: lighter;
      }

    }

    tfoot {
      input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
        border: 0px;
        font-weight: normal;
        font-style: italic;

        &:focus {
          border-bottom-color: @info-mid-color;
        }

      }

      th,
      td {
        font-weight: normal;
        padding: 10px 28px 30px 0px;
        border-color: @white-color;
      }

      .dataTables_info {
        clear: both;
        float: left;
        margin-top: -2em;

        @media screen and (max-width:767px) {
          float: none;
          text-align: center;
        }

      }

    }

  }

  .dataTables_length {
    float: left;

    @media screen and (max-width:640px) {
      float: none;
      text-align: center;
    }

    label {
      color: #888888;
      font-weight: lighter;

      select {
        color: @primary-color;
        border: @flat-border;
        background-color: @white-color;
        border-radius: 3px;
        outline: none;
      }

    }

  }

  .dataTables_paginate {
    text-align: right;
    padding-top: 0em;
    margin-top: -2.3em;
    margin-bottom: 8px;

    @media screen and (max-width:767px) {
      &:extend(.dataTables_info);
      margin-top: 0.5em;
    }

    .paginate_button {
      color: #666666;
      background: transparent;
      box-shadow: none;
      background-color: @white-color;
      border: 1px solid #dddddd;
      border-radius: @no-radius;
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none;
      cursor: hand;
      .css-effect(all 0.5s ease);

      &:hover {
        &:extend(.paginate_button);
      }

      &:focus {
        &:extend(.paginate_button);
      }

    }

  }

  .dataTables_filter {
    float: right;
    text-align: right;

    @media screen and (max-width:640px) {
      &:extend(.dataTables_length);
      margin-top: 0.5em;
    }

    label {
      color: #888888;
      font-weight: lighter;

      input {
        color: @primary-color;
        border: 0px;
        -webkit-appearance: none;
        border-width: 0px 0px 1px;
        border-image: initial;
        border-bottom: 1px solid rgba(0, 0, 0, 0.0666667);
        border-radius: @no-radius;
        margin-left: 0.5em;
        width: 70%;
        .css-effect(all 0.5s ease);

        &:focus {
          border-bottom: 1px solid @info-mid-color;
        }

      }

    }

  }

  .dataTables_wrapper {
    .dt-buttons {
      width: 50%;
      float: left;
      margin-bottom: 1em;

      a {
        .fa-files-o {
          float: left;
          margin-top: 2px;
          margin-right: 7px;
        }

      }

    }

    tr {
      td {
        .details-control {
          background: url('../images/details_open.png') no-repeat center center;
          cursor: pointer;
        }

      }

      &.shown {
        td.details-control {
          background: url('../images/details_close.png') no-repeat center center;
        }

      }

    }

  }

}
