// Dashboard colors 
$primary-color: #34495e !default;
$primary-darker-color: #2c3e50 !default;
$primary-mid-color: #677786 !default;
$primary-light-color : #8A8F9B !default;
$primary-lighter-color: #ccd1d7 !default;

$info-color: #3498db !default;
$info-darker-color: #2980b9 !default;
$info-mid-color: #67b2e4 !default;
$info-light-color: #99cbed !default;
$info-lighter-color: #cce5f6 !default;

$success-color: #2ecc71 !default;
$success-darker-color: #27ae60 !default;
$success-mid-color: #62d995 !default;
$success-light-color: #96e5b8 !default;
$success-lighter-color: #cbf2db !default;

$warning-color: #f1c40f !default;
$warning-darker-color: #f39c12 !default;
$warning-mid-color: #f5d34b !default;
$warning-light-color: #f8e187 !default;
$warning-lighter-color: #fbf0c3 !default;

$danger-color: #e74c3c !default;
$danger-darker-color: #c0392b !default;
$danger-mid-color: #ed796d !default;
$danger-light-color: #f3a59d !default;
$danger-lighter-color: #f9d2ce !default;

$default-color: #9b9b9b !default;
$default-darker-color: #ecf0f1 !default;
$default-mid-color: #cdcdcd !default;
$default-light-color: #e6e6e6 !default;
$default-lighter-color: #ffffff !default;

// General colors 
$white-color: #ffffff !default;
$black-color: #000000 !default;
$paragraph-color: #707a7a !default;
$background-color: #f1f3f6 !default;
$header-background: #3b97d2 !default;
$light-grey-color: #eeeeee !default;
$dark-grey: #909195 !default;

// Navigation bar colors
$submenu-selected: #111111 !default;
$submenue-color: #9e9e9e !default;
$submenue-background-color: #fbfbfb !default;
$nav-icon-color: #c6c4db !default;

// Chat colors
$modals-text-color: #9e9e9e !default;
$file-icon-color: #686868 !default;

// Buttons colors 
$default-btn-color: #333333 !default;

// Notifications colors
$badge-notify-color: #a5a5a5;
$view-notes-background-color: #f0f0f0;
$view-all-notes-color: #8d8d8d;

// Panels colors
$panel-icon-color: #c4c4c4 !default;
$panel-icon-hover-color: #7b7b7b !default;
$panel-head-background-color: #fafafa !default;
$panel-border-color: #a8a8a8 !default;

// Select2 colors
$select2-color: #9a9a9a !default;

// borders
$flat-border: 1px solid #f1f3f6 !default;
$nav-link-border: 1px solid #e4e5e7 !default;
$left-selected-border: 4px solid $info-mid-color !default;
$white-color-border: 1px solid #ffffff !default;
$select2-input-border: 1px solid rgba(0, 0, 0, 0.07) !default;
$simple-border: 1px solid #dddddd !default;
$tables-border: 1px solid #dddddd !default;

// border radius
$circle: 180px !default;
$no-radius: 0px !default;

// font-size
$paragraph: 0.9em !default;

// values
$small-value: 0.5em !default;
$large-value: 1em !default;
$center: 0px auto !default;
$no-border: 0px !default;

// z-index
$front-off : 9999 !default;
$Back-off: -1 !default;

// outline
$no-outline: none !default;
