body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: $background-color;

  &.landing-page-container {
    background-color: $white-color;
  }

}

button,
input {
  outline: none;
}

p {
  font-size: $paragraph;
  color: $paragraph-color;
}
