<template name="right_side">
    <div class="right-side-section-toggle" data-toggle="modal" data-target="#colors-modal">
        <i class="fa fa-pencil-square-o"></i>
    </div>
    <div class="modal right fade colors-modal" id="colors-modal" tabindex="-1" role="dialog" aria-labelledby="right-side-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="right-side-modal-label">Color Options</h5>
                </div>
                <div class="modal-body custome-margin">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Color makes it different Customize and Preview your dashboard.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="title">Recommended</h5>
                        </div>
                    </div>
                    <div class="row p-15">
                        {{#each colors}}
                        <div class="col-md-6 single-menue-color-box no-padding-righ">
                            <div id="{{id}}" class="single-menue-color pointer-hover">
                                <div class="col-sm-12 {{class3}} {{class1}}">
                                    <p>
                                        Header
                                        <br /> {{color1}}
                                    </p>
                                    <i class="fa fa-check-circle-o selected-theme" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-12 {{class3}} {{class2}}">
                                    <p>
                                        Sidebar Nav
                                        <br /> {{color2}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- modal-content -->
        </div>
        <!-- modal-dialog -->
    </div>
</template>
