/*!
Account manager style
Blue Dashboard: v1.0.0
Author: New Release
http://newrelease.io
Copyright 2017 New Release
*/
.account-personal-info {
  color: rgba(0, 0, 0, 0.51) !important;
  font-weight: lighter;
}

.account-personal-info img {
  border: 2px solid #67b2e4;
  border-radius: 180px;
  margin: 0 auto;
  width: 8em;
  height: auto;
}

.account-personal-info h4 {
  font-weight: lighter;
  color: #67b2e4;
  text-align: center;
}

.user-account-info span {
  text-align: left !important;
  line-height: 2.2em;
  color: rgba(0, 0, 0, 0.51) !important;
  font-size: 1em;
}

.account-personal-info .title {
  text-align: center;
}

.user-account-info span i {
  color: #67b2e4;
  margin-right: 0.5em;
}

.account-personal-info label {
  font-weight: lighter;
}

.account-personal-info .change-account-select {
  color: #67b2e4;
  font-weight: lighter;
  margin-top: 1em;
}

.select-style {
  width: 100%;
  border: 0 !important;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  user-select: none;
  -webkit-user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
  background-color: #fff;
  color: #9e9e9e;
  margin: 0.7em 0em 1.5em 0em;
  padding-bottom: 0.5em;
  font-weight: lighter;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0; 
  -moz-border-radius: 0;  
  border-radius: 0;
}

.select-style:focus {
  outline: none;
  border-bottom: 1px solid #67b2e4 !important;
}

.datepicker-inline .datepicker {
  border: none;
  width: 100%;
}

.datepicker--nav-title {
  color: #67b2e4;
}

.datepicker--nav-title,
.datepicker--nav-action {
  font-weight: lighter !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.datepicker--nav-action path {
  stroke: rgba(0, 0, 0, 0.07) !important;
}

.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
  background-color: #fff !important;
  stroke: #888 !important;
}

.datepicker--day-name {
  color: rgba(0, 0, 0, 0.51) !important;
  font-weight: lighter;
  border-radius: 0 !important;
}

.datepicker--cell:hover {
  border-radius: 0 !important;
}

.datepicker--cell-day {
  color: rgba(0, 0, 0, 0.51) !important;
  font-weight: lighter;
}

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  color: #fff !important;
  border-radius: 0 !important;
  background-color: #67b2e4 !important;
}

.btn-group.bootstrap-select.select-display.form-control.empty.col-12 {
  margin-top: 8px;
}

.btn.dropdown-toggle.btn-default:focus {
  outline: none !important;
}

.top-margin {
  margin-top: 0.5em;
}

.has-error > .select-style {
  border-bottom: 1px solid #a94442 !important;
}

.form-group {
  margin-bottom: 0.8em;
}

.all-income {
  text-align: center;
}

.all-income h3 {
  font-weight: lighter;
}

#column_searching_length,
#column_searching_filter {
  display: none;
}

.select-custom-width {
  width: 30%;
  color: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
}

table.dataTable thead .sorting_asc {
  float: left !important;
}

#column_searching_info {
  display: none;
}

.static-width {
  width: 30%;
}

.all-income {
  text-align: center;
  color: #626262;
}

.all-income h2 {
  font-weight: lighter;
}

.all-income h3 {
  font-weight: lighter;
  color: #67b2e4;
}

.all-income-invers {
  text-align: center;
  color: #fff;
  background-color: #67b2e4 !important;
}

.all-income-invers h2 {
  font-weight: lighter;
}

.all-income-invers h3 {
  font-weight: lighter;
  color: #fff;
}

.flat-style {
  float: right;
  color: #848484;
  font-weight: lighter;
}

.green-trans {
  color: #62d995;
}

.red-trans {
  color: #ed796d;
}

.transaction-drop {
  margin-bottom: 0px !important;
  margin-top: 9px;
}

.btn.dropdown-toggle.btn-default:not(.btn-sm),.select2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-weight: 200 !important;
}