 
.titledesign
{
  padding-left: 10px;
	font-family:Arial;
	color: #34495E; 
	font-weight: bold; 
	margin: 0; 
	margin-top:10px;
}
.pargraph-design 
{
  color: #687A9B;
  margin-left:20px; 
  text-align: justify;
  width: 90%;
  font-size: 0.83em;"

}

.largetitle
{
  padding-top: 1.3em;
  padding-left: 5px;
  font-family:Arial;
  color: #34495E;
  font-weight: bold;
  margin: 0;
  font-size: 15px;
  margin-left: 5px;
}

.mediumtitle
{
  color: #3B97D2;
  margin-left: 20px;
  margin-top: 20px;
}

.texteditordesign
{
  margin: 1em 1em;
}

.jumbotron{
  background-color: #fff;
  padding-top: 0.8em;
  border-radius: 2px;
  padding-top: 0em;
  margin-top: .1em; 
}

.jumbotron p{
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 22px;
}
.yes-no-check .btn
{
  padding-left: .9em;
}
.hidden 
{ webkit-box-shadow: none;
  box-shadow: none;
  webkit-box-shadow: none;
}
.fontsize
{
  font-size: 12px;
  font-weight: normal;
}
.checkradius
{
  margin-left:15px;
}
/* override on checkbox*/
.checkbox 
{
  padding-left: 40px;
}
.checkbox label 
{
  display: inline-block;
  position: relative;
  padding-left: 0px;
  font-size: 12px;
  font-weight: normal;
  margin-top:0px;
}
.checkbox label::before {
  margin-left: -25px;
}
.checkbox label::after {
  margin-left: -25px;
}
/* to manage the  yes - no checkbox  */
.yes-no-check 
{
  margin-left: 2.9em;
  float: left;
  display: inline-block;
  margin-top: 2em;
  text-align: justify;
}
/*
CSS to create the toggle
*/
.toggleswitch
{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
.toggleswitchspacific
{
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
/*   to change the background color  to blue color for the toggle*/
input.cmn-toggle-roundBlue + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-roundBlue + label:before,
input.cmn-toggle-roundBlue + label:after {
  display: inline;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-roundBlue + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.1s;
}
input.cmn-toggle-roundBlue + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}
input.cmn-toggle-roundBlue:checked + label:before {
  background-color: #7dcbf2;
}
input.cmn-toggle-roundBlue:checked + label:after {
  margin-left: 20px;
}
/*   to change the background color to blue color  for the toggle*/
/*   to change the background color  to pink color for the toggle*/
input.cmn-toggle-roundPink + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-roundPink + label:before,
input.cmn-toggle-roundPink + label:after {
  display: inline;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-roundPink + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.1s;
}
input.cmn-toggle-roundPink + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}
input.cmn-toggle-roundPink:checked + label:before {
  background-color: #FF7791;
}
input.cmn-toggle-roundPink:checked + label:after {
  margin-left: 20px;
}
  /*   to change the background color  to pink color for the toggle*/
  /*   to change the background color  to   color for the toggle*/
input.cmn-toggle-roundGreen1 + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-roundGreen1 + label:before,
input.cmn-toggle-roundGreen1 + label:after {
  display: inline;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-roundGreen1 + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.1s;
}
input.cmn-toggle-roundGreen1 + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}
input.cmn-toggle-roundGreen1:checked + label:before {
  background-color: #3CC8AD;
}
input.cmn-toggle-roundGreen1:checked + label:after {
  margin-left: 20px;
}
/*   to change the background color for the toggle*/
/*   to change the background  color  to  Red  color for the toggle*/
input.cmn-toggle-roundRed + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-roundRed + label:before,
input.cmn-toggle-roundRed + label:after {
  display: inline;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-roundRed + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.1s;
}
input.cmn-toggle-roundRed + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}
input.cmn-toggle-roundRed:checked + label:before {
  background-color: #DB5554;
}
input.cmn-toggle-roundRed:checked + label:after {
  margin-left: 20px;
}
  /*   to change the background color to red color for the toggle*/

  /*   to change the background  color  to  Yellow  color for the toggle*/
input.cmn-toggle-roundYellow + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-roundYellow + label:before,
input.cmn-toggle-roundYellow + label:after {
  display: inline;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-roundYellow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.1s;
}
input.cmn-toggle-roundYellow + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}
input.cmn-toggle-roundYellow:checked + label:before {
  background-color: #FEC200;
}
input.cmn-toggle-roundYellow:checked + label:after {
  margin-left: 20px;
}
/*   to change the background color to Yellow color for the toggle*/

/*to change the background color to Green color for the toggle */
input.cmn-toggle-roundGreen + label {
  padding: 2px;
  width: 50px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.cmn-toggle-roundGreen + label:before,
input.cmn-toggle-roundGreen + label:after {
  display: inline;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-roundGreen + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.1s;
}
input.cmn-toggle-roundGreen+ label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.1s;
}
input.cmn-toggle-roundGreen:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-roundGreen:checked + label:after {
  margin-left: 20px;
}
/*to change the background color to Green color for the toggle */




