/*!
Charts style
Blue Dashboard: v1.0.0
Author: New Release
http://newrelease.io
Copyright 2017 New Release
*/

.paragraph-design {
  text-align: justify;
}

.body-header {
  margin-top: 50px;
}

.page_title {
  font-weight: lighter;
  color: #6a6c6f;
  font-size: 12px;
  display: inline-block;
}


@media screen and (max-width:768px) {
  .page_title {
    float: none !important;
    margin-bottom: 10px;
    margin-top: 0;
  }

}

.no-padding-bottom {
  padding-bottom: 0px !important;
}
