.form-section{
    min-height: 0px;
    margin-bottom: 0px;
}
.title-margin{
    margin-bottom: 2em;
}
.paragraph-design{
    padding-left: 15px;
    padding-right: 15px;
    text-align:justify;
    
}