#sidebar-wrapper {
    background-color: #2a2e34;
}

#head {
    background-color: #3B97D2;
}

#searchTB {
    background-color: #3B97D2;
}

.sidebar-nav li a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-nav li a:hover {
    color: #fff;
}

.nav-icon {
    color: #909195;
}

.user-box p {
    color: #fff;
}

.head-box i {
    color: #fff;
}

#company-name {
    background-color: #2980B9;
    color: #fff;
    border-bottom: 0 !important
}

.left-side-header {
    width: 100%;
    color: #fff;
    padding: 1em 0em;
}

.left-side-header i {
    float: right;
    margin: 0.35em 1em 0em 0em;
}

.left-side-header h4 {
    margin: 0;
    text-indent: 20px;
}

.left-side-header .fa-circle-o {
    color: #71c38f;
}

.sidebar-nav {
    position: relative;
}

.left-side-header img {
    border: 1px solid #fff;
    border-radius: 180px;
    width: 100%;
    height: auto;
    float: left
}

.left-side-header h5,
.left-side-header p {
    color: #909195;
    text-align: left;
    margin: 0;
    padding: 0;
}

.chat-user-info {
    margin-top: 1em;
}

.sidebar-nav li a {
    color: #909195;
}

.sidebar-nav .selected a {
    background-color: #363d45 !important;
    color: #fff;
}

.sidebar-nav .selected a i {
    color: #fff;
}

.sidebar-nav li:hover {
    color: #fff !important;
    background-color: #2a2e34;
}

.Submenue {
    background-color: #2e3238;
    width: 100% !important;
    padding-left: 0 !important;
    display: block;
}

.submenu-li a {
    background-color: #2e3238 !important;
}

.submenu-li a:hover {
    color: #fff !important;
}

.sidebar-nav li a .LeftArrow {
    font-size: 1em;
    margin: 1em 1.4em 0em 0em !important;
}

.threads {
    color: #909195;
    text-indent: 20px;
    margin-top: 3em;
}

#chat-navbar .chat-nav-icon {
    font-size: 0.5 !important;
}

.active-user {
    color: #71c38f;
}

.margin-btn {
    margin-bottom: 1em;
}

.icon-color {
    color: #909195;
}

.chat-header-list {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

.chat-header-list li {
    float: left;
    border-right: 1px solid #fff;
    padding: 0em 0.8em;
    color: #fff;
    height: 1.3em; overflow: hidden;
}
.chat-header-list li:last-child{
	border-right: 0;
}
.chat-header-list li a {
    color: #fff ;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.chat-head-container .col-sm-6{
	margin-top: 0.45em;
}
.chat-head-container .col-sm-6 h4 {
    float: left;
    margin: 0;
    padding: 0;
}

.chat-header-list li a i {
    float: left;
    margin-right: 0.5em;
    margin-top: 0.1em;
}

.chat-header-list li a p {
	color: #fff;
    float: right;
    font-weight: lighter;
    margin-top: 0.1em;
}

    
