body{
background-color: #fff;
}

.text-middle {
text-align: center;
color: #9b9b9b;
}

.custome-size {
font-size: 60px;
color: #67b2e4;
}

.message-position {
margin-top: 10em;
}

.off-set {
margin-left: 45%;
font-size: 15px;
}