figure {
  width: 100%;
  margin: 0;
  position: relative;
  cursor: pointer;
}

figure:after {
  content: 'gif';
  position: absolute;
  display: inline-block;
  width: 40px;
  text-align: center;
  top: 20px;
  right: 20px;
  font-size: 11px;
  font-weight: 600;
  padding: 5px;
  border-radius: 3px;
  color: #656D78;
  background-color: rgba(170, 178, 189, 0.1);
  text-transform: uppercase;
}

figure.play:before {
  display: none;
}

figure.play:after {
  color: #fff;
  background-color: #8CC152;
}

figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #8d9bad;
}

figcaption a {
  color: #59687b;
  text-decoration: none;
}

.demo-content {
  width: 100%;
  -webkit-transition: opacity 350ms;
  transition: opacity 350ms;
}

.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.pace-running .demo-content {
  opacity: 0.5;
}