.col-md-6 .fc-header-title h2{
    font-size: 0.9em;
    padding-top: 1em;
}

@media(max-width:768px) {
    .centerlize-reponsive{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #searchTB{
        width: 200%;
    }
    html .fc, .fc table{
        font-size: 8px;
    }
    .scroll-y{
        overflow-y: scroll;
        overflow-x: hidden;
        
    }
    #sankey > div:first-of-type > div:first-of-type {
        display: block;
        margin-right: auto;
        margin-left: auto;
}
}
.index-icons {
    font-size: 0.9em;
    color: #626262;

}

.index-icons .col-sm-3{ text-align: center; }
.index-icons{
    overflow: hidden;
}
#sankey{
    height: 290px;
}
.statistics .statistics-taps li a{
    padding:0em 1em 1em 1em !important;
}
.statistics .statistics-taps li.active a, .statistics .statistics-taps li:hover > a{background-color : #F1F3F6 !important;}