.dashboard-info{
    margin-bottom: 0px;
}
.inline-header{
    display: inline;
    vertical-align: -webkit-baseline-middle;
}
.contint-padding{
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #e4e5e7;
}
.sub-text{
    font-size: 13px;
    color: #777;
}
.cont-header-container{
    border: 1px solid #e4e5e7;
}
.body-padding{
    padding-left: 20px;
    padding-right: 20px;
}
.sub-info{
    margin-top: 15px;
}
.sub-info-details{
    margin-top: 5px;
    margin-bottom: 5px;
}
.details-right{
    text-align: right;
}
.details-center{
    text-align: center;
}
.helper-color{
    color:#ccc;
}
.invoice-info tr td{
    padding: 0px;
}
.table-head-info tr td{
    padding: 0px;
}
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr, .table-bordered > thead > tr > td, .table-bordered > thead > tr{
    border: none;
}
.table-bordered{
    border:none;
}
th{
    color: #333;
    font-size: 15px;
    border: none !important;
    border-bottom: 1px solid #E4E5E7 !important;
}
.table-title{
    margin-top: 35px;
}
.sub-total > button {
    margin-left: 58%;
}
.top-sub{
    border-top: 1px solid #E4E5E7 !important;
}
.custom-margin-left{
    margin-left: 77%;
}
