/*
Landing page
Blue Dashboard: v1.0.0
Author: New Release
http://newrelease.io
Copyright 2017 New Release
*/

/*used*/
.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
  height: 80em !important;
  overflow: hidden;
}
/*used*/
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
/*used*/
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
/*used*/
.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #fff;
}
/*used*/
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
/*used*/
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
/*used*/
.video-container video {
  position: absolute;
  z-index: 0;
  top: 0;
}
/*used*/
.video-container video.fillWidth {
  width: 100%;
}
/*used*/
.showcase {
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100% !important;
  position: absolute;
  z-index: 999999;
  position: top;
}
/*used*/
.showcase .logo {
  float: left;
  width: 8em;
}
/*used*/
.container {
  padding-top: 2em !important;
}
/*used*/
.showcase h1 {
  color: #fff;
  text-align: center;
  font-size: 3em !important;
  margin-top: 4em;
}
/*used*/
.showcase h1 span {
  color: #3498db;
}
/*used*/
.showcase p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: normal;
  width: 75%;
  margin: 0 auto;
  font-weight: 200;
}
/*used*/
.showcase-btns {
  margin: 2em auto;
  border-radius: 0 !important;
  font-weight: lighter;
}


.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0 !important;
  font-weight: lighter;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 0 !important;
  font-weight: lighter;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

.btn-group-vertical > .btn.active,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:hover,
.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
  outline: none;
}

.featur-img {
  width: 40em !important;
  height: auto;
  margin: 0 auto;
}

.landing-title {
  text-align: center;
  color: #34495e;
  font-weight: lighter;
  margin-bottom: 1em;
}

.item h4 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 200;
  text-align: center;
}

.item p {
  font-weight: 200;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.5em;
  width: 75%;
  margin: 0 auto;
}

.tech-logos .col-sm-2 {
  text-align: center;
}

.tech-logos img {
  margin: 0 auto;
}

.our-team .text-box-style {
  border-left: 4px solid #67b2e4;
  padding-left: 1em;
}

.our-team img {
  width: 100%;
}

.team-box {
  padding-left: 2em;
  height: 100%;
}

.team-box h3 {
  color: #515151;
  font-weight: lighter;
}

.team-box h1 {
  text-align: left;
  font-weight: 200;
  color: #34495e;
  margin-top: 3em;
}

.team-box p {
  text-align: left;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 200;
}

.no-left-right-padding {
  padding-left: 0em !important;
  padding-right: 0em !important;
}

.single-team-row {
  height: 20em;
  overflow: hidden;
}

.description-box {
  background-color: #67b2e4;
  color: #fff;
  height: 100%;
}

.description-box h2 {
  font-weight: lighter;
  font-size: 4em;
}

.description-box p {
  font-weight: lighter;
  font-size: 2em;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #67b2e4;
  position: absolute;
  z-index: 99999 !important;
  right: -1.3em;
  top: 45%;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #67b2e4;
  position: absolute;
  z-index: 99999 !important;
  left: -1.3em;
  top: 45%;
}

button {
  border-radius: 0 !important;
  font-weight: lighter !important;
  outline: none !important;
}

.btn-info,
.btn-default,
.dashboard-default,
.dashboard-primary,
.dashboard-success,
.dashboard-info,
.dashboard-warning,
.dashboard-danger,
.outline-default,
.outline-primary,
.outline-success,
.outline-info,
.outline-warning,
.outline-danger {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-info {
  background-color: #67b2e4;
  border-color: #67b2e4;
}

.btn-info.focus,
.btn-info:focus {
  background-color: #67b2e4;
  border-color: #67b2e4;
  color: #fff;
}

.btn-info:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}

.btn-default {
  color: #333 !important;
}

.btn-success.focus,
.btn-success:focus {
  background-color: #62d995;
  border-color: #62d995;
  color: #fff;
}

.btn-success:hover {
  background-color: #27ae60 !important;
  border-color: #27ae60 !important;
}

.table > tbody > tr > td,
.table > tbody > tr > th {
  border-bottom: 0 !important;
}

.users-table-format,
.basic-th {
  text-align: center;
}

.table > tbody > tr > td {
  font-weight: 200;
}

.basic-th h4 {
  font-weight: 200;
}

.owl-theme .owl-nav [class*=owl-] {
  display: none;
}

.table > thead > tr .side-border {
  border-bottom-color: #67b2e4 !important;
  border-bottom-width: 3px !important;
}

#map {
  height: 400px;
  width: 100%;
}

footer {
  background-color: #67b2e4;
  width: 100%;
  padding: 0.7em 0em;
  padding-bottom: 1.1
  em;
  text-align: center;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
}

@media screen and (max-width:1711px) {
  .homepage-hero-module {
    height: 60em !important;
  }

}

@media screen and (max-width:1536px) {
  .homepage-hero-module {
    height: 55em !important;
  }

}

@media screen and (max-width:1404px) {
  .homepage-hero-module {
    height: 50em !important;
  }

  .description-box p {
    font-size: 2em;
  }

  .description-box h2 {
    font-size: 3.2em;
  }

}

@media screen and (max-width:1274px) {
  .homepage-hero-module {
    height: 45em !important;
  }

}

@media screen and (max-width:1194px) {
  .single-team-row {
    height: 16em;
  }

}

@media screen and (max-width:1128px) {
  .homepage-hero-module {
    height: 40em !important;
  }

  .description-box p {
    font-size: 1.3em;
  }

  .description-box h2 {
    font-size: 2.1em;
  }

}

@media screen and (max-width:968px) {
  .single-team-row {
    height: 14em;
  }

}

@media screen and (max-width:700px) {
  .featur-img {
    width: 70% !important;
  }

  .tech-logos img {
    margin: 0 auto;
  }

  .showcase .logo {
    margin: 0 auto;
    float: none;
  }

  .showcase h1 {
    margin-top: 1em !important;
  }

  .single-team-row {
    height: auto !important;
  }

}