.img-border{
    border: 2px dashed #ccc;
    padding: 10px;
}
.hide-modal{
    display: none;
    position: absolute;
    font-size: 35px;
    left: 45%;
    top: 45%;
    z-index: 999;
    color: #999;
}
.view-modal{
    position: absolute;
    font-size: 35px;
    left: 45%;
    top: 45%;
    z-index: 999;
    display: block;
    color: #999;
}
.overlay{
    opacity: 0.5;
}
#standard{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#flat{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   
}
#small{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#data{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#right{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.modal-close{
    float: left
}
.modal-content{
    border-radius: 0px;
}
.modal-preview {
    color: #888888;
    position: relative;
    top: 24px;
    left: 95%;
    border: 1px solid #E4E5E7;
    background-color: #fff;
    padding: 0.2em;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}
#myModal2 > .modal-dialog > .modal-content{
    border-top: 0px;
}
.row.right-side-buttons > .col-sm-6 > .btn-primary{
    float: right;
}
.preview {
    color: #888888;
    position: relative;
    top: 24px;
    left: 92%;
    border: 1px solid #E4E5E7;
    background-color: #fff;
    padding: 0.2em;
    z-index: 99;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

/*materializecss*/
.input-field {
    position: relative;
    margin-top: 1rem;
}
input:not([type]), input[type=text]:not(#flat_email), input[type=password], input[type=email]:not(#searchTB):not(#flat_email), input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 13px;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}
input:not(#searchTB):not(#flat_email) {
    line-height: normal;
}
button, input:not(#searchTB):not(#flat_email), optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input:not([type]), input[type="email" i]:not(#searchTB):not(#flat_email), input[type="number" i], input[type="password" i], input[type="tel" i], input[type="url" i], input[type="text" i] {
    padding: 1px 0px;
}
input:not(#searchTB):not(#flat_email), textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
}
input:not([type]).validate+label, input[type=text].validate+label, input[type=password].validate+label, input[type=email]:not(#searchTB):not(#flat_email).validate+label, input[type=url].validate+label, input[type=time].validate+label, input[type=date].validate+label, input[type=datetime].validate+label, input[type=datetime-local].validate+label, input[type=tel].validate+label, input[type=number].validate+label, input[type=search].validate+label, textarea.materialize-textarea.validate+label {
    width: 100%;
    pointer-events: none;
}
.input-field.col label {
    left: 0.75rem;
}
.input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    left: 0;
    font-size: 13px;
    cursor: text;
    transition: .2s ease-out;
}
label {
    font-size: 0.8rem;
    color: #9e9e9e;
}
input:not([type])+label:after, input[type=text]+label:after, input[type=password]+label:after, input[type=email]:not(#searchTB):not(#flat_email)+label:after, input[type=url]+label:after, input[type=time]+label:after, input[type=date]+label:after, input[type=datetime]+label:after, input[type=datetime-local]+label:after, input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after, textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
}
input:not([type])+label:after, input[type=text]+label:after, input[type=password]+label:after, input[type=email]:not(#searchTB):not(#flat_email)+label:after, input[type=url]+label:after, input[type=time]+label:after, input[type=date]+label:after, input[type=datetime]+label:after, input[type=datetime-local]+label:after, input[type=tel]+label:after, input[type=number]+label:after, input[type=search]+label:after, textarea.materialize-textarea+label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    opacity: 0;
}
.input-field label.active {
    font-size: 10px;
    color: #67b2e4;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
.input-field > label{
    font-weight: 400;
}
#flat_email{
    border-radius: 0px;
    height: 50px;
    font-size: 16px;
    border: none;
    box-shadow: none;
    background-color: #eee; 
    padding-left: 10px;
    width: 92%;
    display: inline;
}
.modal-body > .jumbotron{
    padding-left: 5px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-right: 5px !important;
    border-radius: 0px;
}
.middle-dialog{
    top:15%;
}
.jumbotron > .glyphicon-search{
    font-size: 26px;
    margin-top: 10px;
    cursor: pointer;
    color: #9b9b9b;
}
#email-label{
    font-size: 10px;
    color: #67b2e4;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
#password-label{
    font-size: 10px;
    color: #67b2e4;
    -webkit-transform: translateY(-140%);
    transform: translateY(-140%);
}
.custome-margin{
    margin-top: 40%;
}
.right-modal-content{
    text-align: center;
}
.right-button{
    width: 50%;
}