/*!
Notifications style
Blue Dashboard: v1.0.0
Author: New Release
http://newrelease.io
Copyright 2017 New Release
*/
.img-border {
  border: 2px dashed #ccc;
}

.view-modal {
  position: absolute;
  font-size: 35px;
  left: 45%;
  top: 50%;
  display: block;
  color: #999;
}

.hide-modal {
  display: none;
  position: absolute;
  font-size: 35px;
  left: 45%;
  top: 45%;
  color: #999;
}

.small-label {
  color: #888888;
  font-weight: lighter;
  padding-top: 6px;
}

.label {
  border-radius: 0px;
}

.static-hover-cont {
  height: 195px;
}

#alert-select {
  color: #34495E !important;
  border: 1px solid #F1F3F6;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  margin-bottom: 15px;
  width: 30%;
  margin-right: 15px;
  display: inline;
}

#sweet-select {
  color: #34495E !important;
  border: 1px solid #F1F3F6;
  border-radius: 3px;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 12px;
  margin-bottom: 15px;
  width: 30%;
  margin-right: 15px;
  display: inline;
}

.select2 {
  width: 300px !important;
}

#alert-generate {
  cursor: pointer;
  color: #999;
}

.global-alert {
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 50px;
}

.bottom-margin {
  margin-bottom: 8px;
}

.no-padding-left {
  padding-left: 0px;
}

.no-margin-left {
  margin-left: 0px;
}

#sweet-generate {
  cursor: pointer;
  color: #999;
}

.toast-success {
  background-color: #2ecc71;
}

.toast-danger {
  background-color: #e74c3c;
}

.toast-warning {
  background-color: #f1c40f;
}

.toast-info {
  background-color: #3498db;
}

.preview {
  color: #888888;
  position: relative;
  top: 24px;
  left: 92%;
  border: 1px solid #E4E5E7;
  background-color: #fff;
  padding: 0.2em;
  z-index: 99;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.page_title {
  font-weight: lighter;
  color: #6a6c6f;
  font-size: 12px;
  display: inline-block;
}