/*!
Panels style
Blue Dashboard: v1.0.0
Author: New Release
http://newrelease.io
Copyright 2017 New Release
*/

/*used*/
.panel {
  border-radius: 0px;
}
/*used*/
.list-inline.panel-actions {
  display: inline;
  float: right;
}

/*used*/
.panel-primary {
  border-color: #a8a8a8;
}
/*used*/
.panel-success {
  border-color: #96e5b8;
}
/*used*/
.panel-info {
  border-color: #99cbed;
}
/*used*/
.panel-warning {
  border-color: #f8e187;
}
/*used*/
.panel-danger {
  border-color: #f3a59d;
}
/*used*/
.panel-success > .panel-heading {
  color: #fff;
}
/*used*/
.panel-info > .panel-heading {
  color: #fff;
}
/*used*/
.panel-warning > .panel-heading {
  color: #fff;
}
/*used*/
.panel-danger > .panel-heading {
  color: #fff;
}

/*used*/
.panel-group .panel {
  border-radius: 0px;
}
/*used*/
.panel-heading {
  border-radius: 0px;
}

.dag_container > div {
  cursor: move;
}

/*used*/
.no-borders {
  border: 0px;
  box-shadow: none;
}

/*used*/
.no-borders > .panel-heading {
  border: 0px;
  background-color: #fafafa;
}

/*used*/
.no-borders > .panel-footer {
  background: none;
}

/*used*/
.panel-body {
  border-top: 0px !important;
}
/*used*/
.panel-footer {
  border-top: 1px solid #ddd !important;
  background: none;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
}

.panel-body {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
}
/*used*/
.panel-body > p {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
}
/*used*/
.dag_container > div > p {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.7);
}
