.loader {
  height: 4px;
  margin-top: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #3498db;
  animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}


/* Boxes loader */


.vertical--center {
  margin: 0 auto;
  background: white;
  width: 100%;
  height: 100%;
  display: block;
}

.vertical-center__element {
    margin-top: 45px;
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.preloader {
  display: block;
  position: relative;
  width: 1em;
  height: 1em;
  margin: 1px auto;
  background: #3498db;
}
.preloader--top {
  top: 0;
  -webkit-animation: preloaderCSSTop 2s infinite;
          animation: preloaderCSSTop 2s infinite;
}
.preloader--top::after {
  position: absolute;
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  left: 1em;
  background: #3498db;
  margin-left: 1px;
  -webkit-animation: preloaderCSSTopAfter 2s infinite;
          animation: preloaderCSSTopAfter 2s infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.preloader--bottom {
  top: 0;
  -webkit-animation: preloaderCSSBottom 2s infinite;
          animation: preloaderCSSBottom 2s infinite;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.preloader--bottom::after {
  position: absolute;
  content: '';
  display: block;
  width: 1em;
  left: 1em;
  height: 1em;
  background: #3498db;
  margin-left: 1px;
  -webkit-animation: preloaderCSSTopAfter 2s infinite;
          animation: preloaderCSSTopAfter 2s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes preloaderCSSTop {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}

@keyframes preloaderCSSTop {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSBottom {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSBottom {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSTopAfter {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSTopAfter {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}
@-webkit-keyframes preloaderCSSBottomAfter {
  0% {
    background-color: #3498db;
  }
  100% {
    background-color: white;
  }
}
@keyframes preloaderCSSBottomAfter {
  0% {
    background-color: black;
  }
  100% {
    background-color: white;
  }
}
/* google preloader */

showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader1 {
  position: relative;
  margin: 0 auto;
  width: 100px;
}
.loader1:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}




@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@-webkit-keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
