.hr-margins{
    margin-top: 0px;
    border-color: #000;
}
.eye-search{
    color:#f0ad4e;
}
.share-search{
    color: #3b97d2;
}
.list-image{
    width: 45px;
    border-radius: 50%;
    margin-right: 15px;
}
.no-borders{
    border-left: none;
    border-right: none;
    border-top: 1px solid #e4e5e7;
    padding-bottom: 5px;
    padding-top: 5px;
}
.social-info{
    display: inline;
}
.social-details{
    margin-top: 8px;
}