
.right-slide{
    border-radius: 0px;
}
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
}
.modal.right .modal-content {
    height: 100%;
}
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.2s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.2s ease-out;
    -o-transition: opacity 0.3s linear, right 0.2s ease-out;
    transition: opacity 0.3s linear, right 0.2s ease-out;
}
	
.modal.right.fade.in .modal-dialog {
    right: 0;
}
.col-contint > img{
    width: 100%;
}
.form-section{
    min-height: 0px;
    margin-bottom: 0px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.inner-contint{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 0px;
}
.select-width{
    width: 50%;
    display: inline;
}
.generate-display{
    float: right;
}
#toastr-form>.radio{
    margin-bottom: 19px;
}
.select-width{
    margin-bottom: 15px;
}
.generate-display{
    margin-bottom: 15px;
}
.col-padding{
    padding-left: 0px;
}
.dashboard-container>img{
    width: 60%;
    padding-top: 25px;
}
.alert{
    padding-top: 11px;
    padding-bottom: 11px;
}
.form-labels{
    display: block;
    font-size: 13px;
}
