.all-income {
    text-align: center;
    color: #626262;
    h3 {
        font-weight: lighter;
        color: #67b2e4;
    }
}

.acc-personal-info {
    color: rgba(0, 0, 0, 0.51) !important;
    font-weight: lighter;
    .title {
        text-align: center;
    }
    img {
        border: 2px solid #67b2e4;
        border-radius: 180px;
        margin: 0 auto;
        width: 8em;
        height: auto;
    }
    h4 {
        font-weight: lighter;
        color: #67b2e4;
        text-align: center;
    }
    .user-acc-info {
        span {
            text-align: left !important;
            line-height: 2.2em;
            color: rgba(0, 0, 0, 0.51) !important;
            font-size: 1em;
            i {
                color: #67b2e4;
                margin-right: 0.5em;
            }
        }
        label {
            font-weight: lighter;
        }
    }
    .change-acc-select {
        color: #67b2e4;
        font-weight: lighter;
        margin-top: 1em;
    }
    .select2.select2-container.select2-container--default {
        width: 100% !important;
    }
}

.datepicker-here {
    .datepicker-inline {
        .datepicker {
            border: none;
            width: 100%;
            .datepicker--nav-action {
                path {
                    stroke: rgba(0, 0, 0, 0.07) !important;
                }
            }
            .datepicker--nav-title {
                color: #67b2e4;
                font-weight: lighter !important;
            }
        }
    }
}

.acc-report {
    #column_searching {
        .static-width {
            width: 30%;
        }
        .green-trans {
            color: #62d995 !important;
        }
        .red-trans {
            color: #ed796d !important;
        }
    }
    .transaction-drop {
        margin-bottom: 0px !important;
        margin-top: 12px;
    }
    .outline-icon-btn {
        span {
            float: right;
            padding-left: 2em;
            padding-top: 0.1em;
        }
    }
}
