.acc-personal-info {
	color: rgba(0, 0, 0, 0.51) !important;
	font-weight: lighter;
	img {
		border-radius: 180px;
		border: 2px solid #67b2e4;
		height: auto;
		margin: 0 auto;
		width: 8em;
	}
	h4 {
		color: #67b2e4;
		font-weight: lighter;
		text-align: center;
	}
	.title {
		text-align: center;
	}
	label {
		font-weight: lighter;
	}
	.change-acc-select {
		color: #67b2e4;
		font-weight: lighter;
		margin-top: 1em;
	}
}
.user-acc-info {
	span {
		color: rgba(0, 0, 0, 0.51) !important;
		font-size: 1em;
		line-height: 2.2em;
		text-align: left !important;
		i {
			color: #67b2e4;
			margin-right: 0.5em;
		}
	}
}
.select-style {
	-moz-appearance: none;
	-moz-border-radius: 0;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-webkit-user-select: none;
	appearance: none;
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
	border-radius: 0;
	border: 0 !important;
	box-sizing: border-box;
	color: #9e9e9e;
	cursor: pointer;
	display: block;
	font-weight: lighter;
	margin: 0.7em 0em 1.5em 0em;
	padding-bottom: 0.5em;
	user-select: none;
	width: 100%;
}
.select-style {
	&:focus {
		border-bottom: 1px solid #67b2e4 !important;
		outline: none;
	}
}
.datepicker-inline {
	.datepicker {
		border: none;
		width: 100%;
	}
}
.datepicker--nav-title {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	color: #67b2e4;
	font-weight: lighter !important;
	transition: all 0.5s ease;
}
.datepicker--nav-action {
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	font-weight: lighter !important;
	transition: all 0.5s ease;
}
.datepicker--nav-action {
	path {
		stroke: rgba(0, 0, 0, 0.07) !important;
	}
	&:hover {
		background-color: #ffffff !important;
		stroke: #888888 !important;
	}
}
.datepicker--nav-title {
	&:hover {
		background-color: #ffffff !important;
		stroke: #888888 !important;
	}
}
.datepicker--day-name {
	border-radius: 0 !important;
	color: rgba(0, 0, 0, 0.51) !important;
	font-weight: lighter;
}
.datepicker--cell {
	&:hover {
		border-radius: 0 !important;
	}
}
.datepicker--cell-day {
	color: rgba(0, 0, 0, 0.51) !important;
	font-weight: lighter;
}
.datepicker--cell.-selected- {
	background-color: #67b2e4 !important;
	border-radius: 0 !important;
	color: #ffffff !important;
}
.datepicker--cell.-selected-.-current- {
	background-color: #67b2e4 !important;
	border-radius: 0 !important;
	color: #ffffff !important;
}
#flat_email {
	border-radius: 0px;
}
.btn-group.bootstrap-select.select-display.form-control.empty.col-12 {
	margin-top: 8px;
}
.btn.dropdown-toggle.btn-default {
	&:focus {
		outline: none !important;
	}
}
.top-margin {
	margin-top: 0.5em;
}
.has-error>input {
	border-bottom: 1px solid #a94442 !important;
}
.has-success>input {
	border-bottom: 1px solid green !important;
}
.has-error>.select-style {
	border-bottom: 1px solid #a94442 !important;
}
.form-group {
	margin-bottom: 0.8em;
}
.all-income {
	text-align: center;
	h3 {
		font-weight: lighter;
	}
}
#column_searching_length {
	display: none;
}
#column_searching_filter {
	display: none;
}
.select-custom-width {
	border-bottom: 1px solid rgba(0, 0, 0, 0.4) !important;
	color: rgba(0, 0, 0, 0.4);
	width: 30%;
}
table.dataTable {
	thead {
		.sorting_asc {
			float: left !important;
		}
	}
}
#column_searching_info {
	display: none;
}
.static-width {
	width: 30%;
}
.all-income {
	color: #626262;
	text-align: center;
	h2 {
		font-weight: lighter;
	}
	h3 {
		color: #67b2e4;
		font-weight: lighter;
	}
}
.all-income-invers {
	background-color: #67b2e4 !important;
	color: #ffffff;
	text-align: center;
	h2 {
		font-weight: lighter;
	}
	h3 {
		color: #ffffff;
		font-weight: lighter;
	}
}
.flat-style {
	color: #848484;
	float: right;
	font-weight: lighter;
}
.green-trans {
	color: #62d995;
}
.red-trans {
	color: #ed796d;
}
.transaction-drop {
	margin-bottom: 0px !important;
	margin-top: 19px;
}
.btn.dropdown-toggle.btn-default {
	&:not(.btn-sm) {
		border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
	}
}
.select2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}
.select2-container--default {
	.select2-selection--single {
		.select2-selection__rendered {
			font-weight: 200 !important;
		}
	}
}
