.info {
	background-color: #5bc0de;
}

.success {
	background-color: #449d44;
}

.warning {
	background-color: #f0ad4e;
}

.danger {
	background-color: #d9534f;
}

.no-padding-left {
	padding-left: 0px;
}

.no-padding-right {
	padding-right: 0px;
}