.wrapper {
  .sidebar-wrapper.chat-view-navbar {
    background-color: #2a2e34;
    margin-top: 0px !important;
    overflow-y: scroll;
    overflow-x: hidden;

    .left-side-header {
      width: 100%;
      color: @white-color;
      padding: 1em 0em;

      h4 {
        margin: 0px;
        text-indent: 20px;
      }

      i {
        float: right;
        margin: 0.35em 1em 0em 0em;
      }

      .icon-color {
        color: @dark-grey;
      }

      .chat-user-info {
        margin-top: 1em;
        padding: 1em 0em;
        .css-effect(all 0.5s ease);
        cursor: pointer;

        &:hover {
          background-color: #22252b;
        }

        .chat-user-img {
          margin-left: 0.5em;

          img {
            border: 1px solid #dcdcdc;
            border-radius: 0px;
            width: 100%;
            height: auto;
            float: left;
          }

          @media(max-width:800px) {
            width: 40%;
            float: left;
          }

        }

        h5,
        p {
          color: @dark-grey;
          text-align: left;
          margin: 0px;
          padding: 0px;
          line-height: 1.6em;

          .no-margin {
            margin: 0px !important;
            float: none !important;
            font-size: 1em;
            padding-left: 1.2em;
          }

        }

        i {
          color: #71c38f;

          &.fa-angle-down {
            color: @white-color !important;
          }

        }

        .col-sm-10 {
          @media(max-width:800px) {
            float: left;
            width: 80%;
          }

        }

      }

    }

    .left-side-body {
      padding-bottom: 5em;

      .sidebar-nav {
        position: relative;

        li {
          margin-bottom: 1em;

          a {
            .nav-icon {
              color: @dark-grey;
              float: left;
              margin-top: 1em;
            }

            .open-sub {
              display: inline;
            }

            .left-arrow {
              font-size: 1em;
              margin: 1em 1.15em 0em 0em !important;
            }

          }

          ul.submenue {
            background-color: #2e3238;
            width: 100% !important;
            padding-left: 0px !important;
            display: block;

            li {
              a {
                background-color: #2e3238 !important;

                &:hover {
                  color: @white-color !important;
                }

                .nav-icon {
                  float: left;
                  color: @dark-grey;
                }

              }

              &.selected {
                a {
                  border-right: 0px !important;
                  border-left: 4px solid @header-background !important;
                  background-color: #363d45 !important;
                  color: @white-color !important;

                  i {
                    color: @white-color;
                  }

                }

              }

              .active-user {
                color: #71c38f;
              }

            }

          }

          a {
            .css-effect(all 0.5s ease);
            color: @dark-grey;
            border-bottom: 0px !important;
            border-right: 1px;

            &::hover {
              color: @white-color;
            }

          }

          &:hover {
            color: @white-color !important;
            background-color: #2a2e34;
          }

        }

      }

    }

    .left-side-footer {
      background-color: #22252b;
      padding: 12px 20px;
      width: 18.9em;
      position: fixed;
      bottom: 0em;

      a {
        background-color: #22252b !important;
        border: 0px;
        margin: 0px !important;
        width: 6em;
        padding-left: 0px !important;
        margin-left: -1em !important;
        color: @dark-grey !important;
        font-size: 1em;

        p {
          margin-left: 1.5em !important;
          font-size: 1em !important;
        }

      }

      img {
        width: 12em;
        margin: 0px auto;
      }

    }

  }

  .chat-cotainer {
    background-color: @white-color;
    width: 100%;
    height: 100%;
    position: relative;

    .chat-header {
      background-color: @header-background;
      padding: 0.5em 0em 1em 0em;
      position: absolute;
      width: 100%;
      z-index: 999;

      @media(max-width:700px) {
        overflow: initial;
        height: auto;
      }

      .chat-header-list {
        list-style: none;
        margin: 0px;
        padding: 0px;
      }

      .left-side-chat-lest {
        margin-top: 0.45em;

        .menu-toggle {
          display: none;

          @media(max-width:767px) {
            display: block;
            margin: 0.3em 1em 0em 1em !important;
            color: @white-color;
          }

        }

        @media(max-width:700px) {
          width: 45% !important;
          padding: 0px !important;
          margin: 0px !important;
          float: left;
        }

        h4 {
          float: left;
          margin: 0px !important;
          color: @white-color;
          padding: 0px;

          @media(max-width:800px) {
            margin: 0.2em 0em 0em 0.6em !important;
          }

        }

        ul {
          float: left;
          margin-left: 1em !important;

          @media(max-width:700px) {
            display: none;
          }

          li {
            float: left;
            color: @white-color;
            height: 1.3em;
            overflow: hidden;
            padding: 0em 0.8em;
            border-right: 1px solid @white-color;

            @media(max-width:767px) {
              text-align: left;
              float: left;
              padding: 0em 1em !important;
              margin-right: 0px !important;
              border-right: 0px !important;
            }

            @media(max-width:700px) {
              margin-left: 0em;
            }

            &:last-child {
              padding: 0em;
              border-right: 0px;
              padding-left: 1em;
            }

            a {
              color: @white-color;
              .css-effect(all 0.5s ease);

              i {
                float: left;
                margin-right: 0.5em;
                margin-top: 0.1em;
              }

              p {
                color: @white-color;
                float: right;
                font-weight: lighter;
                margin-top: 0.1em;
              }

            }

          }

        }

      }

      .right-side-chat-lest {
        margin-top: 0.45em;
        width: auto !important;
        float: right;
        padding-right: 20px !important;

        @media(max-width:1129px) {
          padding-right: 0px !important;
          width: auto;
          margin-right: 0.5em;
          display: none;
        }

        @media(max-width:700px) {
          width: 45% !important;
          padding: 0px !important;
          margin: 0px !important;
          padding-right: 5px !important;
          position: absolute;
          top: 0.5em;
          right: 0.5em;
        }

        .form-group {
          float: left;
          margin-left: 1em;
          margin-bottom: 0px;
          width: 60% !important;
          overflow: hidden;

          @media(max-width:800px) {
            display: none;
          }

          .icon-addon {
            .chat-search {
              color: @white-color;
              padding-left: 1.5em;
              border-bottom: 0px !important;
              padding-top: 0px;
              height: 1.2em !important;

              @media(max-width:1155px) {
                width: 13em;
              }

            }

          }

          .glyphicon-search {
            color: @white-color;
            float: left;
            position: absolute;
            cursor: pointer;
          }

          ::-webkit-input-placeholder {
            color: @white-color;
          }

          :-moz-placeholder {
            color: @white-color;
            opacity: 1;
          }

          ::-moz-placeholder {
            color: @white-color;
            opacity: 1;
          }

          :-ms-input-placeholder {
            color: @white-color;
          }

        }

        ul {
          @media(max-width:700px) {
            width: 100%;
          }

          li {
            float: left;
            color: @white-color;
            height: 1.3em;
            overflow: hidden;
            padding: 0em 0.5em;

            @media(max-width:767px) {
              padding: 0px !important;
              margin: 0px !important;
              text-align: right;
              float: right;
              padding-left: 2em !important;
            }

            a {
              color: @white-color;
              .css-effect(all 0.5s ease);

              i {
                float: left;
                margin-right: 0.5em;
                margin-top: 0.1em;

                @media(max-width:1129px) {
                  margin-right: 0px !important;
                }

              }

              p {
                @media(max-width:767px) {
                  display: none;
                }

              }

            }

          }

        }

        a {
          i {
            color: @white-color;
            float: right;
            margin-top: 0.2em;
          }

        }

      }

    }

    .message-box {
      position: relative;
      height: 100vh;
      overflow: scroll;
      padding-top: 4em;
      padding-bottom: 4em;

      .chat-channel-link {
        color: @info-mid-color;
        text-decoration: underline;
        margin-right: 0.3em;
      }

      .chat-user-link {
        color: #71c38f;
        text-decoration: underline;
        margin-right: 0.3em;
      }

      h2 {
        color: #515151;
        font-weight: bold;
      }

      h4 {
        color: #878787;
        font-weight: lighter;
        line-height: 1.1;
        margin: 0px !important;
        font-size: 1.2em;
      }

      .chat-actions {
        margin: 2em 0em;

        a {
          color: @info-mid-color;
          text-decoration: none;
          text-align: left;
          .css-effect(all 0.5s ease);

          i {
            margin-right: 0.5em;
          }

          &:hover {
            text-decoration: underline;
          }

        }

      }

      .chat-time {
        h5 {
          text-align: center;
          background-color: @white-color;
          padding: 1em;
          width: 12em;
          position: relative;
          margin: 0px auto;
          z-index: 99;
          color: #2a2e34;
          font-weight: lighter;
        }

        hr {
          margin-top: -1.4em;
        }

      }

      ul {
        padding-left: 0px;

        li {
          list-style: none;

          .post-image-row {
            display: inline;

            img.sender-avatar {
              border-radius: 0 !important;
              border: 1px solid @info-mid-color;
              margin-right: 15px;
              float: left;
              width: 4em;
            }

          }

          .msg-content {
            display: inline;

            .msg-details {
              display: table;

              p {
                &.post-user-name {
                  float: left;
                  margin-right: 0.5em;
                  font-weight: bold;
                }

                &.post-time {
                  color: #9e9e9e;
                  float: left;
                  font-size: 0.9em;
                }

              }

            }

            .msg-text {
              display: table;

              img {
                width: 29em;
                height: auto !important;

                @media (max-width:700px) {
                  width: 90%;
                }

              }

              &.border-left-style {
                border-left: 3px solid #d8d8d8 !important;
                padding-left: 1em;

                a {
                  color: @info-mid-color;
                }

                ul.post-desc {
                  margin: 0px !important;
                  padding: 0px !important;

                  li {
                    list-style: none;
                    float: left;
                    color: #b5b5b5;
                    font-weight: lighter;
                    border-right: 1px solid #b5b5b5;
                    padding: 0em 0.5em;

                    i.fa-youtube-play {
                      color: @danger-mid-color;
                    }

                    &:first-child {
                      padding: 0em 0.5em 0em 0em;
                    }

                    &:last-child {
                      border-right: 0px solid #b5b5b5;
                    }

                  }

                }

              }

              .chat-video {
                border: 1px solid #eeeeee;
              }

            }

          }

        }

      }

    }

    .chat-footer {
      position: absolute;
      z-index: 100;
      bottom: 0px;
      left: 0px;
      width: 100%;
      padding: 0em 1em;

      .chat-input {
        bottom: 0em;
        z-index: 999999;
        width: 100%;
        background-color: @white-color;
        margin-bottom: auto;

        @media(max-width:767px) {
          width: 100%;
        }

        .chat-messages-form {
          position: relative;
          min-height: 3em;
          border: 1px solid #d3d3d3;

          .add-file-btn {
            border: 0px !important;
            border-right: 1px solid #d3d3d3 !important;
            color: #686868 !important;
            padding: 0em 1em;
            position: absolute;
            z-index: 9999;
            left: 0px;
            top: 0px;
            height: 100%;

            &:hover {
              border-right: 1px solid #d3d3d3 !important;
            }

          }

          .add-omg-btn {
            border: 0px !important;
            border-left: 1px solid #d3d3d3 !important;
            color: #686868 !important;
            padding: 0em 0.5em 0em 1em;
            position: absolute;
            z-index: 9999;
            right: 0.5em;
            top: 0px;
            height: 100%;

            &:hover {
              border-left: 1px solid #d3d3d3 !important;
              background-color: @white-color !important;
              color: @black-color !important;
            }

          }

          .chat-message-input {
            font-weight: lighter;
            padding: 0.9em 3.5em;
            width: 100%;
            position: relative;
            left: 0px;
            z-index: 999;
            height: 2.5em;
            min-height: 45px;
            max-height: 10em;
            overflow-x: hidden;
            overflow-y: scroll;
            border: 0px !important;
            resize: none;
            margin-bottom: -5px;

            &:focus {
              outline: none;
            }

          }

        }

        .notification-bar {
          height: 1em;
          width: 100%;
          background-color: @white-color;
        }

      }

    }

  }

  //Modals
  .user-info-pop {
    left: 1.5em;
    top: 9.1em;
    width: 16.35em;
    box-shadow: none !important;
    border: 1px solid #e8e8e8;
    position: absolute static;
    z-index: 999;
    .css-effect(all 0.9999s ease);

    .online-offline-form {
      padding-left: 0.5em;

      label {
        color: #8d8d8d !important;
      }

    }

    a {
      .user-info-content {
        padding: 0.6em 0.6em !important;
      }

    }

  }

  .channel-modal,
  .direct-message-modal {
    .right-button {
      width: 50%;
      margin-bottom: 10px;
    }

    label.prv-lbl {
      color: @modals-text-color;
      font-weight: lighter;
    }

    .bootstrap-switch {
      border-radius: 0px !important;
      float: right !important;

      .bootstrap-switch-primary {
        background-color: @info-mid-color !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
      }

      .bootstrap-switch-default,
      .bootstrap-switch-default {
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
      }

    }

    .modal-title {
      color: @modals-text-color;
      font-weight: lighter;
    }

    .modal-body {
      .input-field {
        position: relative;
        margin-bottom: 1em;
        margin-top: 0.5em;

        input {
          margin: 0em 0em 1em 0em;
          padding-bottom: 1em;
        }

        label {
          color: @modals-text-color;
          position: absolute;
          top: 0.8rem;
          bottom: 3em;
          left: 0px;
          font-size: 1em;
          cursor: text;
          transition: 0.2s ease-out;
          font-weight: 400;

          &.active {
            font-size: 1.1em;
            color: @info-mid-color;
            -webkit-transform: translateY(-140%);
            transform: translateY(-140%);
          }

        }

      }

    }

  }

}