.error-body {
  background-color: @white;

  .message-position {
    margin-top: 10em;

    .text-middle {
      text-align: center;
      color: @default-dark;

      &.custome-size {
        font-size: 60px;
        color: @info-mid;
      }

    }

    .off-set {
      margin-left: 45%;
      font-size: 15px;
    }

  }

}