.form-page {
  .group-content {
    margin-left: 0px;
    margin-right: 0px;

    .form-select {
      margin-top: 12px;
    }

  }

  .input-label {
    font-size: 12px;
    display: block;
    font-weight: 500;
  }

  .form-control {
    padding: 0px;
  }

  .dropzone-min {
    padding-top: 10px;
    min-height: 410px;

    .dropzone {
      min-height: 390px;

      .dz-default.dz-message {
        position: relative;
        top: 55px;

        .drop-zone-icon {
          font-size: 70px;
          color: #9b9b9b;
        }

      }

    }

  }

}
