.group-content {
	margin-left: 0px;
	margin-right: 0px;

	.form-select {
		margin-top: 12px;
	}

}

.first-third {
	padding-left: 0px;

	.col-contint {
		min-height: 427px;
	}

}

.second-third {
	padding-left: 0px;

	.col-contint {
		min-height: 427px;
	}

}

.last-third {
	padding-left: 0px;
	padding-right: 0px;
}

.label-type {
	font-size: 12px;
	display: block;
	font-weight: 500;
}

.third-section {
	padding-bottom: 16px;
}

.mediumtitle {
	color: #3B97D2;
	margin-top: 0px;
}

.yes-no-check {
	margin-left: 15px;
	margin-right: 10px;
	display: inline-block;
	margin-top: 2em;
	text-align: justify;
}
.datepicker {
	width: 100%;
}
.form-labels {
	display: block;
	line-height: 30px;
	font-size: 13px;
	font-family: Arial;
	color: #707A7A;
	font-weight: 500;
}

.dropzone-min {
	padding-top: 10px;
	min-height: 410px !important;

	.dropzone {
		min-height: 390px;

		.dz-default.dz-message {
			position: relative;
			top: 55px;

			.drop-zone-icon {
				font-size: 70px;
				color: #9b9b9b;
			}

		}

	}

}