.wrapper {
  .icons-page-content {
    .code-table {
      td {
        padding-right: 1.5em;
      }

    }

    .icons-single-box {
      .col-content {
        height: 31.5em;
        overflow: hidden;

        .col-sm-4,
        .col-sm-3 {
          height: 7em;
        }

        div {
          text-align: center;
          font-weight: lighter;
          color: #34495e;

          i,
          span,
          .glyphicon td > .fa {
            width: 100%;
            font-size: 1.5em;
          }

        }

      }

    }

    .col-md-12 {
      .all-icons {
        table {
          border: 0px;

          tr,
          td {
            background: none;
            border: 0px;
            color: @paragraph-color;
            text-align: center;
            font-weight: lighter;
            padding: 1.2em 0em;
            font-size: 1.05em;

            i {
              width: 100%;
            }

          }

          tfoot,
          thead {
            display: none;
          }

        }

        img {
          width: 80%;
          margin: 10px auto;
        }

        .dataTables_length {
          display: none;
        }

        .dataTables_filter {
          width: 80%;
          margin: 0.5em 0em;

          label {
            width: 45%;
            display: block;

            input {
              width: 50%;
              border-right: 0px;
              border-left: 0px;
              border-top: 0px;
              border-radius: @no-radius;
            }

          }

        }

      }

    }

  }

}
