.wrapper {
    .page-content-wrapper {
        .container-fluid {
            .row {
                .icons-single-box {
                    .col-content {
                        height: 31.5em;
                        overflow: hidden;
                        .col-sm-4,
                        .col-sm-3 {
                            height: 7em;
                            border: none !important;
                            border-bottom: @nav-link-border !important;
                        }
                        div {
                            text-align: center;
                            font-weight: lighter;
                            i,
                            span,
                            .glyphicon td > .fa {
                                width: 100%;
                                font-size: 1.5em;
                            }
                        }
                    }
                }
                .col-md-12 {
                    .all-icons {
                        table {
                            border: 0 !important;
                            tr,
                            td {
                                background: none !important;
                                border: none !important;
                                color: @paragraph-color;
                                text-align: center;
                                font-weight: lighter;
                                padding: 1.2em 0em !important;
                                font-size: 1.05em !important;
                                i {
                                    width: 100%;
                                }
                            }
                            tfoot,
                            thead {
                                display: none;
                            }
                        }
                        img {
                            width: 80%;
                            margin-bottom: 8px;
                            margin-top: 8px;
                        }
                        p {
                            text-align: center;
                        }
                        .dataTables_length {
                            display: none;
                        }
                        .dataTables_filter {
                            width: 80% !important;
                            margin: 0.5em 0em;
                            label {
                                width: 45% !important;
                                display: block;
                                input {
                                    width: 50% !important;
                                    border-right: 0px !important;
                                    border-left: 0px !important;
                                    border-top: 0px !important;
                                    border-radius: @no-radius !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
