#wrapper {
    #page-content-wrapper.invoice-main-class {
        .container-fluid {
            .row {
                .col-contint {
                    .col-sm-8 {
                        .table-head-info {
                            tbody {
                                tr {
                                    td {
                                        padding: 0.3em;
                                        h3 {
                                            color: @title-color;
                                        }
                                    }
                                }
                            }
                        }
                        &.invoice-title {
                            color: @title-color;
                            border-bottom: 4px solid @head-background;
                            padding-bottom: 1.4em;
                        }
                    }
                    .col-sm-4 {
                        table {
                            width: 80%;
                            float: right;
                            margin-top: 0.6em;
                            tbody {
                                tr {
                                    td {
                                        padding: 0.4em 0em;
                                        &.gray-color {
                                            color: #878787;
                                        }
                                        h3 {
                                            color: @title-color;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .col-sm-12 {
                        h3.table-title {
                            color: @title-color;
                        }
                        table.table-bordered {
                            margin-bottom: 0 !important;
                            padding-bottom: 0 !important;
                            border:none;
                            .table-head {
                                tr {
                                    th {
                                        color: @black;
                                        font-weight: bold !important;
                                        border-left: none;
                                        border-right: none;
                                        border-bottom: 2px solid #ddd;
                                    }
                                }
                            }
                            tbody {
                                tr {
                                    &.no-background {
                                        .sub-total {
                                            border-color: @white !important;
                                        }
                                        .top-sub {
                                            border-top: 1px solid #E4E5E7 !important;
                                        }
                                    }
                                    td {
                                        border:none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/* move to btn */
.outline-icon-btn {
    span {
        float: right;
        padding-left: 2em;
        padding-top: 0.1em;
    }
}

/* move to main */
@media print {
    #sidebar-wrapper {
        display: none;
    }
    #head {
        display: none;
    }
    #PageTitle {
        display: none;
    }
    #Right-Side-Section-Togle {
        display: none;
    }
    .btn {
        display: none;
    }
}
