.modals-page-container {
  .preview {
    .css-effect(all 0.5s ease);
    color: #888888;
    position: relative;
    top: 24px;
    border: @nav-link-border;
    background-color: @white;
    padding: 0.2em;
    z-index: 99;
    cursor: pointer;
    float: right;

    &:hover {
      color: @title-color;
      background-color: #e4e5e7;
    }

  }

  .img-border {
    .padding(10px);
    border: 2px dashed #cccccc;
    width: 100%;

    &.center-block {
      float: none;
      margin: 0px auto;
    }

  }

}
