#wrapper {
    #page-content-wrapper {
        .container-fluid {
            .row {
                .col-contint {
                    &.notifications-style {
                        #sweet-generate {
                            cursor: pointer;
                            color: #999;
                        }
                        .select2 {
                            width: 300px !important;
                        }
                    }
                    &.static-hover-cont {
                        height: 195px;
                    }
                }
            }
        }
    }
}
