<template name="errorLayout.html">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row message-position">
                <div class="col-md-12">
                    {{> Template.dynamic template=content}}
                    <div class="row">
                        <a href="index.html" class="btn btn-info button-style hvr-icon-back off-set">&nbsp;&nbsp;&nbsp;&nbsp; Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
