<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blue Dashboard</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="../assets/css/editor.css" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Company Name
                </li>
                <li>
                    <a href="../index.html"><i class="fa fa-tachometer nav-icon" aria-hidden="true"></i>Dashboard<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="MainMenue" href="#">
                        <i class="fa fa-file-text nav-icon" aria-hidden="true"></i>
                        Forms<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                    <ul class="Submenue">
                        <li>
                            Sub Title
                        </li>
                        <li>
                            Sub Title
                        </li>
                        <li>
                            Sub Title
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-pie-chart  nav-icon" aria-hidden="true"></i>
                        Charts<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="selected">
                    <a href="inbox.html">
                        <i class="fa fa-envelope nav-icon" aria-hidden="true"></i>
                        Inbox<span class="label label-primary nav-lbl">2</span><i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-eye   nav-icon" aria-hidden="true"></i>
                        UI Elements <span class="label label-success nav-lbl">New</span> <i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-windows nav-icon" aria-hidden="true"></i>
                        Tabs<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="layouts/calendar.html">
                        <i class="fa fa-calendar-check-o nav-icon" aria-hidden="true"></i>
                        Calendar<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="layouts/social.html">
                        <i class="fa fa-share-alt-square nav-icon" aria-hidden="true"></i>
                        Social<span class="label label-warning nav-lbl">Special</span><i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-desktop nav-icon" aria-hidden="true"></i>
                        Views<i class="fa fa-angle-left LeftArrow " aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-table nav-icon" aria-hidden="true"></i>
                        Tables<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-map nav-icon" aria-hidden="true"></i>
                        Maps<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-gift nav-icon" aria-hidden="true"></i>
                        Extra<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-wikipedia-w nav-icon" aria-hidden="true"></i>
                        Widget<i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrows nav-icon" aria-hidden="true"></i>
                        Drag Droup <i class="fa fa-angle-left LeftArrow" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="head">
            <div class="container-fluid header-container">
                <i href="#menu-toggle" id="menu-toggle" class="fa fa-bars" aria-hidden="true"></i>
                <div class="form-group">
                    <div class="icon-addon addon-md">
                        <input type="text" placeholder="Type anywhere to search" class="form-control" id="searchTB">
                        <i class="fa fa-search glyphicon glyphicon-search" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="right-side-head">
                    <div class="notifecations head-box">
                        <button id="notifications" class="btn btn-default btn-lg btn-link">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                        </button>
                        <span id="not-badg" class="badge badge-notify">2</span>
                    </div>
                    <div class="email head-box">
                        <button id="messages" class="btn btn-default btn-lg btn-link">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </button>
                        <span id="message-badg" class="badge badge-notify">4</span>
                    </div>
                    <div id="user-box" class="user-box head-box">
                        <p> Mr.Sami&nbsp;&nbsp; &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></p>
                        <img src="../assets/images/Sami.jpg" />
                    </div>
                </div>
            </div>
        </div>


        <!-- Page Content -->
        <a href="#" id="PageTitle">Inbox</a>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 InboxLeftSide">
                        <div class="CenteredDiv">
                            <button type="button" class="btn btn-default compose">COMPOSE</button>
                        </div>
                        <nav class="InboxLeftNav">

                            <ul>
                                <li>
                                    <h6> BROWSE</h6>
                                    <ul>
                                        <li>
                                            <a class="SelectedEmail" href="#"> <i class="fa fa-inbox" aria-hidden="true"></i> Inbox<span class="label label-primary">2</span></a>

                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-folder" aria-hidden="true"></i> All mail</a>
                                            <ul class="InboxSubmenue">
                                                <li>
                                                    <a href="#">Important</a>
                                                </li>
                                                <li>
                                                    <a href="#">Labeled</a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#"> <i class="fa fa-paper-plane" aria-hidden="true"></i>Sent</a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Spam</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <h6>QUICK VIEW</h6>
                                    <ul>
                                        <li>
                                            <a href="#">Documents</a>
                                        </li>
                                        <li>
                                            <a href="#">Flagged</a>
                                        </li>
                                        <li>
                                            <a href="#">Images</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-md-8  split-view">
                        <table class="Compose-table">
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label class="Email-lable" for="inputdefault">TO:</label>

                                        <input type="text" class="form-control  Compose-style" id="tokenfield" value="Mohammad,Ahmad,Mahmoud" />
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="Email-lable" for="inputdefault">CC:</label>
                                        <input class="form-control Compose-style" id="inputdefault" type="text">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        <label class="Email-lable" for="inputdefault">SUBJECT:</label>
                                        <input class="form-control Compose-style" id="inputdefault" type="text">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="summernote-compose">Hello Summernote</div>
                        <div class="clearfix"></div>
                        <button type="button" class="btn btn-default Cancel-email">Cancel</button>
                        <button type="button" class="btn Send-btn">Send</button>
                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
        <!-- /#wrapper -->
        <div id="Right-Side-Section">
            <div id="Right-Side-Section-Togle">
                <i class="fa fa-pencil-square-o" id="Edit" aria-hidden="true"></i>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <td colspan="4">
                            <div onclick="closeToggel()" id="Close">
                                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="notifecations-box">
            <div class="arrow-up"></div>
            <h5>Notifications</h5>
            <div class="single-not-content">
                <a href="#">
                    <img src="../assets/images/Sami.jpg" />
                    <p><b>Mohammad Meshaal</b>&nbsp;    wants your confirmation on his Leave Request on 12 May 2015</p>
                </a>
            </div>
            <div class="single-not-content">
                <a href="#">
                    <img src="../assets/images/Sami.jpg" />
                    <p><b>Mohammad Meshaal</b>&nbsp;    wants your confirmation on his Leave Request on 12 May 2015</p>
                </a>
            </div>
            <div class="veiw-all-not">
                <a href="#">View All</a>
            </div>
        </div>
        <div class="messages-box">
            <div class="arrow-up"></div>
            <h5>Messages <a class="send-message-link " href="#">Send New Message</a></h5>
            <div class="single-not-content">
                <a href="#">
                    <img src="../assets/images/Sami.jpg" />
                    <p><b>Mohammad Meshaal</b><br />    Message subject will display here</p>
                </a>
            </div>
            <div class="single-not-content">
                <a href="#">
                    <img src="../assets/images/Sami.jpg" />
                    <p><b>Mohammad Meshaal</b><br />    Message subject will display here</p>
                </a>
            </div>
            <div class="single-not-content">
                <a href="#">
                    <img src="../assets/images/Sami.jpg" />
                    <p><b>Mohammad Meshaal</b><br />    Message subject will display here</p>
                </a>
            </div>
            <div class="single-not-content">
                <a href="#">
                    <img src="../assets/images/Sami.jpg" />
                    <p><b>Mohammad Meshaal</b><br />    Message subject will display here</p>
                </a>
            </div>
            <div class="veiw-all-not">
                <a href="#">View All</a>
            </div>
        </div>
        <div class="user-info-box">
            <div class="arrow-up user-arrow"></div>
            <a href="#">
                <div class="user-info-content">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Proﬁle
                </div>
            </a>
            <a href="#">
                <div class="user-info-content">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    Settings
                </div>
            </a>
            <a href="#">
                <div class="user-info-content">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    Help
                </div>
            </a>
            <a href="#">
                <div class="user-info-content logout">
                    Log Out
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../assets/js/vendors/Chart.bundle.js"></script>
    <script src="../assets/js/vendors/bootstrap.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/text_editor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="../assets/js/vendors/editor.js"></script>
    <script src="../assets/js/notifications_boxs.js"></script>
    <link href="../assets/vendors/summernote/summernote.css" rel="stylesheet">
    <script src="../assets/vendors/summernote/summernote.js"></script>
    <script src="../assets/js/forms.js"></script>
</body>
</html>
