<template name="calendar">
    <div id='calendar'></div>
    <div class="modal right fade" id="add-event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content add-event-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">
                            From: <label id="apptStartTime"></label><br>
                            To:  <label id="apptEndTime"></label>
                            <!-- hidden Items-->
                            <label id="apptStartpost"></label><br>
                            <label id="apptEndpost"></label>
                            <!-- end hidden items -->
                            </h4>
                </div>
                <div class="modal-body">
                    <form id="createAppointmentForm" class="form-horizontal">
                        <div class="control-group">
                            <div class="controls">
                                <div class="input-field parent">
                                    <input name="name" id="name" type="text" class="validate">
                                    <label for="name"><i class="fa fa-calendar-o" aria-hidden="true"></i>Event Name</label>
                                </div>
                                <div class="input-field parent">
                                    <input id="location" name="location" type="text" class="validate">
                                    <label for="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Location</label>
                                </div>
                                <div class="input-field parent">
                                    <input name="Notes" id="notes" type="text" class="validate">
                                    <label for="Notes"><i class="fa fa-sticky-note" aria-hidden="true"></i>Notes</label>
                                </div>
                                <select id="eventclassName" class="select-display selectpicker form-control empty select2-init-images">
                                    <option value="default">Default Color</option>
                                    <option value="worning">Warning</option>
                                    <option value="info">Info</option>
                                    <option value="success">Success</option>
                                    <option value="important">Important</option>
                                </select>
                                <label id="apptAllDay"></label>
                            </div>
                        </div>
                    </form>
                    <button type="submit" id="submitButton" class="btn btn-info icon-btn btn-block">
                        <span class="fa fa-plus"></span> Add Event</button>
                </div>
            </div>
        </div>
    </div>
</template>
