<template name="charts">
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-content body-header">
                        <h4 class="title"> Charts </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-bottom">
                    <h5 class="title no-padding-bottom"> HIGH CHARTS </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Scatter With Regression Line</h5>
                        <p class="header-text">Using the <a href="http://www.highcharts.com/">highcharts</a> you will be able to implement a highly efficient charts into you website using only a <code>div</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <br>
                        <div id="container4" class="chart-height"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title"> Time Series, Zoomable</h5>
                        <p class="header-text">Using the <a href="http://www.highcharts.com/">highcharts</a> you will be able to implement a highly efficient charts into you website using only a <code>div</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <br>
                        <div id="container" class="chart-height"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Spline With Symbols</h5>
                        <p class="header-text">Using the <a href="http://www.highcharts.com/">highcharts</a> you will be able to implement a highly efficient charts into you website using only a <code>div</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <br>
                        <div id="container3" class="chart-height"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Spline Updating Each Second</h5>
                        <p class="header-text">Using the <a href="http://www.highcharts.com/">highcharts</a> you will be able to implement a highly efficient charts into you website using only a <code>div</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <br>
                        <div id="container5" class="chart-height"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Click To Add a Point</h5>
                        <p class="header-text">Using the <a href="http://www.highcharts.com/">highcharts</a> you will be able to implement a highly efficient charts into you website using only a <code>div</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <br>
                        <p>Click the plot area to add a point. Click a point to remove it.</p>
                        <div id="container2" class="chart-height"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Scatter With Regression Line</h5>
                        <p class="header-text">Using the <a href="http://www.highcharts.com/">highcharts</a> you will be able to implement a highly efficient charts into you website using only a <code>div</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <br>
                        <div id="container6" class="chart-height"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 no-padding-bottom">
                    <h5 class="title no-padding-bottom"> CHARTS JS </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Line chart</h5>
                        <canvas id="line"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title">Radar Chart</h5>
                        <canvas id="bar"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-content fixed">
                        <h5 class="title">Polar Area Chart</h5>
                        <p class="header-text">Using the <a href="http://www.chartjs.org/">charts js</a> you will be able to implement various shapes of charts using <code>canvas</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <canvas id="polar" width="290" height="150"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-content fixed">
                        <h5 class="title">Doughnut Chart</h5>
                        <p class="header-text">Using the <a href="http://www.chartjs.org/">charts js</a> you will be able to implement various shapes of charts using <code>canvas</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <canvas id="doughnut" width="290" height="150"></canvas>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-content fixed">
                        <h5 class="title">Pie Chart</h5>
                        <p class="header-text">Using the <a href="http://www.chartjs.org/">charts js</a> you will be able to implement various shapes of charts using <code>canvas</code> element with a unique id to be initialized in <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <canvas id="pie" width="290" height="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
