<template name="error500">
    <div class="error-body">
        <div class="container-fluid">
            <div class="row message-position">
                <div class="col-md-12">
                    <h1 class="text-middle custome-size">Oops!</h1>
                    <h1 class="text-middle">500: internal server error</h1>
                    <h3 class="text-middle">An error occurred and your request couldn't be completed. Please try again</h3>
                    <br>
                    <div class="row">
                        <a href="/" class="btn btn-info button-style hvr-icon-back off-set">&nbsp;&nbsp;&nbsp;&nbsp; Go back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
