<template name='hover'>
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-content body-header">
                        <a href="tables.html" class="page_title pull-right">UI Elements  /  Hover</a>
                        <h4 class="title">Hover </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <h5 class="title">2D Transitions</h5>
                        <p>
                            You can use one of the classes shown in the code to preform any of the shown effects.
                        </p>
                        <button class="hvr-grow">Grow</button>
                        <button class="hvr-shrink">Shrink</button>
                        <button class="hvr-pulse">Pulse</button>
                        <button class="hvr-pulse-grow">Pulse Grow</button>
                        <button class="hvr-pulse-shrink">Pulse Shrink</button>
                        <button class="hvr-push">Push</button>
                        <button class="hvr-pop">Pop</button>
                        <button class="hvr-bounce-in">Bounce In</button>
                        <button class="hvr-bounce-out">Bounce Out</button>
                        <button class="hvr-rotate">Rotate</button>
                        <button class="hvr-grow-rotate">Grow Rotate</button>
                        <button class="hvr-float">Float</button>
                        <button class="hvr-sink">Sink</button>
                        <button class="hvr-bob">Bob</button>
                        <button class="hvr-hang">Hang</button>
                        <button class="hvr-skew">Skew</button>
                        <button class="hvr-skew-forward">Skew Forward</button>
                        <button class="hvr-skew-backward">Skew Backward</button>
                        <button class="hvr-wobble-horizontal">Wobble Horizontal</button>
                        <button class="hvr-wobble-vertical">Wobble Vertical</button>
                        <button class="hvr-wobble-to-bottom-right">Wobble To Bottom Right</button>
                        <button class="hvr-wobble-to-top-right">Wobble To Top Right</button>
                        <button class="hvr-wobble-top">Wobble Top</button>
                        <button class="hvr-wobble-bottom">Wobble Bottom</button>
                        <button class="hvr-wobble-skew">Wobble Skew</button>
                        <button class="hvr-buzz">Buzz</button>
                        <button class="hvr-buzz-out">Buzz Out</button>
                        <button class="hvr-forward">Forward</button>
                        <button class="hvr-backward">Backward</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <h5 class="title">Background Transitions</h5>
                        <p>
                            You can use one of the classes shown in the code to preform any of the shown effects.
                        </p>
                        <button class="hvr-fade">Fade</button>
                        <button class="hvr-back-pulse">Back Pulse</button>
                        <button class="hvr-sweep-to-right">Sweep To Right</button>
                        <button class="hvr-sweep-to-left">Sweep To Left</button>
                        <button class="hvr-sweep-to-bottom">Sweep To Bottom</button>
                        <button class="hvr-sweep-to-top">Sweep To Top</button>
                        <button class="hvr-bounce-to-right">Bounce To Right</button>
                        <button class="hvr-bounce-to-left">Bounce To Left</button>
                        <button class="hvr-bounce-to-bottom">Bounce To Bottom</button>
                        <button class="hvr-bounce-to-top">Bounce To Top</button>
                        <button class="hvr-radial-out">Radial Out</button>
                        <button class="hvr-rectangle-out">Rectangle Out</button>
                        <button class="hvr-shutter-out-horizontal">Shutter Out Horizontal</button>
                        <button class="hvr-shutter-out-vertical">Shutter Out Vertical</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <h5 class="title">Icons</h5>
                        <p>
                            You can use one of the classes shown in the code to preform any of the shown effects.
                        </p>
                        <button class="hvr-icon-forward icon-hover">Icon Forward</button>
                        <button class="hvr-icon-down icon-hover">Icon Down </button>
                        <button class="hvr-icon-up icon-hover">Icon Up </button>
                        <button class="hvr-icon-spin icon-hover">Icon Spin </button>
                        <button class="hvr-icon-drop icon-hover">Icon Drop </button>
                        <button class="hvr-icon-fade icon-hover">Icon Fade </button>
                        <button class="hvr-icon-float-away icon-hover">Icon Float Away </button>
                        <button class="hvr-icon-sink-away icon-hover">Icon Sink Away </button>
                        <button class="hvr-icon-grow icon-hover">Icon Grow </button>
                        <button class="hvr-icon-shrink icon-hover">Icon Shrink </button>
                        <button class="hvr-icon-pulse icon-hover">Icon Pulse </button>
                        <button class="hvr-icon-pulse-grow icon-hover">Icon Pulse Grow </button>
                        <button class="hvr-icon-pulse-shrink icon-hover">Icon Pulse Shrink </button>
                        <button class="hvr-icon-push icon-hover">Icon Push </button>
                        <button class="hvr-icon-pop icon-hover">Icon Pop </button>
                        <button class="hvr-icon-bounce icon-hover">Icon Bounce </button>
                        <button class="hvr-icon-rotate icon-hover">Icon Rotate </button>
                        <button class="hvr-icon-grow-rotate icon-hover">Icon Grow Rotate </button>
                        <button class="hvr-icon-float icon-hover">Icon Float </button>
                        <button class="hvr-icon-sink icon-hover">Icon Sink </button>
                        <button class="hvr-icon-bob icon-hover">Icon Bob </button>
                        <button class="hvr-icon-hang icon-hover">Icon Hang </button>
                        <button class="hvr-icon-wobble-horizontal icon-hover">Icon Wobble Horizontal </button>
                        <button class="hvr-icon-wobble-vertical icon-hover">Icon Wobble Vertical </button>
                        <button class="hvr-icon-buzz icon-hover">Icon Buzz </button>
                        <button class="hvr-icon-buzz-out icon-hover">Icon Buzz Out </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <h5 class="title">Border Transitions</h5>
                        <p>
                            You can use one of the classes shown in the code to preform any of the shown effects.
                        </p>
                        <button class="hvr-ripple-in">Ripple In</button>
                        <button class="hvr-outline-in">Outline In</button>
                        <button class="hvr-round-corners">Round Corners</button>
                        <button class="hvr-underline-from-left">Underline From Left</button>
                        <button class="hvr-underline-from-center">Underline From Center</button>
                        <button class="hvr-underline-from-right">Underline From Right</button>
                        <button class="hvr-reveal">Reveal</button>
                        <button class="hvr-underline-reveal">Underline Reveal</button>
                        <button class="hvr-overline-reveal">Overline Reveal</button>
                        <button class="hvr-overline-from-left">Overline From Left</button>
                        <button class="hvr-overline-from-center">Overline From Center</button>
                        <button class="hvr-overline-from-right">Overline From Right</button>
                        <br>
                        <button class="hvr-border-fade">Border Fade</button>
                        <button class="hvr-ripple-out">Ripple Out</button>
                        <button class="hvr-outline-out">Outline Out</button>
                    </div>
                </div>
            </div>
            <div class="container-fixed-lg footer">
                <div class="copyright sm-text-center">
                    <p class="small no-margin pull-left sm-pull-reset">
                        <span class="hint-text">Copyright © 2017 </span>
                        <span class="font-montserrat"><b>New Release</b></span>.
                        <span class="hint-text">All rights reserved. </span>
                        <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                    </p>
                    <p class="small no-margin pull-right sm-pull-reset">
                        <h6 class="made-by">Made By  <b>New Release</b></h6>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</template>
