<template name="icons">
	<div class="row">
		<div class="col-lg-12">
			<div class="col-content body-header">
				<a href="#" class="page_title">UI Elements  /  Icons</a>
				<h4 class="title">Icons</h4>
				<p>
					You can use the font colors classes to change icon color simply, e.g:
					<br>
					<table class="code-table">
						<tbody>
							<tr>
								<td>
									<code>
										.success-light-font
									</code>
								</td>
								<td>
									<code>
										.danger-mid-font 
									</code>
								</td>
								<td>
									<code>
										.success-mid-font
									</code>
								</td>
								<td>
									<code>
										.warning-light-font
									</code>
								</td>
								<td>
									<code>
										.info-light-font
									</code>
								</td>
							</tr>
						</tbody>
					</table>
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 icons-single-box">
			<div class="col-content">
				<h5 class="title">Fontawesome</h5>
				<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-bar-chart" aria-hidden="true"></i>
					<span class="sr-only">  </span>bar chart</div>
					<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-user-circle" aria-hidden="true"></i>
						<span class="sr-only">  </span>user circle</div>
						<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-heart" aria-hidden="true"></i>
							<span class="sr-only">  </span>fa-heart</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-caret-square-o-up" aria-hidden="true"></i> <span class="sr-only">  </span>caret-square-o-up</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> <span class="sr-only">  </span>cart-arrow-down</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cart-plus" aria-hidden="true"></i> <span class="sr-only">  </span>cart-plus</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-cc" aria-hidden="true"></i> <span class="sr-only">  </span>cc</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-certificate" aria-hidden="true"></i> <span class="sr-only">  </span>certificate</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-check" aria-hidden="true"></i> <span class="sr-only">  </span>check</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-check-circle" aria-hidden="true"></i> <span class="sr-only">  </span>check-circle</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-check-circle-o" aria-hidden="true"></i> <span class="sr-only">  </span>check-circle-o</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-check-square" aria-hidden="true"></i> <span class="sr-only">  </span>check-square</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-check-square-o" aria-hidden="true"></i> <span class="sr-only">  </span>check-square-o</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-child" aria-hidden="true"></i> <span class="sr-only">  </span>child</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-circle" aria-hidden="true"></i> <span class="sr-only">  </span>circle</div>
							<div class="fa-hover col-md-3 col-sm-4"><i class="fa fa-circle-o" aria-hidden="true"></i> <span class="sr-only">  </span>circle-o</div>
						</div>
					</div>
					<div class="col-md-6 icons-single-box">
						<div class="col-content">
							<h5 class="title">Glyphicon</h5>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-asterisk"></span> glyphicon-asterisk
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-plus"></span> glyphicon-plus
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-minus"></span> glyphicon-minus
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-euro"></span>glyphicon-euro
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-cloud"></span> glyphicon-cloud
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-envelope"></span>glyphicon-envelope
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-pencil"></span> glyphicon-pencil
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-glass"></span> glyphicon-glass
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-music"></span> glyphicon-music
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-search"></span> glyphicon-search
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-heart"></span> glyphicon-heart
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-star"></span> glyphicon-star
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-star-empty"></span> glyphicon-star-empty
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-user"></span> glyphicon-user
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-film"></span> glyphicon-film
							</div>
							<div class="fa-hover col-md-3 col-sm-4">
								<span class="glyphicon glyphicon-th-large"></span> glyphicon-th-large
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="all-icons col-content">
							<img src="assets/images/icon.svg" class="center-block icons_img">
							<p class="icons-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rhoncus ullamcorper ante.</p>
							<table id="column_searching" class="display table table-responsive table-striped table-bordered">
								<thead>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><i class="fa fa-address-book" aria-hidden="true"></i> <span class="sr-only">  </span>address-book</td>
										<td><i class="fa fa-address-card" aria-hidden="true"></i> <span class="sr-only">  </span>address-card</td>
										<td><i class="fa fa-address-card-o" aria-hidden="true"></i> <span class="sr-only">  </span>address-card-o</td>
										<td><i class="fa fa-bandcamp" aria-hidden="true"></i> <span class="sr-only">  </span>bandcamp</td>
										<td><i class="fa fa-bath" aria-hidden="true"></i> <span class="sr-only">  </span>bath</td>
									</tr>
									<tr>
										<td><i class="fa fa-bathtub" aria-hidden="true"></i> <span class="sr-only">  </span>bathtub <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-drivers-license" aria-hidden="true"></i> <span class="sr-only">  </span>drivers-license <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-drivers-license-o" aria-hidden="true"></i> <span class="sr-only">  </span>drivers-license-o <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-eercast" aria-hidden="true"></i> <span class="sr-only">  </span>eercast</td>
										<td><i class="fa fa-envelope-open" aria-hidden="true"></i> <span class="sr-only">  </span>envelope-open</td>
									</tr>
									<tr>
										<td><i class="fa fa-envelope-open-o" aria-hidden="true"></i> <span class="sr-only">  </span>envelope-open-o</td>
										<td><i class="fa fa-etsy" aria-hidden="true"></i> <span class="sr-only">  </span>etsy</td>
										<td><i class="fa fa-free-code-camp" aria-hidden="true"></i> <span class="sr-only">  </span>free-code-camp</td>
										<td><i class="fa fa-grav" aria-hidden="true"></i> <span class="sr-only">  </span>grav</td>
										<td><i class="fa fa-handshake-o" aria-hidden="true"></i> <span class="sr-only">  </span>handshake-o</td>
									</tr>
									<tr>
										<td><i class="fa fa-id-badge" aria-hidden="true"></i> <span class="sr-only">  </span>id-badge</td>
										<td><i class="fa fa-id-card" aria-hidden="true"></i> <span class="sr-only">  </span>id-card</td>
										<td><i class="fa fa-id-card-o" aria-hidden="true"></i> <span class="sr-only">  </span>id-card-o</td>
										<td><i class="fa fa-imdb" aria-hidden="true"></i> <span class="sr-only">  </span>imdb</td>
										<td><i class="fa fa-linode" aria-hidden="true"></i> <span class="sr-only">  </span>linode</td>
									</tr>
									<tr>
										<td><i class="fa fa-meetup" aria-hidden="true"></i> <span class="sr-only">  </span>meetup</td>
										<td><i class="fa fa-microchip" aria-hidden="true"></i> <span class="sr-only">  </span>microchip</td>
										<td><i class="fa fa-podcast" aria-hidden="true"></i> <span class="sr-only">  </span>podcast</td>
										<td><i class="fa fa-quora" aria-hidden="true"></i> <span class="sr-only">  </span>quora</td>
										<td><i class="fa fa-ravelry" aria-hidden="true"></i> <span class="sr-only">  </span>ravelry</td>
									</tr>
									<tr>
										<td><i class="fa fa-s15" aria-hidden="true"></i> <span class="sr-only">  </span>s15 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-shower" aria-hidden="true"></i> <span class="sr-only">  </span>shower</td>
										<td><i class="fa fa-snowflake-o" aria-hidden="true"></i> <span class="sr-only">  </span>snowflake-o</td>
										<td><i class="fa fa-superpowers" aria-hidden="true"></i> <span class="sr-only">  </span>superpowers</td>
										<td><i class="fa fa-telegram" aria-hidden="true"></i> <span class="sr-only">  </span>telegram</td>
									</tr>
									<tr>
										<td><i class="fa fa-thermometer" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-thermometer-0" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-0 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-thermometer-1" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-1 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-thermometer-2" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-2 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-thermometer-4" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-4 <span class="text-muted">(alias)</span></td>
									</tr>
									<tr>
										<td><i class="fa fa-thermometer-3" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-3 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-thermometer-empty" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-empty</td>
										<td><i class="fa fa-thermometer-full" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-full</td>
										<td><i class="fa fa-thermometer-half" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-half</td>
										<td><i class="fa fa-thermometer-quarter" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-quarter</td>
									</tr>
									<tr>
										<td><i class="fa fa-thermometer-three-quarters" aria-hidden="true"></i> <span class="sr-only">  </span>thermometer-three-quarters</td>
										<td><i class="fa fa-times-rectangle" aria-hidden="true"></i> <span class="sr-only">  </span>times-rectangle <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-times-rectangle-o" aria-hidden="true"></i> <span class="sr-only">  </span>times-rectangle-o <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-user-circle" aria-hidden="true"></i> <span class="sr-only">  </span>user-circle</td>
										<td><i class="fa fa-user-circle-o" aria-hidden="true"></i> <span class="sr-only">  </span>user-circle-o</td>
									</tr>
									<tr>
										<td><i class="fa fa-user-o" aria-hidden="true"></i> <span class="sr-only">  </span>user-o</td>
										<td><i class="fa fa-vcard" aria-hidden="true"></i> <span class="sr-only">  </span>vcard <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-vcard-o" aria-hidden="true"></i> <span class="sr-only">  </span>vcard-o <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-window-close" aria-hidden="true"></i> <span class="sr-only">  </span>window-close</td>
										<td><i class="fa fa-window-close-o" aria-hidden="true"></i> <span class="sr-only">  </span>window-close-o</td>
									</tr>
									<tr>
										<td><i class="fa fa-window-maximize" aria-hidden="true"></i> <span class="sr-only">  </span>window-maximize</td>
										<td><i class="fa fa-window-minimize" aria-hidden="true"></i> <span class="sr-only">  </span>window-minimize</td>
										<td><i class="fa fa-window-restore" aria-hidden="true"></i> <span class="sr-only">  </span>window-restore</td>
										<td><i class="fa fa-wpexplorer" aria-hidden="true"></i> <span class="sr-only">  </span>wpexplorer</td>
										<td><i class="fa fa-address-book" aria-hidden="true"></i> <span class="sr-only">  </span>address-book</td>
									</tr>
									<tr>
										<td><i class="fa fa-address-book-o" aria-hidden="true"></i> <span class="sr-only">  </span>address-book-o</td>
										<td><i class="fa fa-address-card" aria-hidden="true"></i> <span class="sr-only">  </span>address-card</td>
										<td><i class="fa fa-address-card-o" aria-hidden="true"></i> <span class="sr-only">  </span>address-card-o</td>
										<td><i class="fa fa-adjust" aria-hidden="true"></i> <span class="sr-only">  </span>adjust</td>
										<td><i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i> <span class="sr-only">  </span>american-sign-language</td>
									</tr>
									<tr>
										<td><i class="fa fa-archive" aria-hidden="true"></i> <span class="sr-only">  </span>archive</td>
										<td><i class="fa fa-area-chart" aria-hidden="true"></i> <span class="sr-only">  </span>area-chart</td>
										<td><i class="fa fa-arrows" aria-hidden="true"></i> <span class="sr-only">  </span>arrows</td>
										<td><i class="fa fa-arrows-h" aria-hidden="true"></i> <span class="sr-only">  </span>arrows-h</td>
										<td><i class="fa fa-arrows-v" aria-hidden="true"></i> <span class="sr-only">  </span>arrows-v</td>
									</tr>
									<tr>
										<td><i class="fa fa-asl-interpreting" aria-hidden="true"></i> <span class="sr-only">  </span>asl-interpreting <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-assistive-listening-systems" aria-hidden="true"></i> <span class="sr-only">  </span>assistive-listening-systems</td>
										<td><i class="fa fa-asterisk" aria-hidden="true"></i> <span class="sr-only">  </span>asterisk</td>
										<td><i class="fa fa-audio-description" aria-hidden="true"></i> <span class="sr-only">  </span>audio-description</td>
										<td><i class="fa fa-automobile" aria-hidden="true"></i> <span class="sr-only">  </span>automobile <span class="text-muted">(alias)</span></td>
									</tr>
									<tr>
										<td><i class="fa fa-balance-scale" aria-hidden="true"></i> <span class="sr-only">  </span>balance-scale</td>
										<td><i class="fa fa-ban" aria-hidden="true"></i> <span class="sr-only">  </span>ban</td>
										<td><i class="fa fa-bank" aria-hidden="true"></i> <span class="sr-only">  </span>bank <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-bar-chart" aria-hidden="true"></i> <span class="sr-only">  </span>bar-chart</td>
										<td><i class="fa fa-bar-chart-o" aria-hidden="true"></i> <span class="sr-only">  </span>bar-chart-o <span class="text-muted">(alias)</span></td>
									</tr>
									<tr>
										<td><i class="fa fa-barcode" aria-hidden="true"></i> <span class="sr-only">  </span>barcode</td>
										<td><i class="fa fa-bars" aria-hidden="true"></i> <span class="sr-only">  </span>bars</td>
										<td><i class="fa fa-bath" aria-hidden="true"></i> <span class="sr-only">  </span>bath</td>
										<td><i class="fa fa-bathtub" aria-hidden="true"></i> <span class="sr-only">  </span>bathtub <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-battery" aria-hidden="true"></i> <span class="sr-only">  </span>battery <span class="text-muted">(alias)</span></td>
									</tr>
									<tr>
										<td><i class="fa fa-battery-0" aria-hidden="true"></i> <span class="sr-only">  </span>battery-0 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-battery-1" aria-hidden="true"></i> <span class="sr-only">  </span>battery-1 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-battery-3" aria-hidden="true"></i> <span class="sr-only">  </span>battery-3 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-battery-4" aria-hidden="true"></i> <span class="sr-only">  </span>battery-4 <span class="text-muted">(alias)</span></td>
										<td><i class="fa fa-battery-empty" aria-hidden="true"></i> <span class="sr-only">  </span>battery-empty</td>
									</tr>
									<tr>
										<td><i class="fa fa-battery-full" aria-hidden="true"></i> <span class="sr-only">  </span>battery-full</td>
										<td><i class="fa fa-battery-half" aria-hidden="true"></i> <span class="sr-only">  </span>battery-half</td>
										<td><i class="fa fa-battery-quarter" aria-hidden="true"></i> <span class="sr-only">  </span>battery-quarte</td>
										<td><i class="fa fa-battery-three-quarters" aria-hidden="true"></i> <span class="sr-only">  </span>battery-three-quarters</td>
										<td><i class="fa fa-bed" aria-hidden="true"></i> <span class="sr-only">  </span>bed</td>
									</tr>
									<tr>
										<td><i class="fa fa-beer" aria-hidden="true"></i> <span class="sr-only">  </span>beer</td>
										<td><i class="fa fa-bell" aria-hidden="true"></i> <span class="sr-only">  </span>bell</td>
										<td><i class="fa fa-bell-o" aria-hidden="true"></i> <span class="sr-only">  </span>bell-o</td>
										<td><i class="fa fa-bell-slash" aria-hidden="true"></i> <span class="sr-only">  </span>bell-slash</td>
										<td><i class="fa fa-bell-slash-o" aria-hidden="true"></i> <span class="sr-only">  </span>bell-slash-o</td>
									</tr>
									<tr>
										<td><i class="fa fa-bicycle" aria-hidden="true"></i> <span class="sr-only">  </span>bicycle</td>
										<td><i class="fa fa-binoculars" aria-hidden="true"></i> <span class="sr-only">  </span>binoculars</td>
										<td><i class="fa fa-birthday-cake" aria-hidden="true"></i> <span class="sr-only">  </span>birthday-cake</td>
										<td><i class="fa fa-blind" aria-hidden="true"></i> <span class="sr-only">  </span>blind</td>
										<td><i class="fa fa-bluetooth" aria-hidden="true"></i> <span class="sr-only">  </span>bluetooth</td>
									</tr>
									<tr>
										<td><i class="fa fa-bicycle" aria-hidden="true"></i> <span class="sr-only">  </span>bicycle</td>
										<td><i class="fa fa-binoculars" aria-hidden="true"></i> <span class="sr-only">  </span>binoculars</td>
										<td><i class="fa fa-birthday-cake" aria-hidden="true"></i> <span class="sr-only">  </span>birthday-cake</td>
										<td><i class="fa fa-blind" aria-hidden="true"></i> <span class="sr-only">  </span>blind</td>
										<td><i class="fa fa-bluetooth" aria-hidden="true"></i> <span class="sr-only">  </span>bluetooth</td>
									</tr>
									<tr>
										<td><i class="fa fa-bluetooth-b" aria-hidden="true"></i> <span class="sr-only">  </span>bluetooth-b</td>
										<td><i class="fa fa-bolt" aria-hidden="true"></i> <span class="sr-only">  </span>bolt</td>
										<td><i class="fa fa-bomb" aria-hidden="true"></i> <span class="sr-only">  </span>bomb</td>
										<td><i class="fa fa-book" aria-hidden="true"></i> <span class="sr-only">  </span>book</td>
										<td><i class="fa fa-bookmark" aria-hidden="true"></i> <span class="sr-only">  </span>bookmark</td>
									</tr>
									<tr>
										<td><i class="fa fa-bookmark-o" aria-hidden="true"></i> <span class="sr-only">  </span>bookmark-o</td>
										<td><i class="fa fa-braille" aria-hidden="true"></i> <span class="sr-only">  </span>braille</td>
										<td><i class="fa fa-briefcase" aria-hidden="true"></i> <span class="sr-only">  </span>briefcase</td>
										<td><i class="fa fa-bug" aria-hidden="true"></i> <span class="sr-only">  </span>bug</td>
										<td><i class="fa fa-building" aria-hidden="true"></i> <span class="sr-only">  </span>building</td>
									</tr>
									<tr>
										<td><i class="fa fa-building-o" aria-hidden="true"></i> <span class="sr-only">  </span>building-o</td>
										<td><i class="fa fa-bullhorn" aria-hidden="true"></i> <span class="sr-only">  </span>bullhorn</td>
										<td><i class="fa fa-bullseye" aria-hidden="true"></i> <span class="sr-only">  </span>bullseye</td>
										<td><i class="fa fa-bus" aria-hidden="true"></i> <span class="sr-only">  </span>bus</td>
										<td><i class="fa fa-cab" aria-hidden="true"></i> <span class="sr-only">  </span>cab <span class="text-muted">(alias)</span></td>
									</tr>
									<tr>
										<td><i class="fa fa-calculator" aria-hidden="true"></i> <span class="sr-only">  </span>calculator</td>
										<td><i class="fa fa-calendar" aria-hidden="true"></i> <span class="sr-only">  </span>calendar</td>
										<td><i class="fa fa-calendar-check-o" aria-hidden="true"></i> <span class="sr-only">  </span>calendar-check-o</td>
										<td><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> <span class="sr-only">  </span>calendar-minus-o</td>
										<td><i class="fa fa-calendar-o" aria-hidden="true"></i> <span class="sr-only">  </span>calendar-o</td>
									</tr>
									<tr>
										<td><i class="fa fa-calendar-plus-o" aria-hidden="true"></i> <span class="sr-only">  </span>calendar-plus-o</td>
										<td><i class="fa fa-calendar-times-o" aria-hidden="true"></i> <span class="sr-only">  </span>calendar-times-o</td>
										<td><i class="fa fa-camera" aria-hidden="true"></i> <span class="sr-only">  </span>camera</td>
										<td><i class="fa fa-camera-retro" aria-hidden="true"></i> <span class="sr-only">  </span>camera-retro</td>
										<td><i class="fa fa-car" aria-hidden="true"></i> <span class="sr-only">  </span>car</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
			</template>
