<template name="lockScreen">
    <div class="lock-page">
        <div class="container">
            <div class="card margin-top"></div>
            <div class="card">
                <div class="lock">
                    <h1 class="title">SESSION TIMEOUT</h1>
                    <p>Sorry, your session timed out after a long time of inactivity
                        <br>Please, enter your password again.</p>
                    <img src="images/user_01_120.jpg" alt="sami">
                    <h3>Mr.Sami Mohammad</h3>
                    <form>
                        <div class="input-container">
                            <input type="password" id="#{label}" required="required" />
                            <label for="#{label}">Password</label>
                            <div class="bar"></div>
                        </div>
                        <div class="button-container">
                            <button><span>SIGN IN</span></button>
                        </div>
                    </form>
                    <div class="footer"><a href="#" id="forgot">Forgot your password?</a></div>
                </div>
                <div class="forgot">
                    <h2 class="title">Forgot password</h2>
                    <div class="input-container">
                        <input type="text" required="required" />
                        <label>Email</label>
                        <div class="bar"></div>
                    </div>
                    <div class="button-container">
                        <button><span>Send email</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
