<template name="menus">
    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content body-header">
                        <a href="menus.html" class="page_title pull-right">UI Elements / Menus</a>
                        <h4 class="title"> Menus </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="col-content">
                        <h5 class="title">Left Side Menu</h5>
                        <div class="menu-container height-32">
                            <nav class="navbar sidebar" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#">Karak dashboard</a>
                                </div>
                                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a>Home<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                                        <li><a>Profile<span  class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                                        <li><a>Messages<span  class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
                                            <ul class="dropdown-menu forAnimate" role="menu">
                                                <li><a>Action</a></li>
                                                <li><a>Another action</a></li>
                                                <li><a>Something else here</a></li>
                                            </ul>
                                        </li>
                                        <li><a>Home<span class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                                        <li><a>Profile<span class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
                                        <li><a>Messages<span class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="col-content">
                        <h5 class="title">Menu With Carousel</h5>
                        <div class="menu-container">
                            <nav class="navbar navbar-default nav-style" role="navigation">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse navbar-ex1-collapse">
                                    <ol class="nav navbar-nav nav-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="myCarousel-target active">
                                            <a href="#">Image Title Gose Here</a>
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="1" class="myCarousel-target">
                                            <a href="#">Slider Title</a>
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="2" class="myCarousel-target">
                                            <a href="#">Image Title</a>
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="3" class="myCarousel-target">
                                            <a href="#">Any Text</a>
                                        </li>
                                    </ol>
                                </div>
                            </nav>
                            <div id="myCarousel" class="carousel slide">
                                <div class="carousel-inner">
                                    <div data-slide-no="0" class="item carousel-item active slider-hight">
                                        <div class="single-slider">
                                            <div class="slider-title">
                                                <h2>Karak dashboard</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                                </p>
                                            </div>
                                            <div class="dark-layer"></div>
                                            <img alt="Slide Title" src="images/slider_01.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                    <div data-slide-no="1" class="item carousel-item slider-hight">
                                        <div class="single-slider">
                                            <div class="slider-title">
                                                <h2>Karak dashboard</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                                </p>
                                            </div>
                                            <div class="dark-layer"></div>
                                            <img alt="Slide Title" src="images/slider_02.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                    <div data-slide-no="2" class="item carousel-item slider-hight">
                                        <div class="single-slider">
                                            <div class="slider-title">
                                                <h2>Karak dashboard</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                                </p>
                                            </div>
                                            <div class="dark-layer"></div>
                                            <img alt="Slide Title" src="images/slider_01.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                    <div data-slide-no="3" class="item carousel-item slider-hight">
                                        <div class="single-slider">
                                            <div class="slider-title">
                                                <h2>Karak dashboard</h2>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                                </p>
                                            </div>
                                            <div class="dark-layer"></div>
                                            <img alt="Slide Title" src="images/slider_02.jpg" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-content">
                        <h5 class="title">Simple Menu</h5>
                        <div class="menu-container">
                            <nav class="navbar navbar-inverse">
                                <div class="container-fluid">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a>Home</a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Services<span class="caret"></span></a>
                                            <ul class="dropdown-menu">
                                                <li><a>Services 1-1</a></li>
                                                <li><a>Services 1-2</a></li>
                                                <li><a>Services 1-3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                        <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-content">
                        <h5 class="title">Dropdown Menu With Search Box</h5>
                        <div class="menu-container">
                            <nav class="navbar navbar-default nav-style" role="navigation">
                                <div class="collapse navbar-collapse" id="dropdown-thumbnail-preview">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a>Home</a></li>
                                        <li><a>Services</a></li>
                                        <li class="dropdown thumb-dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <span class="caret"></span></a>
                                            <ul class="dropdown-menu" role="menu">
                                                <li role="presentation" class="dropdown-header">Simple thumbnail</li>
                                                <li>
                                                    <a href="#">
                                                                Preview carousel indicators
                                                                <div class="thumbnail">
                                                                    <img class="img-responsive" src="images/post_01.jpeg">
                                                                </div>
                                                            </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                                Simple subscribe form
                                                                <div class="thumbnail">
                                                                    <img class="img-responsive" src="images/post_01.jpeg">
                                                                </div>
                                                            </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                                Flat user profile
                                                                <div class="thumbnail">
                                                                    <img class="img-responsive" src="images/post_01.jpeg">
                                                                </div>
                                                            </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li role="presentation" class="dropdown-header">Thumbnail with caption</li>
                                                <li>
                                                    <a href="#">
                                                                Discount labels
                                                                <div class="thumbnail">
                                                                    <img class="img-responsive" src="images/post_01.jpeg">
                                                                    <div class="caption">
                                                                        <p>You can add any text for describe thumbnail here.</p>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul>
                                        <li class="nav navbar-nav navbar-right">
                                            <div class="navbar-form" role="search">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                </div>
                                                <span class="glyphicon glyphicon-search"></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-content">
                        <h5 class="title">Mega Menu With Tabs Navigation</h5>
                        <div class="menu-container">
                            <nav class="navbar navbar-default nav-style" role="navigation">
                                <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                    <ul class="nav navbar-nav">
                                        <li><a>Home</a></li>
                                        <li><a>About</a></li>
                                        <li class="dropdown2 mega-dropdown active">
                                            <a class="dropdown-toggle" data-toggle="dropdown">Categories<span class="caret"></span></a>
                                            <div class="dropdown-menu mega-dropdown-menu">
                                                <div class="container-fluid">
                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div class="tab-pane active" id="men">
                                                            <ul class="nav-list list-inline">
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-1.png"><span>Stock</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-2.png"><span>Exchange</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-4.png"><span>Chart</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-5.png"><span>Wallet</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane" id="women">
                                                            <ul class="nav-list list-inline">
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-1.png"><span>Stock</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-2.png"><span>Exchange</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-3.png"><span>Dollar</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-4.png"><span>Chart</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane" id="kids">
                                                            <ul class="nav-list list-inline">
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-1.png"><span>Stock</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-2.png"><span>Exchange</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-3.png"><span>Dollar</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-4.png"><span>Chart</span></a>
                                                                </li>
                                                                <li>
                                                                    <a href="#"><img src="/images/st-5.png"><span>Wallet</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="tab-pane" id="sports">
                                                            <ul class="nav-list list-inline">
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-1.png"><span>Stock</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-2.png"><span>Exchange</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-3.png"><span>Dollar</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-4.png"><span>Chart</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-5.png"><span>Wallet</span></a>
                                                                </li>
                                                                <li>
                                                                    <a><img alt="Image Title" src="/images/st-1.png"><span>Stock</span></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="active"><a href="#men" role="tab" data-toggle="tab">Men</a></li>
                                                    <li><a href="#women" role="tab" data-toggle="tab">Women</a></li>
                                                    <li><a href="#kids" role="tab" data-toggle="tab">Kids</a></li>
                                                    <li><a href="#sports" role="tab" data-toggle="tab">Sports</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-content">
                        <h5 class="title">Toggle Menus With Slide Down Animation</h5>
                        <div class="menu-container">
                            <nav class="navbar navbar-default nav-style">
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right pull-left">
                                        <li><a>Home</a></li>
                                        <li><a>About</a></li>
                                        <li><a>Services</a></li>
                                        <li><a>Contact</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <button class="btn btn-info button-style collapsed" data-toggle="collapse" href="#collapse-categories" aria-expanded="false" aria-controls="collapse-categories">Categories</button>
                                        </li>
                                    </ul>
                                    <ul class="collapse nav navbar-nav nav-collapse" id="collapse-categories">
                                        <li><a>Web design</a></li>
                                        <li><a>Development</a></li>
                                        <li><a>Graphic design</a></li>
                                        <li><a>Print</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-container">
                            <nav class="navbar navbar-default nav-style">
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right pull-left">
                                        <li><a>Home</a></li>
                                        <li><a>About</a></li>
                                        <li><a>Services</a></li>
                                        <li><a>Contact</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <button class="btn btn-info button-style collapsed" data-toggle="collapse" href="#collapse-signin" aria-expanded="false" aria-controls="collapse-signin">Sign in
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="collapse nav navbar-nav nav-collapse slide-down" id="collapse-signin">
                                        <form class="navbar-form navbar-right form-inline" id="signin" role="form">
                                            <div class="form-group toggle-form">
                                                <div class="input-field">
                                                    <input name="email" placeholder="Email" type="text" id="Email" class="validate">
                                                </div>
                                            </div>
                                            <div class="form-group toggle-form">
                                                <div class="input-field">
                                                    <input name="password" placeholder="Password" type="password" id="Password" class="validate">
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-success button-style"><i class="fa fa-sign-in" aria-hidden="true"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-container">
                            <nav class="navbar navbar-inverse">
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right pull-left">
                                        <li><a>Home</a></li>
                                        <li><a>About</a></li>
                                        <li><a>Services</a></li>
                                        <li><a>Contact</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <button class="btn btn-info button-style collapsed" data-toggle="collapse" href="#collapse-profile" aria-expanded="false" aria-controls="collapse-profile">Profile </button>
                                        </li>
                                    </ul>
                                    <ul class="collapse nav navbar-nav nav-collapse slide-down" role="search" id="collapse-profile">
                                        <li><a>Support</a></li>
                                        <li><a>Settings</a></li>
                                        <li class="drop-li">
                                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="/images/user_01_54.jpg" alt="maridlcrmn" width="20" /> User Name <span class="caret"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-container">
                            <nav class="navbar navbar-inverse">
                                <div class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right pull-left">
                                        <li><a>Home</a></li>
                                        <li><a>About</a></li>
                                        <li><a>Services</a></li>
                                        <li><a>Contact</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li>
                                            <button class="btn btn-info button-style collapsed" data-toggle="collapse" href="#collapse-search" aria-expanded="false" aria-controls="collapse-search">Search</button>
                                        </li>
                                    </ul>
                                    <div class="collapse nav navbar-nav nav-collapse slide-down" id="collapse-search">
                                        <form class="navbar-form navbar-right" role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search" />
                                            </div>
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </form>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
