<template name="notifications">
    <div class="page-content-wrapper">
        <div class="container-fluid notifications-page">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content body-header">
                        <a class="page_title pull-right">UI Elements  /  Notifications</a>
                        <h4 class="title"> Notifications </h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-content notifications-style">
                        <h5 class="title"> Sweet alerts </h5>
                        <p class="header-text">To use the sweet alerts all you have to do is initializing the desired style using <a href="" class="doc-popover" data-trigger="focus" data-toggle="popover" data-content="test">Javascript</a>.</p>
                        <img class="img-border" src="/images/notifications/sweet-01.png">
                        <br>
                        <br>
                        <label class="small-label">Select type:</label>
                        <select class="form-control select2-init-single select-width" id="sweet-select">
                            <option value="basic">Basic message</option>
                            <option value="success">Success message</option>
                            <option value="warning">Warning message</option>
                            <option value="execute">Execute something else for"Cancel"</option>
                            <option value="custom">Custom icon</option>
                            <option value="HTML">An HTML message</option>
                            <option value="Auto">Auto close timer</option>
                            <option value="Prompt">Prompt function</option>
                        </select>
                        <span id="sweet-generate" class="glyphicon glyphicon-cog sweet-generate"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title"> Bootstrap alerts </h5>
                        <div class="alert alert-success success-lighter">
                            <strong>Success!</strong> Indicates a successful or positive action.
                        </div>
                        <div class="alert alert-info info-lighter">
                            <strong>Info!</strong> Indicates a neutral informative change or action.
                        </div>
                        <div class="alert alert-warning warning-lighter">
                            <strong>Warning!</strong> Indicates a warning that might need attention.
                        </div>
                        <div class="alert alert-danger danger-lighter">
                            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="col-content top-left">
                        <h5 class="title"> Top Left </h5>
                        <p>Just use <code>#left</code> inside the button you want to use to have a top left alert</p>
                        <i id="left" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/iconsPdf-01.svg">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-content top-right">
                        <h5 class="title"> Top Right </h5>
                        <p>Just use <code>#right</code> inside the button you want to use to have a top right alert</p>
                        <i id="right" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/iconsPdf-02.svg">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-content top-center">
                        <h5 class="title"> Top Center </h5>
                        <p>Just use <code>#center</code> inside the button you want to use to have a top center alert</p>
                        <i id="center" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/top_center.svg">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-content top-full">
                        <h5 class="title"> Top Full </h5>
                        <p>Just use <code>#full</code> inside the button you want to use to have a full top alert</p>
                        <i id="full" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/top_full.svg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="col-content bottom-left">
                        <h5 class="title"> Bottom Left </h5>
                        <p>Just use <code>#bottom-left</code> inside the button you want to use to have a bottom left alert</p>
                        <i id="bottom-left" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/iconsPdf-03.svg">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-content bottom-right">
                        <h5 class="title"> Bottom Right </h5>
                        <p>Just use <code>#bottom-right</code> inside the button you want to use to have a bottom right alert</p>
                        <i id="bottom-right" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/iconsPdf-04.svg">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-content bottom-center">
                        <h5 class="title"> Bottom Center </h5>
                        <p>Just use <code>#bottom-center</code> inside the button you want to use to have a bottom center alert</p>
                        <i id="bottom-center" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/bottom_center.svg">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-content bottom-full">
                        <h5 class="title"> Bottom Full </h5>
                        <p>Just use <code>#bottom-full</code> inside the button you want to use to have a bottom full alert</p>
                        <i id="bottom-full" class="fa fa-eye preview"></i>
                        <img class="img-border" src="/images/bottom_full.svg">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-content">
                        <h5 class="title"> Labels </h5>
                        <div class="row">
                            <div class="col-sm-12 bottom-margin">
                                <span class="label info-mid no-margin-left">New</span>
                                <span class="label success-mid no-margin-left">Success</span>
                                <span class="label primary-mid no-margin-left">Special</span>
                                <span class="label warning-mid no-margin-left">Warning</span>
                                <span class="label danger-mid no-margin-left">Danger</span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="col-content">
                        <h5 class="title"> Badges </h5>
                        <div class="row">
                            <div class="col-sm-12 bottom-margin">
                                <span class="label info-mid no-margin-left">9</span>
                                <span class="label success-mid no-margin-left">2</span>
                                <span class="label primary-mid no-margin-left">5</span>
                                <span class="label warning-mid no-margin-left">10</span>
                                <span class="label danger-mid no-margin-left">15</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-content content-overflow static-hover-cont">
                        <h5 class="title"> Tool Tips </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fringilla consequat massa egestas fermentum. Maecenas quis est ac ante hendrerit lorem ipsum.</p>
                        <br>
                        <div class="col-sm-3 no-padding-left bottom-margin">
                            <button id="test" type="button" data-toggle="tooltip" data-placement="right" title="Hooray!" class="btn btn-default">Hover Me!</button>
                        </div>
                        <div class="col-sm-3 no-padding-left bottom-margin">
                            <button type="button" data-toggle="tooltip" data-placement="left" title="Hooray!" class="btn btn-default">Hover Me!</button>
                        </div>
                        <div class="col-sm-3 no-padding-left bottom-margin">
                            <button type="button" data-toggle="tooltip" data-placement="top" title="Hooray!" class="btn btn-default">Hover Me!</button>
                        </div>
                        <div class="col-sm-3 no-padding-left bottom-margin">
                            <button type="button" data-toggle="tooltip" data-placement="bottom" title="Hooray!" class="btn btn-default">Hover Me!</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fixed-lg footer">
                <div class="copyright sm-text-center">
                    <p class="small no-margin pull-left sm-pull-reset">
                        <span class="hint-text">Copyright © 2017 </span>
                        <span class="font-montserrat"><b>New Release</b></span>.
                        <span class="hint-text">All rights reserved. </span>
                        <span class="sm-block"><a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
                    </p>
                    <p class="small no-margin pull-right sm-pull-reset">
                        <h6 class="made-by">Made By  <b>New Release</b></h6>
                    </p>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</template>
