<template name="social">
 <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8 social-left-section">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-content content-overflow body-header">
                                    <div class="singl-right-div hvr-grow">
                                        <img class="img-responsive" src="/images/user_01_54.jpg" />
                                        <h5>Sami Ahmad</h5>
                                        <a href="#">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Follow
                                        </a>
                                    </div>
                                    <div class="singl-right-div hvr-grow">
                                        <img class="img-responsive" src="images/user_06_54.jpg" />
                                        <h5>Khaled Abed</h5>
                                        <a href="#">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Follow
                                        </a>
                                    </div>
                                    <div class="singl-right-div hvr-grow">
                                        <img class="img-responsive" src="/images/user_02_54.jpg" />
                                        <h5>Sarah Said</h5>
                                        <a href="#">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Follow
                                        </a>
                                    </div>
                                    <div class="singl-right-div hvr-grow">
                                        <img class="img-responsive" src="/images/user_04_54.jpg" />
                                        <h5>Zaid Amjad</h5>
                                        <a href="#">
                                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp; Follow
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-container">
                            <div class="post">
                                <table class="post-table">
                                    <tr>
                                        <td rowspan="3" class="post-image-row">
                                            <img alt="user name" src="/images/user_01_54.jpg" />
                                        </td>
                                        <td class="post-textbox-row" colspan="5">
                                            <div class="form-group zero-margain">
                                                <textarea class="form-control pos-txt" placeholder="What's on your mind?" rows="5" id="comment"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-icons"><i data-toggle="tooltip" title="Add photos or videos" class="fa fa-camera" aria-hidden="true"></i>Image</td>
                                        <td class="post-icons"><i data-toggle="tooltip" title="Add a GIF" class="fa fa-picture-o" aria-hidden="true"></i>GIF</td>
                                        <td class="post-icons"><i data-toggle="tooltip" title="Add Location" class="fa fa-map-marker" aria-hidden="true"></i>Location</td>
                                        <td colspan="2">
                                            <button type="button" class="btn btn-info icon-btn pull-right">
                                                <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Post
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="previous-post">
                                <table class="post-table">
                                    <tr>
                                        <td rowspan="4" class="post-image-row">
                                            <img alt="user name" src="/images/user_06_54.jpg" />
                                        </td>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-user-name">Mohammad Meshaal</p>
                                            <p class="post-time">26m</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <a href="/images/post_01.jpeg" data-toggle="lightbox" data-title="A random title" data-footer="A custom footer text">
                                                <img src="/images/post_01.jpeg" class="img-fluid">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-icons"><i class="fa fa-heart" data-toggle="tooltip" title="Like" aria-hidden="true"></i>Like</td>
                                        <td class="post-icons"><i class="fa fa-comment" data-toggle="tooltip" title="Comment" aria-hidden="true"></i>Comment</td>
                                        <td class="post-icons"><i class="fa fa-retweet" data-toggle="tooltip" title="Share" aria-hidden="true"></i>Share</td>
                                        <td colspan="2" class="invisible">Hidden-Item</td>
                                    </tr>
                                </table>
                                <hr />
                                <table class="post-table">
                                    <tr>
                                        <td rowspan="4" class="post-image-row">
                                            <img alt="user name" src="/images/user_01_54.jpg" />
                                        </td>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-user-name">Mohammad Meshaal</p>
                                            <p class="post-time">26m</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <div align="center" class="embed-responsive embed-responsive-16by9">
                                                <video controls class="embed-responsive-item">
                                                    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                                                </video>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-icons"><i class="fa fa-heart" data-toggle="tooltip" title="Like" aria-hidden="true"></i>Like</td>
                                        <td class="post-icons"><i class="fa fa-comment" data-toggle="tooltip" title="Comment" aria-hidden="true"></i>Comment</td>
                                        <td class="post-icons"><i class="fa fa-retweet" data-toggle="tooltip" title="Share" aria-hidden="true"></i>Share</td>
                                        <td colspan="2" class="invisible">Hidden-Item</td>
                                    </tr>
                                </table>
                                <hr />
                                <table class="post-table">
                                    <tr>
                                        <td rowspan="4" class="post-image-row">
                                            <img alt="user name" src="/images/user_04_54.jpg" />
                                        </td>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-user-name">Mohammad Meshaal</p>
                                            <p class="post-time">26m</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <div class="demo-content cf">
                                                <figure>
                                                    <img id="gif-start" src="/images/mobile-wireframe.png" height="300" width="400">
                                                </figure>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-icons"><i class="fa fa-heart" data-toggle="tooltip" title="Like" aria-hidden="true"></i>Like</td>
                                        <td class="post-icons"><i class="fa fa-comment" data-toggle="tooltip" title="Comment" aria-hidden="true"></i>Comment</td>
                                        <td class="post-icons"><i class="fa fa-retweet" data-toggle="tooltip" title="Share" aria-hidden="true"></i>Share</td>
                                        <td colspan="2" class="invisible">Hidden-Item</td>
                                    </tr>
                                </table>
                                <hr />
                                <table class="post-table">
                                    <tr>
                                        <td rowspan="4" class="post-image-row">
                                            <img alt="user name" src="/images/user_06_54.jpg" />
                                        </td>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-user-name">Mohammad Meshaal</p>
                                            <p class="post-time">26m</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-textbox-row" colspan="5">
                                            <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="post-icons"><i class="fa fa-heart" data-toggle="tooltip" title="Like" aria-hidden="true"></i>Like</td>
                                        <td class="post-icons"><i class="fa fa-comment" data-toggle="tooltip" title="Comment" aria-hidden="true"></i>Comment</td>
                                        <td class="post-icons"><i class="fa fa-retweet" data-toggle="tooltip" title="Share" aria-hidden="true"></i>Share</td>
                                        <td colspan="2" class="invisible">Hidden-Item</td>
                                    </tr>
                                </table>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 social-right-section">
                        <div class="col-content trinding-margin">
                            <h5 class="title">Trending</h5>
                            <div class="single-trending-content">
                                <a href="#">
                                    <img src="/images/user_04_54.jpg" />
                                    <p><b>Mohammad Meshaal</b>&nbsp; comment on picture and vedio link on 12 May 2015</p>
                                </a>
                            </div>
                            <div class="single-trending-content">
                                <a href="#">
                                    <img src="/images/user_01_54.jpg" />
                                    <p><b>Sami Ahmad</b>&nbsp; comment on picture and vedio link on 12 May 2015</p>
                                </a>
                            </div>
                            <div class="single-trending-content">
                                <a href="#">
                                    <img src="/images/user_02_54.jpg" />
                                    <p><b>Sarah Said</b>&nbsp; comment on picture and vedio link on 12 May 20155</p>
                                </a>
                            </div>
                            <div class="single-trending-content">
                                <a href="#">
                                    <img src="/images/user_06_54.jpg" />
                                    <p><b>Zaid Amjad</b>&nbsp; comment on picture and vedio link on 12 May 2015</p>
                                </a>
                            </div>
                        </div>
                        <br>
                        <img class="img-responsive" src="/images/adds.jpg">
                       
                    </div>
                </div>
            </div>
</template>