/* Errors Pages Views */
.error-body {
  background-color: @white-color;

  .message-position {
    margin-top: 10em;

    .text-middle {
      text-align: center;
      color: @default-color;

      &.custome-size {
        font-size: 60px;
        color: @info-mid-color;
      }

    }

    .off-set {
      margin-left: 45%;
      font-size: 15px;
    }

  }

}
