/*colors*/

@primary-hover: #2c3e50;
@dashboard-primary:@primary-hover;
@dashboard-info: #3498db;
@info-hover: #2980b9;
@blue-color-dark: @info-hover;
@dashboard-success: #2ecc71;
@success-hover: #27ae60;
@dashboard-warning: #f1c40f;
@warning-hover: #f39c12;
@dashboard-danger: #e74c3c;
@danger-hover: #c0392b;
@dashboard-default: #F9F9F9;
@default-hover: #ecf0f1;
@primary-lighter: #ccd1d7;
@primary-light: #8A8F9B;
@primary-mid: #677786;
@info-lighter: #cce5f6;
@info-light: #99cbed;
@info-mid: #67b2e4;
@success-lighter: #cbf2db;
@success-light: #96e5b8;
@success-mid: #62d995;
@warning-lighter: #fbf0c3;
@warning-light: #f8e187;
@warning-mid: #f5d34b;
@danger-lighter: #f9d2ce;
@danger-light: #f3a59d;
@danger-mid: #ed796d;
@default-light: #e6e6e6;
@default-mid: #cdcdcd;
@default-dark: #9b9b9b;
@title-color: #34495E;
@paragraph-color:#707A7A;
@header-text: @paragraph-color;
@white: #fff;
@black: #000000;
@submenue-color: #9E9E9E;
@submenue-background-color: #fbfbfb;
@nav-icon-color: #C6C4DB;
@background-color: #F1F3F6;
@selected-sub-nav-color:#111111;
@default-btn-color:#333333;
@outline-primary-color : @title-color;
@head-background: #3B97D2;
@badge-notify-color:#a5a5a5;
@view-notes-backgrount:#F0F0F0;
@view-all-notes-color:#8D8D8D;
@gray-eee: #eee;
@panel-icon-color: #C4C4C4;
@panel-icon-color-hover: #7B7B7B;
@panel-head-background: #fafafa;
@panel-border-color: #a8a8a8;
@select2-color:#9A9A9A;

/*borders*/
@flat-border: 1px solid #F1F3F6;
@nav-link-border: 1px solid #E4E5E7;
@left-selected-border: 4px solid @info-mid !important;
@white-border: 1px solid #fff;
@select2-input-border:1px solid rgba(0, 0, 0, 0.07);

/*border radius*/
@cirkel:180px;
@no-radius: 0px;


/*font-size*/
@paragraph: 0.9em;

/*values*/
@small-value: 0.5em;
@large-value: 1em;
@center: 0 auto;
@no-border: 0px;

/*z-index*/

@front-off : 9999;
@Back-off: -1;

/*outline*/
@no-outline: none !important;
