/*colors*/
@dashboard-primary: #34495e;
@primary-hover: #2c3e50;

@dashboard-info:#3498db;
@info-hover:#2980b9;

@blue-color-dark:@info-hover;

@dashboard-success:#2ecc71;
@success-hover:#27ae60;

@dashboard-warning:#f1c40f;
@warning-hover:#f39c12;

@dashboard-danger:#e74c3c;
@danger-hover:#c0392b;

@dashboard-default:#F9F9F9;
@default-hover:#ecf0f1;

@primary-lighter:#ccd1d7;
@primary-light:#8A8F9B;
@primary-mid:#677786;

@info-lighter:#cce5f6;
@info-light:#99cbed;
@info-mid:#67b2e4;

@success-lighter:#cbf2db;
@success-light:#96e5b8;
@success-mid:#62d995;

@warning-lighter:#fbf0c3;
@warning-light:#f8e187;
@warning-mid:#f5d34b;

@danger-lighter:#f9d2ce;
@danger-light:#f3a59d;
@danger-mid:#ed796d;

@default-light:#e6e6e6;
@default-mid:#cdcdcd;
@default-dark:#9b9b9b;

@title-color:#34495E;
@header-text:#707A7A;

@white:#fff;
@black:#000000;
@submenue-color:#9E9E9E;
@submenue-background-color:#fbfbfb;

@nav-icon-color:#C6C4DB;

@background-color:#F1F3F6;

/*borders*/
@flat-border:1px solid #F1F3F6;
@nav-link-border:1px solid '#E4E5E7';

/*font-size*/
@paragraph:0.9em;

/*padding & margin*/
@small-space:0.5em;
@large-space:1em;
@center: 0 auto;

/*z-index*/
@front-off : 9999;
@Back-off: -1;