#head {
    background-color: #3B97D2;
}

.search-text-box {
    background-color: #3B97D2;
}


.sidebar-wrapper {
    background-color: #fff;
}

.sidebar-nav li a {
    border-bottom: 1px solid #E4E5E7;
    border-right: 1px solid #E4E5E7;
    color: #34495E;
}

.nav-icon {
    color: #C6C4DB;
}

.user-box p {
    color: #fff;
}

.head-box i {
    color: #fff;
}


#company-name{background-color:#2980B9 ;color: #fff;}

.body-header{border-left:5px solid #3B97D2;}

.sidebar-nav .selected a {
    border-left: 4px solid #3B97D2;
}
.sidebar-nav .selected a .nav-icon {
    color: #3B97D2;
}