.wrapper {
  .sidebar-wrapper {
    left: auto;
    right: 250px;
    margin-left: 0;
    margin-right: -250px;

    .sidebar {
      li {
        a {
          .nav-icon {
            float: right;
          }

          .left-arrow {
            float: left;
            margin-right: 0;
            margin-left: 1em;

            &.open {
              margin-top: 0;
            }
          }

          .list-badge {
            right: auto;
            left: 3em;
          }
        }
      }
    }
  }
}