//Mohammad work
@mixin padding-diffrent-values($value1, $value2, $value3, $value4) {
  padding: $value1, $value2, $value3, $value4;
}

@mixin margin($value1, $value2, $value3, $value4) {
  margin: $value1, $value2, $value3, $value4;
}

@mixin css-effect($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin padding($paddingvalue) {
  padding: $paddingvalue;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }

  &::-moz-placeholder {
    color: $color;
  }

  &:-ms-input-placeholder {
    color: $color;
  }

}
