.toast- {
  &success {
    background-color: #2ecc71;
  }

  &danger {
    background-color: #e74c3c;
  }

  &warning {
    background-color: #f1c40f;
  }

  &info {
    background-color: #3498db;
  }

}
