@import '../../vendors/bootstrap-rtl/_bootstrap-rtl.min';

// Compoennts
@import
  'components/sidebar',
  'components/layout',
  'components/header',
  'components/colorOptionsSide',
  'components/modal',
  'components/inputs',
  'components/buttons',
  'components/dataTables';

// Pages
@import
  'pages/index',
  'pages/wizard',
  'pages/chat',
  'pages/colors';

// Shared
@import 'shared';

.no-padding-left {
  padding-right: 0;
}

.no-padding-right {
  padding-left: 0;
}


.wrapper .page-content-wrapper .container-fluid .col-content.body-header .page_title {
  float: left;
}

.wrapper #colors-modal .single-menue-color-box .single-menue-color .col-sm-12 .selected-theme {
  left: 0.5em;
  right: auto;
}

.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
}


/* Email Page */
.inbox-container {
  .inbox-nav {
    float: right;
  }
  .split-view .split-left-side {
    float: right;
    .Emails .Inbox-time {
      text-align: left;
      padding-left: 6px;
      padding-right: inherit;
    }
  }
}

/* Tabs */
.single-tap .single-tap-title {
  text-align: right; 
  .toggle-icon1, .toggle-icons {
    float: left;
  }
}

.panel .panel-heading .panel-actions {
  float: left;
}

.list-group .list-group-item .bootstrap-switch.bootstrap-switch-wrapper {
  float: left;
}

.menu-container .navbar.nav-style .navbar-collapse .navbar-nav .dropdown-menu li a .thumbnail {
  right: 100%;
  left: auto;
}
.menu-container .carousel .item .single-slider .slider-title {
  right: 1em;
  left: inherit;
}

.buget-page .account-personal-info .user-account-info span i {
    margin-left: 0.5em;
    margin-right: auto;
}

.social-left-section .post-container .previous-post .post-table tr td.post-textbox-row .post-user-name, .social-right-section .post-container .previous-post .post-table tr td.post-textbox-row .post-user-name {
  float: right;
  margin-left: 0.5em;
  margin-right: auto;
}
.social-left-section .post-container .previous-post .post-table tr td.post-textbox-row .post-time, .social-right-section .post-container .previous-post .post-table tr td.post-textbox-row .post-time {
  float: right;
}
.social-left-section .post-container .post .post-icons i, .social-right-section .post-container .post .post-icons i {
  margin-left: 0.5em;
  margin-right: auto
}
.social-left-section .singl-right-div, .social-right-section .singl-right-div {
  float: right;
  margin: 0em 0 0em 2em;
}
.social-left-section .trinding-margin .single-trending-content img, .social-right-section .trinding-margin .single-trending-content img {
  float: right;
  margin-left: 0.5em;
  margin-right: auto;
}
.social-left-section .post-container .previous-post .post-icons i, .social-right-section .post-container .previous-post .post-icons i {
  margin-left: 0.5em;
  margin-right: auto;
}