@import '../../vendors/bootstrap-rtl/_bootstrap-rtl.min';


/****************************
******* SIDEBAR *************
*****************************/
.wrapper {
  .sidebar-wrapper {
    left: auto;
    right: 250px;
    margin-left: 0;
    margin-right: -250px;

    .sidebar {
      li {
        a {
          .nav-icon {
            float: right;
          }

          .left-arrow {
            float: left;
            margin-right: 0;
            margin-left: 1em;

            &.open {
              &:before {
                transform-origin: 0%;
              }
            }
          }

          .list-badge {
            right: auto;
            left: 3em;
          }
        }
      }
    }
  }
}

/****************************
******** LAYOUT *************
*****************************/
.pull-right {
  float: left !important;
}

.pull-left {
  float: right !important;
}

.wrapper {
  @media (min-width: 768px) {
    padding-left: 0;
    padding-right: 250px;
  }
}


/****************************
******** HEADER *************
*****************************/
.wrapper {
  .main-dashboard-header {
    .right-side-head {
      float: left;
      margin-right: 0;
      margin-left: 19.4em;

      .right-side-items {
        float: right;
        margin-left: 0;
        margin-right: 1em;

        i.fa-angle-down {
          margin-left: 0;
          margin-right: 1.5em;
        }

        .badge-notify {
          left: 0.6em;
          right: auto;
        }
        
        p {
          float: left;
        }

        img {
          float: right;
          margin-right: 0;
          margin-left: 0.5em;
        }
      }
    }

    .form-group {
      float: right;
      margin-left: 0;
      margin-right: 0.5em;
    }
  }
}


/* User settings dropdown */
.user-info-box {
  left: 1.8em;
  right: auto;
  .arrow-up {
    margin-left: 0.3em;
  }
  .user-info-content .fa {
    margin-left: 0.5em;
  }
}

.arrow-up {
  float: left;
}

.messages-box {
  left: 10.7em;
  right: auto;
}

.notifecations-box {
  left: 14.6em;
  right: auto;
}

.messages-box,
.notifecations-box {

  .arrow-up {
    margin-left: 1.8em;
    margin-right: auto;
  }

  h5 {
    padding: 0em 1em 0em 0em ;
  }

  .single-content-row {
    img {
      float: right;
      margin-left: 0.5em;
      margin-right: auto;
    }

    p {
      b {
        margin-left: 0.5em;
        margin-right: auto;
      }

    }
  }

  .send-message-link {
    float: left;
    margin-right: auto;
    margin-left: 1em;
  }

}

/****************************
***** COLOR OPTIONS *********
*****************************/
.wrapper {
  .right-side-section-toggle {
    right: auto;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

/****************************
******** MODAL **************
*****************************/
.modal.right {
  .modal-dialog {
    right: auto;
    left: 0;
    margin-left: 0;
  }
}

.modals-page-container {
  .preview {
    float: left;
  }
}

/****************************
******** INPUTS *************
*****************************/
.input-field {
  label {
    left: auto;
    right: 0;
  }

  .prefix {
    left: 0;
  }
}

.select2-container--default {
  .select2-selection--single {
    .select2-selection__arrow {
      right: auto;
      left: 1px;
    }

    .select2-selection__rendered {
      text-align: right;
      padding-left: 20px;
      padding-right: 8px;
    }
  }

  .select2-search__field,
  .select2-results__option {
    text-align: right
  }
}

.checkbox {
  label {
    &:before {
      left: auto;
      right: 0;
    }
    &:after {
      padding-left: inherit;
      padding-right: 3px;
      left: auto;
      right: 0;
    }
  }
}

/****************************
******** BUTTONS *************
*****************************/
button.icon-btn,
.btn-group.icon-btn,
input.icon-btn,
a.icon-btn {
  span {
    float: left;
    padding-left: 0;
    padding-right: 2em;
  }
}

/****************************
******** DATA TABLES ********
*****************************/
.dataTables_wrapper {
  .dataTables_paginate {
    text-align: left;
  }
  .dataTables_filter {
    float: left;
    text-align: left;
  }
}



// Pages
/****************************
*********** INDEX ***********
*****************************/
.wrapper {
  .page-content-wrapper.index-page-container {
    .col-content {
      .title {
        .activities-year,
        .add-task,
        .flat-style {
          float: left;
        }
      }

      &.static-height {
        .activities-log .single-to-do-box,
        .to-do-list .single-to-do-box {
          text-align: right;

          i,
          h6 {
            float: left;
          }

          .checkbox.checkbox-inline {
            padding-right: 0;
            padding-left: 20px;

            label {
              padding-right: 20px !important;

              &:before {
                left: auto;
                right: 0;
              }

              &:after {
                left: auto;
                right: 3px;
              }
            }
          }
        }

        .activities-log .single-log-box .flat-style,
        .to-do-list .single-log-box .flat-style {
          float: left;
        }
      }
    }
  }
}

/****************************
*********** Wizard ***********
*****************************/
.rootwizard {
  .tab-content {
    .pager {
      float: left;

      li {
        float: left;
        
        button {
          padding-right: 12px;
          padding-left: 2em;
        }

        &.next {
          .glyphicon-chevron-right {
            transform: rotate(180deg);
            padding-right: 0;
            padding-left: 2em;
          }
        }

        &.previous {
          .glyphicon-chevron-left {
            float: right;
            transform: rotate(180deg);
            padding-right: 2em;
            padding-left: 0;
          }

          button {
            margin-right: 0;
            margin-left: 0.5em;
          }
        }
      }
    }
  }
}


/****************************
*********** CHAT ***********
*****************************/
.inbox-container {
  .inbox-nav {
    .inbox-list {
      ul {
        padding-left: 0;
        padding-right: 0.5em;

        li {
          a {
            i {
              margin-right: 0;
              margin-left: 0.6em;
            }

            span {
              margin-left: 0;
              margin-right: 1em;
              float: left;
              margin-top: 14px;
            }
          }

          .Inboxsubmenue {
            margin-left: 0;
            margin-right: 1em;
          }
        }
      }
    }
  }

  .split-view {
    .split-right-side {
      .email-header {
        .Message-btns {
          float: right;
        }
      }

      .email-content-top {
        .user-image,
        .sender-info {
          float: right;
        }

        .sender-info {
          h5,
          p {
            text-align: right
          }
        }

        h4 {
          text-align: right;
          margin-left: 0;
          margin-right: 1em;
        }
      }

      .Emai-text {
        text-align: right
      }
    }

    .split-left-side {
      .inbox-date {
        a {
          i {
            float: left;
            margin-right: 0;
            margin-left: 1em;
          }
        }
      }
    }
  }
}


/****************************
*********** CHAT ***********
*****************************/
.all-base-colors {
  .col-sm-4 {
    .single-color-box {
      padding: 0.2em 0.5em 0.2em 0;
    }
  }
}

.colors-page {
  .single-menue-color-box {
    .preview {
      right: auto;
      left: 0;
    }
  }
}

.colors-page {
  .colors-library {
    .col-sm-12 {
      .col-sm-3 {
        text-align: left;
      }
    }
  }
}



/****************************
*********** SHARED ***********
*****************************/
.wrapper {
  .page-content-wrapper {
    .col-content {
      &.body-header {
        border-left: none;
        border-right: 5px solid #3b97d2;
      }
    }
  }
}

.no-padding-left {
  padding-right: 0;
}

.no-padding-right {
  padding-left: 0;
}

.wrapper .page-content-wrapper .container-fluid .col-content.body-header .page_title {
  float: left;
}

.wrapper #colors-modal .single-menue-color-box .single-menue-color .col-sm-12 .selected-theme {
  left: 0.5em;
  right: auto;
}


/****************************
*********** SOCIAL ***********
*****************************/

.social-left-section, .social-right-section {
  .post-container {
    .post {
      .post-icons {
        i {
          margin-left: 0.5em;
          margin-right: auto
        }
      }
    }
    .previous-post {
      .post-icons {
        i {
          margin-left: 0.5em;
          margin-right: auto;
        }
      }
      .post-table {
        tr {
          td.post-textbox-row {
            .post-user-name {
              float: right;
              margin-left: 0.5em;
              margin-right: auto;
            }
            .post-time {
              float: right;
            }
          }
        }
      }
    }
  }
  .singl-right-div {
    float: right;
    margin: 0em 0 0em 2em;
  }
  .trinding-margin {
    .single-trending-content {
      img {
        float: right;
        margin-left: 0.5em;
        margin-right: auto;
      }
    }
  }
}

/****************************
*********** EMAIL ***********
*****************************/

.inbox-container {
  .inbox-nav {
    float: right;
  }
  .split-view .split-left-side {
    float: right;
    .Emails .Inbox-time {
      text-align: left;
      padding-left: 6px;
      padding-right: inherit;
    }
  }
}

/****************************
*********** TABS ***********
*****************************/
.single-tap .single-tap-title {
  text-align: right; 
  .toggle-icon1, .toggle-icons {
    float: left;
  }
}

/****************************
*********** PANELS ***********
*****************************/
.panel .panel-heading .panel-actions {
  float: left;
}

.list-group .list-group-item .bootstrap-switch.bootstrap-switch-wrapper {
  float: left;
}


/****************************
*********** MENUS ***********
*****************************/
.menu-container .navbar.nav-style .navbar-collapse .navbar-nav .dropdown-menu li a .thumbnail {
  right: 100%;
  left: auto;
}
.menu-container .carousel .item .single-slider .slider-title {
  right: 1em;
  left: inherit;
}

.buget-page .account-personal-info .user-account-info span i {
    margin-left: 0.5em;
    margin-right: auto;
}


/****************************
*********** TABLES ***********
*****************************/

.users-table, .dashed-table, .colored-table {
  .users-table-body {
    tr {
      td {
        img {
          float: right;
          margin-left: 0.6em;
          margin-right: auto;
        }
      }
    }
    .active-user-acount {
      img {
        border: none;
        border-right: 4px solid #67b2e4;
      }
    }
  }
}

